
		<!-- Titlebar -->
		<div id="titlebar">
			<div class="row">
				<div class="col-md-12">
					<h2>{{i18n "welcome"}}, {{userInfo.name.full}}!</h2><br><p>{{i18n "admin_welcome_message"}}</p>
					<!-- Breadcrumbs -->
					<nav id="breadcrumbs">
						<ul>
							<li><a href="#">{{i18n "home"}}</a></li>
							<li>{{i18n "dashboard"}}</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>

		<!-- Notice
		<div class="row">
			<div class="col-md-12">
				<div class="notification success closeable margin-bottom-30">
					<p>Felicidades <strong>Hotel Govendor</strong> has been approved!</p>
					<a class="close" href="#"></a>
				</div>
			</div>
		</div> -->

		<!-- Content -->
		<div class="row">

			<!-- Item -->
			<div class="col-lg-3 col-md-6">
				<a href="/admin/profile">
				<div class="dashboard-stat color-1">
					<div class="dashboard-stat-content"><h3 class="dashboard">{{i18n "edit_my_profile"}}</h3> <span></span></div>
					<div class="dashboard-stat-icon"><i class="fa fa-user-plus"></i></div>
				</div>
				</a>
			</div>

			<!-- Item -->
			<div class="col-lg-3 col-md-6">
				<a href="/admin/tour/add">
				<div class="dashboard-stat color-2">
					<div class="dashboard-stat-content"><h3 class="dashboard">{{i18n "add_new_activity"}}</h3> <span></span></div>
					<div class="dashboard-stat-icon"><i class="fa fa-plus-circle"></i></div>
				</div>
				</a>
			</div>

			
			<!-- Item -->
			<div class="col-lg-3 col-md-6">
				<a href="/admin/booking/list">
				<div class="dashboard-stat color-3">
					<div class="dashboard-stat-content"><h3 class="dashboard">{{i18n "see_my_bookings"}}</h3> <span></span></div>
					<div class="dashboard-stat-icon"><i class="fa fa-calendar"></i></div>
				</div>
				</a>
			</div>

			<!-- Item -->
			<div class="col-lg-3 col-md-6">
				<div class="dashboard-stat color-4">
					<div class="dashboard-stat-content"><h3 class="dashboard">{{i18n "account_status"}}:</h3> <span>{{i18n "status"}}</span></div>
					<div class="dashboard-stat-icon"><i class="fa fa-info"></i></div>
				</div>
			</div>
		</div>

<!--
		<div class="row">
		
			<div class="col-lg-6 col-md-12">
				<div class="dashboard-list-box with-icons margin-top-20">
					<h4>Recent Activities</h4>
					<ul>
						<li>
							<i class="list-box-icon sl sl-icon-layers"></i> Your listing <strong><a href="#">Hotel Govendor</a></strong> has been approved!
							<a href="#" class="close-list-item"><i class="fa fa-close"></i></a>
						</li>

						
					</ul>
				</div>
			</div>
			
			<div class="col-lg-6 col-md-12">
				<div class="dashboard-list-box invoices with-icons margin-top-20">
					<h4>Compras</h4>
					<ul>
						
						<li><i class="list-box-icon sl sl-icon-doc"></i>
							<strong>Admission Ticket - Adult</strong>
							<ul>
								<li class="paid">Paid</li>
								<li>Order: #00124</li>
								<li>Date: 20/07/2017</li>
							</ul>
							<div class="buttons-to-right">
								<a href="dashboard-invoice.html" class="button gray">Ver Compra</a>
							</div>
						</li>

					</ul>
				</div>
			</div>
</div>
-->
<script>
	$(function(){
		$('#admin').addClass("active");
	})
</script>