<a href="/tour/{{slug}}" class="listing-item-container" tabindex="0"> 
	<div class="listing-item">
		{{#if heroImage.secure_url}} <!-- fall back -->
		<img src="https://res.cloudinary.com/triptable/image/upload/w_600/v{{heroImage.version}}/{{heroImage.public_id}}.{{heroImage.format}}" alt="">
		{{else}}
		<img src="https://res.cloudinary.com/triptable/image/upload/c_fill,h_400,w_600,q_auto/v{{images.0.version}}/{{images.0.public_id}}.{{images.0.format}}" alt="{{name}}" />
    {{/if}}
		<div class="listing-item-details">
			<ul>
				<li><i class="fa fa-users"></i> {{minPerson}} - {{maxPerson}} Personas </li>
			</ul>
		</div>
		<div class="listing-badge now-open"><strong>-15% OFF</strong></div>
		<div class="listing-item-content">
			<h3>{{name}}</h3>
			<span><i class="fa fa-map-marker"></i> {{city.city}}</span>
		</div>
	</div>
	<div class="star-rating price">
		<h3 class="tour-price">{{getCurrency}} {{getPriceInCurrency price}} <span class="tour-price"> Por Persona</span></h3>
	</div>

</a>