<!doctype html>
<html lang="es">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	{{#if meta.title}}
	<title>{{meta.title}}</title>
	{{else}}
	<title>Triptable: Reserva Tours, Actividades y Qué hacer en Panama</title>
	{{/if}}
	<meta name="author" content="Triptable">
	{{#if meta.keywords}}
	<meta name="keywords" content="tours, experiencias, reserva, cosas que hacer, trips, {{meta.keywords}}" />
	{{else}}
	<meta name="keywords" content="tours panama, latinoamerica, tours, que hacer, booking, trips, travel, turismo, panama" />
	{{/if}}
	{{#if meta.description}}
	<meta name="description" content="{{meta.description}}">
	{{else}}
	<meta name="description" content="Reserva tours, actividades, viajes y turismo en Panama. Con Triptable reservas experiencias locales unicas.">
	{{/if}}
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	{{#if meta.ogTitle}}
	<meta property="og:title" content="{{meta.ogTitle}}"/>
	{{else}}
	<meta property="og:title" content="Triptable: Reserva Tours y Actividades en Panamá."/>
	{{/if}}
	{{#if meta.ogDescription}}
	<meta property="og:description" content="{{meta.ogDescription}}" />
	{{else}}
	<meta property="og:description" content="Descubre y reserva tours, actividades, viajes y turismo en Panama. Con Triptable reservas experiencias locales unicas." />
	{{/if}}
	{{#if meta.url}}
	<meta property="og:url" content="{{meta.url}}"/>
  <link rel="canonical" href="{{meta.url}}" />
	{{else}}
	<meta property="og:url" content="https://www.triptable.com"/>
  <link rel="canonical" href="https://www.triptable.com" />
	{{/if}}
	<meta property="og:site_name" content="Triptable: Reserva Tours y Actividades"/>
  {{#if meta.ogType}}
  <meta property="og:type" content="{{meta.ogType}}"/>
  {{else}}
	<meta property="og:type" content="website"/>
  {{/if}}
	{{#if meta.image}}
	<meta property="og:image" content="{{meta.image}}" />
	<meta property="og:image:secure_url"  content="{{meta.image}}" />
	{{else}}
	<meta property="og:image" content="https://res.cloudinary.com/triptable/image/upload/c_fill,q_60,w_1440/v1460674515/01_tqumqz.jpg" />
	<meta property="og:image:secure_url" content="https://res.cloudinary.com/triptable/image/upload/c_fill,q_60,w_1440/v1460674515/01_tqumqz.jpg" />
	{{/if}}
	<meta name="google-site-verification" content="jctPUXViGb3yIsxIi2lOeA4QrTx2CNcKZNh0ItPdXhw" />

	<!-- Fav and Touch Icons
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">-->

	<!-- CSS Font Icons -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/icons/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,300,600,600italic,700,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

	<!-- Google Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,300italic,300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

	<!-- CSS Plugins -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" media="screen">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" media="screen">

	<link href="/css/dist/style.min.css" rel="stylesheet">
	<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/1.11.3/jquery.min.js"></script>
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<!--<script src="//load.sumome.com/" data-sumo-site-id="f876fa10f15374d57dcfe45217b9478a15f70c1704130dca47934eacceb34c53" async="async"></script> -->
</head>

<body>

	<div id="introLoader" class="introLoading"></div>

	<!-- BEGIN # MODAL LOGIN -->
	<div class="modal fade modal-login modal-border-transparent" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">

				<button type="button" class="btn btn-close close" data-dismiss="modal" aria-label="Close">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</button>

				<div class="clear"></div>

				<!-- Begin # DIV Form -->
				<div id="modal-login-form-wrapper">

					<!-- Begin # Login Form -->
					<form id="login-form">

						<div class="modal-body pb-5">

							<h4 class="text-center heading mt-10 mb-20">Ingresa</h4>

							<button class="btn btn-facebook btn-block">Ingresa con Facebook</button>

							<div class="modal-seperator">
								<span>o</span>
							</div>

							<div class="form-group">
								<input id="login_username" class="form-control" placeholder="email" type="text">
							</div>
							<div class="form-group">
								<input id="login_password" class="form-control" placeholder="contraseña" type="password">
							</div>

							<div class="form-group">
								<div class="row gap-5">
									<div class="col-xs-6 col-sm-6 col-md-6">
										<div class="checkbox-block fa-checkbox">
											<input id="remember_me_checkbox" name="remember_me_checkbox" class="checkbox" value="First Choice" type="checkbox">
											<label class="" for="remember_me_checkbox">recuérdame</label>
										</div>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6 text-right">
										<button id="login_lost_btn" type="button" class="btn btn-link">¿Olvidaste tu contraseña?</button>
									</div>
								</div>
							</div>

						</div>

						<div class="modal-footer">

							<div class="row gap-10">
								<div class="col-xs-6 col-sm-6 mb-10">
									<button type="submit" class="btn btn-primary btn-block">Ingresa</button>
								</div>
								<div class="col-xs-6 col-sm-6 mb-10">
									<button type="submit" class="btn btn-primary btn-block btn-inverse" data-dismiss="modal" aria-label="Close">Cancelar</button>
								</div>
							</div>
							<div class="text-left">
								No tienes cuenta?
								<button id="login_register_btn" type="button" class="btn btn-link">Regístrate</button>
							</div>

						</div>
					</form>
					<!-- End # Login Form -->

					<!-- Begin | Lost Password Form -->
					<form id="lost-form" style="display:none;">
						<div class="modal-body pb-5">

							<h3 class="text-center heading mt-10 mb-20">Recuperar Contraseña</h3>
							<div class="form-group mb-10">
								<input id="lost_email" class="form-control" type="text" placeholder="Ingresa tu Email">
							</div>

							<div class="text-center">
								<button id="lost_login_btn" type="button" class="btn btn-link">Ingresa</button> o
								<button id="lost_register_btn" type="button" class="btn btn-link">Regístrate</button>
							</div>

						</div>

						<div class="modal-footer mt-10">

							<div class="row gap-10">
								<div class="col-xs-6 col-sm-6">
									<button type="submit" class="btn btn-primary btn-block">Enviar</button>
								</div>
								<div class="col-xs-6 col-sm-6">
									<button type="submit" class="btn btn-primary btn-inverse btn-block" data-dismiss="modal" aria-label="Close">Cancelar</button>
								</div>
							</div>

						</div>

					</form>
					<!-- End | Lost Password Form -->

					<!-- Begin | Register Form -->
					<form id="register-form" method="POST" action="/signup" style="display:none;">
						<input type="hidden" name="action" value="login">

						<div class="modal-body pb-5">

							<h3 class="text-center heading mt-10 mb-20">Regístrate</h3>

							<button class="btn btn-facebook btn-block">Regístrate con Facebook</button>

							<div class="modal-seperator">
								<span>o</span>
							</div>


							<div class="form-group">
								<input id="register_name" name="name" value="" class="form-control" type="text" placeholder="Nombre">
							</div>

							<div class="form-group">
								<input id="register_email" name="email", value="" class="form-control" type="email" placeholder="Email">
							</div>

							<div class="form-group">
								<input id="register_password" name='password', value="" class="form-control" type="password" placeholder="Contraseña">
							</div>
							<div class="form-group">
								<input id="register_password" name='password_confirm' value="" class="form-control" type="password" placeholder="Contraseña">
							</div>

						</div>

						<div class="modal-footer mt-10">

							<div class="row gap-10">
								<div class="col-xs-6 col-sm-6 mb-10">
									<button type="submit" class="btn btn-primary btn-block">Regístrate</button>
								</div>
								<div class="col-xs-6 col-sm-6 mb-10">
									<button type="submit" class="btn btn-primary btn-inverse btn-block" data-dismiss="modal" aria-label="Close">Cancelar</button>
								</div>
							</div>

							<div class="text-left">
									¿Ya tienes una Cuenta? <button id="register_login_btn" type="button" class="btn btn-link">Ingresa</button>
							</div>

						</div>

					</form>
					<!-- End | Register Form -->

				</div>
				<!-- End # DIV Form -->

			</div>
		</div>
	</div>
	<!-- END # MODAL LOGIN -->

	<!-- start Container Wrapper -->
	<div class="container-wrapper">

		<!-- start Header -->
		<header id="header">

			<!-- start Navbar (Header) -->
			<nav class="navbar navbar-primary navbar-fixed-top navbar-sticky-function">

				<div class="navbar-top">

					<div class="container">

						<div class="flex-row flex-align-middle">
							<div class="flex-shrink flex-columns">
								<a class="navbar-logo" href="/" style=" color: ghostwhite; font-size: xX-large; font-family: 'Lobster', 'Lato', SANS-SERIF; letter-spacing: 1.5px;">
									Triptable
									<!-- <img src="/images/logo.png" alt="Logo" /> -->
								</a>
							</div>
							<div class="flex-columns">
								<div class="pull-right">

									<div class="navbar-mini">
										<ul class="clearfix">
<!--                       <li class="user-action dropdown bt-dropdown-click hidden-xs">
												<a id="language-dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
													<i class="ion-social-usd hidden-xss"></i> Dollar
													<span class="caret"></span>
												</a>
												<ul class="dropdown-menu" aria-labelledby="language-dropdown">
													<li><a href="#"><i class="ion-social-usd"></i> Cerrar Sesión</a></li>
													<li><a href="#"><i class="ion-social-euro"></i> Europe</a></li>
													<li><a href="#"><i class="ion-social-yen"></i> Yen</a></li>
												</ul>
											</li> -->
                      {{#if userInfo}}
                      <li class="dropdown bt-dropdown-click">
												<a id="language-dropdown" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color:white;">
													<i></i> Bienvenido {{userInfo.name.first}}
													<span class="caret hidden-xs"></span>
												</a>
												<ul class="dropdown-menu" aria-labelledby="language-dropdown">
                          {{#unless isGuide}}
													<li><a href="/user" class="">Mis Reservas</a></li>
                          {{/unless}}
                          {{#if isAdmin}}
													<li><a href="/keystone" class="">Panel de Administracion</a></li>
                          {{/if}}
                          {{#if isGuide}}
													<li><a href="/admin" class="">Mis Tours</a></li>
                          {{/if}}
													<li><a href="/keystone/signout"><i class="ion-social-yen"></i> Cerrar Sesión</a></li>
												</ul>
											</li>
                      {{else}}
											 <li class="user-action no-margin hidden-xs hidden-sm">
												<a href="/partners" class="btn no-border">Listar un tour</a>
											</li>

                       <li class="user-action no-margin hidden-xs hidden-sm">
												<a href="/signup" class="btn no-border">Registrarse</a>
											</li>
                      <li class="user-action">
												<a href="/signin" class="btn">Entrar</a>
											</li>
                      {{/if}}

										</ul>
									</div>

								</div>
							</div>
						</div>

					</div>

				</div>

				<div class="navbar-bottom hidden-sm hidden-xs">

					<div class="container">

						<div class="row">

							<div class="col-sm-9">
                 {{#if userInfo}}
                 <div id="navbar" class="collapse navbar-collapse navbar-arrow">
									<ul class="nav navbar-nav" id="responsive-menu">
										<li><a href="/">Inicio</a>
										</li>
										<!--<li><a href="#">Acerca de Nosotros</a>
										</li> -->
                     {{#unless isGuide}}
											<li><a href="/user" class="">Mis Reservas</a></li>
                     {{/unless}}
										 {{#if isAdmin}}
										  <li><a href="/keystone" class="">Panel de Administracion</a></li>
                     {{/if}}
                     {{#if isGuide}}
										  <li><a href="/admin" class="">Mis Tours</a></li>
                     {{/if}}
                      <li><a href="mailto:hello@triptable.com">Contáctanos</a></li>
										<li class="visible-sm visible-xs"><a href="/keystone/signout">Cerrar Sesión</a></li>
									</ul>
								</div><!--/.nav-collapse -->
                {{else}}
                <div id="navbar" class="collapse navbar-collapse navbar-arrow">
									<ul class="nav navbar-nav" id="responsive-menu">
                    <li><a href="/">Inicio</a></li>
										<li><a href="/nosotros">¿Quienes Somos?</a></li>
										<li><a href="/partners">Tour Operadores</a>
                    <li class="visible-sm visible-xs"><a href="/partners">Listar un tour</a></li>
                    <li class="visible-sm visible-xs"><a href="/signup">Registrarse</a></li>
										</li>

										<li><a href="mailto:hello@triptable.com">Contáctanos</a></li>
									</ul>
								</div><!--/.nav-collapse -->

                {{/if}}
							</div>

							<div class="col-sm-3">

								<div class="navbar-phone"><i class="fa fa-phone"></i> Llámanos: +507 680 800 24</div>

							</div>

						</div>

					</div>

				</div>

				<div id="slicknav-mobile"></div>

			</nav>
			<!-- end Navbar (Header) -->

		</header>

		<div class="clear"></div>

			{{{body}}}

		<footer class="footer scrollspy-footer">

			<div class="container">

				<div class="main-footer">

					<div class="row">

						<div class="col-xs-12 col-sm-5 col-md-3">

							<div class="footer-logo row" style="margin:0px;">
								<a class="navbar-logo" href="/" style=" color: #3498db; font-size: 50px; font-family: 'Lobster', 'Lato', SANS-SERIF; letter-spacing: 1.5px";>
									Triptable
									<!-- <img src="/images/logo.png" alt="Logo" /> -->
								</a>
							</div>

							<p class="footer-address">Edificio 234, Ciudad del Saber, Clayton, República de Panamá <br/> <i class="fa fa-phone"></i> +507 680 800 24 <br/> <i class="fa fa-phone"></i> +507 671 235 55<br/> <i class="fa fa-envelope-o"></i> <a href="#">hello@triptableapp.com</a></p>

							<div class="footer-social">

								<a href="http://facebook.com/triptable" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
								<a href="https://twitter.com/triptableapp" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
								<a href="http://instagram.com/triptable" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a>

							</div>

							<p class="copy-right">&#169; Copyright 2016 Triptable. Todos los Derechos Reservados</p>

						</div>

						<div class="col-xs-12 col-sm-7 col-md-9">

							<div class="row gap-10">

								<div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-6 mt-30-xs">

									<h5 class="footer-title">Acerca de Triptable</h5>

									<ul class="footer-menu">

										<li><a href="/nosotros">Quienes Somos</a></li>
										<li><a href="https://blog.triptableapp.com/">Blog de Viajes</a></li>
										<li><a href="/terminos">Términos y Condiciones</a></li>
										<li><a href="mailto:hello@triptableapp.com">Contactanos</a></li>

									</ul>

								</div>


								<div class="col-xs-12 col-sm-4 col-md-3 mt-30-xs">

									<h5 class="footer-title">Trabaja con Nosotros</h5>

									<ul class="footer-menu">

										<li><a href="/partners">Tour Operadores</a></li>
										<li><a href="/partners">Guías Turísticos</a></li>
										<li><a href="/partners">Agencias de Viaje</a></li>
										<li><a href="/partners">Servicios de Transporte</a></li>

									</ul>

								</div>

							</div>
              <div class="row gap-10">
                <div class="col-xs-12 col-sm-6 col-md-6 col-md-offset-6 mt-30-xs" style="margin-top:10px;">
									<h5 class="footer-title" style="margin:10px 0px">Reserva de manera segura con:</h5>
                   <div class="col-xs-2" style="padding:0px 10px 0px 0px;"><img src="/css/images/visa.png" /></div>
                   <div class="col-xs-2" style="padding:0px 10px 0px 0px;"><img src="/css/images/mastercard.png" /></div>

              </div>

						</div>

					</div>

				</div>

			</div>

		</footer>

	</div>  <!-- end Container Wrapper -->



	<!-- start Back To Top
	<div id="back-to-top">
		 <a href="#"><i class="fa fa-angle-up"></i></a>
	</div>
	end Back To Top -->



<!-- JS -->
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/js/SmoothScroll.min.js"></script>
<script type="text/javascript" src="/js/jquery.slicknav.min.js"></script>
<script type="text/javascript" src="/js/jquery.placeholder.min.js"></script>
<script type="text/javascript" src="/js/instagram.min.js"></script>
<script type="text/javascript" src="/js/spin.min.js"></script>
<script type="text/javascript" src="/js/jquery.introLoader.min.js"></script>
<script type="text/javascript" src="/js/select2.full.js"></script>
<script type="text/javascript" src="/js/jquery.responsivegrid.js"></script>
<script type="text/javascript" src="/js/ion.rangeSlider.min.js"></script>
<script type="text/javascript" src="/js/readmore.min.js"></script>
<script type="text/javascript" src="/js/slick.min.js"></script>
<script type="text/javascript" src="/js/validator.min.js"></script>
<script type="text/javascript" src="/js/jquery.raty.js"></script>
<script type="text/javascript" src="/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/locale/es.js"></script>
<script type="text/javascript" src="/js/customs.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-55649894-1', 'auto');
  ga('send', 'pageview');

</script>
<script type="text/javascript">
/**
*  Sidebar Sticky
*/

!function ($) {

  $(function(){

    var $window = $(window)
    var $body   = $(document.body)

    var navHeight = $('.navbar').outerHeight(true) + 50

    $body.scrollspy({
      target: '.scrollspy-sidebar',
      offset: navHeight
    })

    $window.on('load', function () {
      $body.scrollspy('refresh')
    })

    $('.scrollspy-container [href=#]').click(function (e) {
      e.preventDefault()
    })

    // back to top
    setTimeout(function () {
      var $sideBar = $('.scrollspy-sidebar')

      $sideBar.affix({
        offset: {
          top: function () {
            var offsetTop      = $sideBar.offset().top
            var sideBarMargin  = parseInt($sideBar.children(0).css('margin-top'), 10)
            var navOuterHeight = $('.scrollspy-nav').height()

            return (this.top = offsetTop - navOuterHeight - sideBarMargin)
          }
        , bottom: function () {
            return (this.bottom = $('.scrollspy-footer').outerHeight(true))
          }
        }
      })
    }, 100)

  })

}(window.jQuery)

</script>
<script>
  window.intercomSettings = {
    app_id: "eimw7fx8"
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/eimw7fx8';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>

{{#if userInfo}}
<script type="text/javascript">
  window.intercomSettings = {
    app_id: "eimw7fx8",
    name: "{{userInfo.name.full}}", // Full name
    email: "{{userInfo.email}}", // Email address
    //created_at: 1312182000 // Signup date as a Unix timestamp
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/eimw7fx8';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
{{/if}}
</body>
</html>