<!DOCTYPE html>
<head>
<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
{{#if meta.title}}
	<title>{{meta.title}}</title>
	{{else}}
	<title>{{i18n "title"}}</title>
	{{/if}}
	<meta name="author" content="Triptable">
	{{#if meta.keywords}}
	<meta name="keywords" content="tours, experiencias, excursiones, reserva, cosas que hacer, trips, {{meta.keywords}}" />
	{{else}}
	<meta name="keywords" content="tours en latinoamerica, tours, excursiones, que hacer, booking, trips, travel, turismo, latinoamerica" />
	{{/if}}
	{{#if meta.description}}
	<meta name="description" content="{{meta.description}}">
	{{else}}
	<meta name="description" content="{{i18n "meta_description"}}">
	{{/if}}
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	{{#if meta.ogTitle}}
	<meta property="og:title" content="{{meta.ogTitle}}"/>
	{{else}}
	<meta property="og:title" content="Triptable: Reserva Tours y Actividades en Panamá."/>
	{{/if}}
	{{#if meta.ogDescription}}
	<meta property="og:description" content="{{meta.ogDescription}}" />
	{{else}}
	<meta property="og:description" content="Descubre y reserva tours, actividades, viajes y turismo en Panama. Con Triptable reservas experiencias locales unicas." />
	{{/if}}
	{{#if meta.url}}
	<meta property="og:url" content="{{meta.url}}"/>
  <link rel="canonical" href="{{meta.url}}" />
	{{else}}
	<meta property="og:url" content="https://www.triptable.com"/>
  <link rel="canonical" href="https://www.triptable.com" />
	{{/if}}
	<meta property="og:site_name" content="Triptable: Reserva Tours y Actividades"/>
  {{#if meta.ogType}}
  <meta property="og:type" content="{{meta.ogType}}"/>
  {{else}}
	<meta property="og:type" content="website"/>
  {{/if}}
	{{#if meta.image}}
	<meta property="og:image" content="{{meta.image}}" />
	<meta property="og:image:secure_url"  content="{{meta.image}}" />
	{{else}}
	<meta property="og:image" content="https://res.cloudinary.com/triptable/image/upload/c_fill,q_60,w_1440/v1460674515/01_tqumqz.jpg" />
	<meta property="og:image:secure_url" content="https://res.cloudinary.com/triptable/image/upload/c_fill,q_60,w_1440/v1460674515/01_tqumqz.jpg" />
	{{/if}}
	<meta name="google-site-verification" content="jctPUXViGb3yIsxIi2lOeA4QrTx2CNcKZNh0ItPdXhw" />

<!-- CSS
================================================== -->
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/colors/blue.css" id="colors">
<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.8.0/css/flag-icon.min.css" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/css/custom.css">
<script type="text/javascript" src="/scripts/jquery-2.2.0.min.js"></script>
<!--Tour CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/raty/2.8.0/jquery.raty.min.css">

</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

<!-- Header Container
================================================== -->

<header id="header-container">

	<!-- Header -->
	<div id="header">
		<div class="container-fluid">
			
			<!-- Left Side Content -->
			<div class="left-side">
				
				<!-- Logo -->
				<div id="logo">
					<a href="/"><img src="/images/logo3.png" alt=""></a>
				</div>
				<!-- Mobile Navigation -->
				<div class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</div>

				<!-- Main Navigation -->
				<nav id="navigation" class="style-1">
					<ul id="responsive">

						<!--<li><a class="current" href="#">Home</a>
							<ul>
								<li><a href="index.html">Home 1</a></li>
								<li><a href="index-2.html">Home 2</a></li>
								<li><a href="index-3.html">Home 3</a></li>
								<li><a href="index-4.html">Home 4</a></li>
							</ul>
						</li>-->

						<li><a href="/search"><i class="im im-icon-Location-2"></i> Tours</a> <!--One page with info about us, how it works, general faq, all connected -->
							<ul>
								<li><a href="/panama">{{i18n "tours_in"}} Panamá <span class="flag-icon flag-icon-pa"></span></a>
									<ul>
										<li><a href="/destino/san-blas-guna-yala">{{i18n "tours_to"}} San Blas</a></li>
										<li><a href="/tour/tour-por-el-canal-de-panama-transito-parcial-tour-de-medio-dia">{{i18n "tours_to"}} {{i18n "panama_canal"}}</a></li>
										<li><a href="/destino/bocas-del-toro">{{i18n "tours_in"}} Bocas del Toro</a></li>
										<li><a href="/destination/chiriqui">{{i18n "tours_in"}} Chiriqui</a></li>
									</ul>
								</li>
								<li><a href="/colombia">{{i18n "tours_in"}} Colombia <span class="flag-icon flag-icon-co"></span></a>
									<ul>
										<li><a href="/destino/medellin">{{i18n "tours_in"}} Medellín</a></li>
										<li><a href="/destino/bogota">{{i18n "tours_in"}} Bogotá</a></li>
										<li><a href="/destino/cartagena">{{i18n "tours_in"}} Cartagena</a></li>
										<li><a href="/destino/santa-marta">{{i18n "tours_in"}} Parque Tayrona </a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<a href="/faq"><i class="im im-icon-Information"></i> {{i18n "help"}}</a>
						</li>
						
						<li><a href="#" id="lang-select"></a>
							<ul>
								<li><a href="?lang=es"><i class="flag-icon flag-icon-es"></i> Español</a></li>
								<li><a href="?lang=en"><i class="flag-icon flag-icon-gb"></i> English </a></li>
							</ul>
						</li>
						<li>
							<a href="#" id="currency-select"><i class="im im-icon-Dollar-Sign"></i> </a>
							<ul>
								<li><a href="/currency/USD">$ USD</a></li>
								<li><a href="/currency/EUR">€ EUR</a></li>
								<li><a href="/currency/COP">$ COP</a></li>
								<li><a href="/currency/CNY">¥ CNY</a></li>
								<li><a href="/currency/BRL">R$ BRL</a></li>
							</ul>
						</li>
						<li><a href="/mybooking" id="" class=""><i class="fa fa-calendar-check-o"></i> {{i18n "verify_booking"}}</a></li>
						{{#if userInfo}}
						<li id="loginLink" class="header-left"><a href="#">{{userInfo.name.first}}</a>
							<ul>
								<li><a href="/user">{{i18n "my_bookings"}}</a></li>
								<li><a href="/admin">{{i18n "my_bookings_admin"}}</a></li>
								{{#if isAdmin}}
								<li><a href="/keystone">Keystone</a></li>
								{{/if}}
								<li><a href="/keystone/signout">{{i18n "signout"}}</a></li>
							</ul>
						</li>
						{{else}}
						<li  id="loginLink" class="header-left">
							<a href="#sign-in-dialog" id="signInBtn" class="sign-in popup-with-zoom-anim"><i class="sl sl-icon-login"></i> {{i18n "signin"}}</a></li>
						{{/if}}	
					</ul>
				</nav>
				<div class="clearfix"></div>
				<!-- Main Navigation / End -->
			</div>
			<!-- Left Side Content / End -->
			<script>
				$(document).ready(function(){
					var lang= "{{lang}}";
					if (lang == "en"){
						var str = '<i class="flag-icon flag-icon-gb">';
						$('#lang-select').html(str);
					} else {
						var str = '<i class="flag-icon flag-icon-{{lang}}">';
						$('#lang-select').html(str);
					};
					var currency =  "{{data.currency}}";
				
					$('#currency-select').append(currency);

					
				//	$('#currency-select').HTML(currency);
	
				});

			
			</script>

			<!-- Right Side Content / End 
			<div class="right-side">
				<div class="header-widget">
			
					
						
						
			<div class="header-widget">
					
					<a href="dashboard-add-listing.html" class="button border with-icon">Listar un Tour <i class="sl sl-icon-plus"></i></a>
				</div>
			</div>
			</div>-->

			<!-- Sign In Popup -->
			<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">

				<div class="small-dialog-header">
					<h3>{{i18n "signin"}}</h3>
				</div>

				<!--Tabs -->
				{{>item/signin-form}}
			



			</div>
			<!-- Sign In Popup / End -->

		</div>
	</div>
	<!-- Header / End -->

</header>
<div class="clearfix"></div>
<!-- Header Container / End -->
{{{body}}}
<!-- Footer
================================================== -->
<div id="footer" class="sticky-footer">
	<!-- Main -->
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<img class="footer-logo" src="/images/logo3.png" alt="">
				<br><br>
				<div class="text-widget">
					<span>Sortis Business Tower, Floor 20, Office 2030, Panama City</span> <br>
					<i class="fa fa-whatsapp"></i> Book from Whatsapp: <span>+507 6596-2034 </span><br>
					<i class="fa fa-phone"></i> {{i18n "panama"}}: <span>+507 833-6195 </span><br>
					<i class="fa fa-phone"></i> US: <span>+1-415-574-0992 </span><br>
					<span> <a href="mailto:hello@triptable.com">Email hello@triptable.com</a> </span><br>
					<a class="social-icon footer" target="_blank" href="http://facebook.com/triptable"><i class="fa fa-facebook"></i></a>
					<a class="social-icon footer" target="_blank" href="http://twitter.com/triptable_es"><i class="fa fa-twitter"></i></a>
					<a class="social-icon footer" target="_blank" href="http://instagram.com/triptable"><i class="fa fa-instagram"></i></a>
					<a class="social-icon footer" target="_blank" href="https://www.youtube.com/channel/UCZfAsdVrqcTAZk2PoHbiZTw"><i class="fa fa-youtube"></i></a>
				</div>
					
				</div>

				<div class="col-md-3">
				<h4 class="footer-title">{{i18n "tours"}}</h4>
				<ul class="footer-links">
					<li><a href="/destino/panama-city">{{i18n "tours_in"}} Panama City</a></li>
					<li><a href="/destino/san-blas-guna-yala">{{i18n "tours_in"}} San Blas Guna Yala</a></li>
					<li><a href="/destino/bocas-del-toro">{{i18n "tours_in"}} Bocas del Toro</a></li>
					<li><a href="/destino/cartagena">{{i18n "tours_in"}} Cartagena</a></li>
					<li><a href="/destino/santa-marta">{{i18n "tours_in"}} Santa Marta</a></li>
					<li><a href="/destino/bogota">{{i18n "tours_in"}} Bogota</a></li>
					<li><a href="/destino/boquete">{{i18n "tours_in"}} Boquete</a></li>
					<li><a href="/destino/pedasi">{{i18n "tours_in"}} Pedasi</a></li>
					
				</ul>

				
				<div class="clearfix"></div>
			</div>


			<div class="col-md-3">
				<h4 class="footer-title">{{i18n "company"}}</h4>
				<ul class="footer-links">
					<li><a href="/about">{{i18n "how_are_we"}}</a></li>
					<li><a href="/faq">{{i18n "faq_title"}}</a></li>
					<li><a href="http://blog.triptable.com">Blog</a></li>
					<li><a href="/terms">{{i18n "terms_and_conditions"}}</a></li>
				</ul>

				
				<div class="clearfix"></div>
			</div>		

			<div class="col-md-3">
				<h4>{{i18n "work_with_us"}}</h4>
				<ul class="footer-links">
					<li><a href="/business">{{i18n "tour_operators"}}</a></li>
					<li><a href="/business">{{i18n "local_guides"}}</a></li>
					<li><a href="/business">{{i18n "concierge_program"}}</a></li>
					<li><a href="/business">{{i18n "travel_agencies"}}</a></li>
						<li><a href="/business">{{i18n "hotels"}}</a></li>
				</ul>
				

			

			</div>

		</div>
		
		<!-- Copyright -->
		<div class="row">
			<div class="col-md-12">
				<div class="copyrights">© 2014-2017 Triptable, Inc. {{i18n "all_rights_reserved"}}.</div>
			</div>
		</div>

	</div>

</div>
<!-- Footer / End -->


<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>


</div>
<!-- Wrapper / End -->



<!-- Scripts
================================================== -->
<script type="text/javascript" src="/scripts/jpanelmenu.min.js"></script>
<script type="text/javascript" src="/scripts/chosen.min.js"></script>
<script type="text/javascript" src="/scripts/slick.min.js"></script>
<script type="text/javascript" src="/scripts/rangeslider.min.js"></script>
<script type="text/javascript" src="/scripts/magnific-popup.min.js"></script>
<script type="text/javascript" src="/scripts/waypoints.min.js"></script>
<script type="text/javascript" src="/scripts/counterup.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript" src="/scripts/tooltips.min.js"></script>
<script type="text/javascript" src="/scripts/mmenu.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script type="text/javascript" src="/scripts/custom.js"></script>


<!--maps scripts -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
<script type="text/javascript" src="/scripts/infobox.min.js"></script>
<script type="text/javascript" src="/scripts/markerclusterer.js"></script>
<script type="text/javascript" src="/scripts/maps.js"></script>
<!--Booking page scripts -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/12.1.1/js/intlTelInput.min.js"></script>

<!-- Date Picker - docs: http://www.vasterad.com/docs/listeo/#!/date_picker 
<link href="/css/plugins/datedropper.css" rel="stylesheet" type="text/css">
<script src="/scripts/datedropper.js"></script>
<script>$('#booking-date').dateDropper();</script>  -->
<!-- Tour Page -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/raty/2.8.0/jquery.raty.min.js"></script>
<!-- Time Picker - docs: http://www.vasterad.com/docs/listeo/#!/time_picker -->
<script src="/scripts/timedropper.js"></script>


<!--Algolia scripts -->
<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearchLite.min.js"></script>
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.js"></script>
</body>
</html>