<!DOCTYPE html>
<html lang="{{{getLang}}}">

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
  <link rel="dns-prefetch" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://cdnjs.cloudflare.com"  crossorigin />
  <link rel="preconnect" href="https://res.cloudinary.com" crossorigin />
  <link rel="dns-prefetch" href="https://res.cloudinary.com" />
  <link rel="preconnect" href="https://www.google-analytics.com"  crossorigin />
  <link rel="preconnect" href="https://www.googletagmanager.com"  crossorigin />

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  {{#if meta.title}}
  <title>{{meta.title}}</title>
  <meta property="og:title" content="{{meta.title}}" />
  {{else}}
  <title>{{i18n "title"}}</title>
  <meta property="og:title" content="{{i18n "title"}}" />
  {{/if}}

  {{#if meta.description}}
  <meta name="description" content="{{meta.description}}">
  <meta property="og:description" content="{{meta.description}}" />
  {{else}}
  <meta name="description" content="{{i18n "meta_description"}}">
  <meta property="og:description" content="{{i18n "meta_description"}}" />
  {{/if}}

  <meta name="author" content="Triptable">
  {{#if meta.keywords}}
  <meta name="keywords" content="{{meta.keywords}}" />
  {{else}}
  <meta name="keywords"
    content="tours en panama, tours en colombia, tours en costa rica, tours en san blas, excursiones en panama" />
  {{/if}}

  {{#if meta.canonical}}
  <meta property="og:url" content="https://{{{getLang}}}.triptable.com{{meta.canonical}}" />
  <link rel="alternate" hreflang="es" href="https://es.triptable.com{{meta.canonical}}" />
  <link rel="alternate" hreflang="en" href="https://en.triptable.com{{meta.canonical}}" />
  <link rel="canonical" href="https://{{{getLang}}}.triptable.com{{meta.canonical}}" />
  {{else}}
  <meta property="og:url" content="https://{{{getLang}}}.triptable.com" />
  <link rel="alternate" hreflang="es" href="https://es.triptable.com/" />
  <link rel="alternate" hreflang="en" href="https://en.triptable.com/" />
  <link rel="canonical" href="https://{{{getLang}}}.triptable.com/" />
  {{/if}}
	<!-- Favicons-->
	<link rel="shortcut icon" href="../v3/img/favicon.png" type="image/x-icon">
	<link rel="apple-touch-icon" type="image/x-icon" href="../v3/img/icons/apple-touch-icon-57x57-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="../v3/img/icons/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="../v3/img/icons/apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="../v3/img/icons/apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../v3/img/icons/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="../v3/img/icons/apple-touch-icon-152x152.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="../v3/img/icons//apple-touch-icon-180x180.png" />

    <!-- GOOGLE WEB FONT -->	
	<!-- COMMON CSS -->

    <!-- CUSTOM CSS -->
          <link href="../v3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Optional Theme Stylesheet -->
<script type="text/javascript">
 // if (document.location.hostname.search("triptable.com") !== -1) {

    //google analytics code goes here
    (function (w, d, s, l, i) {
      console.log("tag manager loaded")
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-TXZ459T');

  //}
</script>
</head>

<body>
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TXZ459T" height="0" width="0"
    style="display:none;visibility:hidden"></iframe></noscript>
	<div id="preloader">
		<div class="sk-spinner sk-spinner-wave">
			<div class="sk-rect1"></div>
			<div class="sk-rect2"></div>
			<div class="sk-rect3"></div>
			<div class="sk-rect4"></div>
			<div class="sk-rect5"></div>
		</div>
	</div>
	<!-- End Preload -->

	<div class="layer"></div>
	<!-- Mobile menu overlay mask -->

<!-- Header Colored:  add the id colored to header and change logo_sticky.png to logo_sticky_colored.png  ======================= -->
<header id="colored">
<div id="top_line" class="visible_on_mobile">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-5"><i class="icon-phone"></i><strong><a href="tel://+50761005609">+507 6100 5609</a></strong>
      </div>

      <div class="col-sm-6 col-7">
        <ul id="top_links">
          <li><a href="#sign-in-dialog" id="access_link">Sign in</a></li>
          </li>
          <li>
            <div class="dropdown dropdown-mini">
              <a href="#" class="lang-select" data-toggle="dropdown"><span class="lang-select">{{{getLang}}}</span></a>
              <div class="dropdown-menu">
                <ul id="lang_menu">
                  <li><a href="?lang=es">Español</a>
                  </li>
                  <li><a href="?lang=en">English</a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- End Dropdown access -->
          </li>
          <li>
            <div class="dropdown dropdown-mini">
              <a href="#" data-toggle="dropdown" id="currency_link">{{session.userCurrency.value}}</a>
              <div class="dropdown-menu">
                <ul id="lang_menu">
                  <li><a href="/currency/USD">$ USD</a></li>
                  <li><a href="/currency/EUR">€ EUR</a></li>
                  <li><a href="/currency/COP">$ COP</a></li>
                  <li><a href="/currency/MXN">$ MXN</a></li>
                  <li><a href="/currency/CNY">¥ CNY</a></li>
                  <li><a href="/currency/BRL">R$ BRL</a></li>
                </ul>
              </div>
            </div>
            <!-- End Dropdown access -->
          </li>
        </ul>
      </div>
    </div>
    <!-- End row -->
  </div>
  <!-- End container-->
</div>
<!-- End top line-->

  <div class="container mb-1">
    <div class="row">
      <div class="col-3">
        <div id="logo_home">
          <h1><a href="/" title="Triptable.com">Triptable.com</a></h1>
        </div>
      </div>
      <nav class="col-9">
        <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close" href="javascript:void(0);"><span>Menu
            mobile</span></a>
        <div class="main-menu">
          <div id="header_menu">
            <img src="../v3/img/logo_sticky.png" width="160" height="34" alt="Triptable Logo" data-retina="true">
          </div>
          <a href="#" class="open_close" id="close_in"><i class="icon_set_1_icon-77"></i></a>
          <ul>
            <li class="submenu">
              <a class="destinations-link" href="javascript:void(0);" class="show-submenu">{{i18n "destinations"}} <i class="icon-down-open-mini"></i></a>
              <ul>
                <li><a href="/panama">Panamá</a>
                  <ul>
                    <li><a href="/destino/san-blas-guna-yala">Islas de San Blas</a></li>
                    <li><a href="/destino/bocas-del-toro">Bocas del Toro</a></li>
                    <li><a href="/destino/panama-city">Ciudad de Panamá</a></li>
                    <li><a href="/destino/pedasi">Pedasí</a></li>
                    <li><a href="/destino/boquete">Boquete</a></li>
                    <li><a href="/destino/el-valle-de-anton">El Valle de Antón</a></li>
                    <li><a href="/panama">Ver Todos los destinos en Panamá</a></li>
                  </ul>
                </li>

                <li><a href="/colombia">Colombia</a>
                  <ul>
                    <li><a href="/destino/medellin">Medellín</a></li>
                    <li><a href="/destino/bogota">Bogotá</a></li>
                    <li><a href="/destino/cartagena">Cartagena </a></li>
                    <li><a href="/destino/santa-marta">Santa Marta</a></li>
                    <li><a href="/destino/cali">Cali</a></li>
                    <li><a href="/destino/barranquilla">Barranquilla</a></li>
                    <li><a href="/colombia">Ver Todos los destinos en Colombia</a></li>
                  </ul>
                </li>
                
                <li><a href="/costa-rica">Costa Rica</a>
                  <ul>
                    <li><a href="/destino/san-jose">San José</a></li>
                    <li><a href="/costa-rica">Ver Todos los destinos en Costa Rica</a></li>
                  </ul>
                </li>

                <li><a href="/mexico">México</a>
                  <ul>
                    <li><a href="/destino/ciudad-de-mexico">Ciudad de México (Nuevo)</a></li>
                    <li><a href="#">Cancún (pronto)</a></li>
                    <li><a href="#">Puerto Vallarta (pronto) </a></li>
                    <li><a href="/mexico">Ver Todos los destinos en México</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="submenu">
              <a href="/mybooking">Verificar Mi Reserva <i class="icon-down-open-mini"></i></a>
            </li>
            <li class="submenu">
              <a href="javascript:void(0);" class="show-submenu">Acerca de <i class="icon-down-open-mini"></i></a>
              <ul>
                <li><a href="/about">Nosotros</a></li>
                <li><a href="/faq">Ayuda</a></li>
  
              </ul>
            </li>
            
          </ul>
        </div><!-- End main-menu -->
       
        <ul id="top_tools"><!-- 
          <li>
            <a href="javascript:void(0);" class="search-overlay-menu-btn"><i class="icon_search"></i></a>
          </li>
          <li>
            <div class="dropdown dropdown-cart">
              <a href="#" data-toggle="dropdown" class="cart_bt"><i class="icon_bag_alt"></i><strong>3</strong></a>
              <ul class="dropdown-menu" id="cart_items">
                <li>
                  <div class="image"><img src="../v3/img/thumb_cart_1.jpg" alt="image"></div>
                  <strong><a href="#">Louvre museum</a>1x $36.00 </strong>
                  <a href="#" class="action"><i class="icon-trash"></i></a>
                </li>
                <li>
                  <div class="image"><img src="../v3/img/thumb_cart_2.jpg" alt="image"></div>
                  <strong><a href="#">Versailles tour</a>2x $36.00 </strong>
                  <a href="#" class="action"><i class="icon-trash"></i></a>
                </li>
                <li>
                  <div class="image"><img src="../v3/img/thumb_cart_3.jpg" alt="image"></div>
                  <strong><a href="#">Versailles tour</a>1x $36.00 </strong>
                  <a href="#" class="action"><i class="icon-trash"></i></a>
                </li>
                <li>
                  <div>Total: <span>$120.00</span></div>
                  <a href="cart.html" class="button_drop">Go to cart</a>
                  <a href="payment.html" class="button_drop outline">Check out</a>
                </li>-->
              </ul>
            </div><!--End dropdown-cart-->
          </li>
        </ul>
      </nav>
    </div>
  </div><!-- container -->
</header><!-- End Header -->


{{{body}}}


				

				</div>
				<!-- End col lg-9 -->
			</div>
			<!-- End row -->
		</div>
		<!-- End container -->
	</main>
	<!-- End main -->

<footer class="">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <h3>{{i18n "need"}} {{i18n "help"}}?</h3>
        <a href="tel://+50761005609" id="phone">+507 6100 5609</a>
        <a href="mailto:help@citytours.com" id="email_footer">hello@triptable.com</a>
        <p><img src="../v3/img/payments_2x.png" width="231" height="30" alt="Image" data-retina="complete" class="img-fluid">
        </p>
      </div>
      <div class="col-lg-2 col-md-3 ml-md-auto">
        <h3>{{i18n "destinations"}}</h3>
        <ul>
          <li><a href="/panama">Panamá</a>
          </li>
          <li><a href="/colombia">Colombia</a>
          </li>
          <li><a href="/mexico">Mexico</a>
          </li>
          <li><a href="/costa-rica">Costa Rica</a>
          </li>
          
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-4" id="newsletter">
        <h3>Newsletter</h3>
        <p>Únite a nuestro Newsletter y entérate de nuestras promociones.</p>
        <div id="message-newsletter_2"></div>
        <form method="post" name="newsletter_2" id="newsletter_2">
          <div class="form-group">
            <input name="email_newsletter_2" id="email_newsletter_2" type="email" value="" placeholder="Your mail"
              class="form-control">
          </div>
          <input type="submit" value="Subscribe" class="btn_1" id="submit-newsletter_2">
        </form>
      </div>
      <!--<div class="col-lg-2 ml-lg-auto">
        <h3>Settings</h3>
        <div class="styled-select">
          <select name="lang" id="lang">
            <option value="English" selected="">English</option>
            <option value="French">French</option>
            <option value="Spanish">Spanish</option>
            <option value="Russian">Russian</option>
          </select>
        </div>
        <div class="styled-select">
          <select name="currency" id="currency">
            <option value="USD" selected="">USD</option>
            <option value="EUR">EUR</option>
            <option value="GBP">GBP</option>
            <option value="RUB">RUB</option>
          </select>
        </div>
      </div> -->
    </div>
    <!-- End row -->
    <div class="row">
      <div class="col-lg-12">
        <div id="social_footer">
          <ul>
            <li><a target="_blank" href="http://facebook.com/triptable"><i class="icon-facebook"></i></a>
            </li>
            <li><a target="_blank" href="http://twitter.com/triptable_es"><i class="icon-twitter"></i></a>
            </li>
          
            <li><a target="_blank" href="http://instagram.com/triptable"><i class="icon-instagram"></i></a>
            </li>
          </ul>
          <p>© Triptable.com 2019</p>
        </div>
      </div>
    </div>
    <!-- End row -->
  </div>
  <!-- End container -->
</footer>
	<div id="toTop"></div><!-- Back to top button -->
	
	<!-- Search Menu -->
	<div class="search-overlay-menu">
		<span class="search-overlay-close"><i class="icon_set_1_icon-77"></i></span>
		<form role="search" id="searchform" method="get">
			<input value="" name="q" type="search" placeholder="Search..." />
			<button type="submit"><i class="icon_set_1_icon-78"></i>
			</button>
		</form>
	</div><!-- End Search Menu -->
	
	<!-- Sign In Popup -->
	<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">
		<div class="small-dialog-header">
			<h3>{{i18n "sign_in"}}</h3>
		</div>
		<form method="GET" action="/signin">
			<div class="sign-in-wrapper">
							<div class="form-group">
					<label>Email</label>
					<input type="email" class="form-control" name="email" id="email">
					<i class="icon_mail_alt"></i>
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="password" class="form-control" name="password" id="password" value="">
					<i class="icon_lock_alt"></i>
				</div>
				<div class="clearfix add_bottom_15">
					<div class="checkboxes float-left">
						<input id="remember-me" type="checkbox" name="check">
						<label for="remember-me">Remember Me</label>
					</div>
					<div class="float-right"><a id="forgot" href="javascript:void(0);">Forgot Password?</a></div>
				</div>
				<div class="text-center"><input type="submit" value="Log In" class="btn_login"></div>
				<div class="text-center">
					Don’t have an account? <a href="/signin">Sign up</a>
				</div>
				<div id="forgot_pw">
					<div class="form-group">
						<label>Please confirm login email below</label>
						<input type="email" class="form-control" name="email_forgot" id="email_forgot">
						<i class="icon_mail_alt"></i>
					</div>
					<p>You will receive an email containing a link allowing you to reset your password to a new preferred one.</p>
					<div class="text-center"><input type="submit" value="Reset Password" class="btn_1"></div>
				</div>
			</div>
		</form>
		<!--form -->
	</div>
	<!-- /Sign In Popup -->

	<!-- Common scripts -->
	<script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
	<script src="../v3/js/common_scripts_min.js"></script><!-- TODO: minify -->
	<script src="../v3/js/functions.js"></script><!-- TODO: minify -->


<!-- Single tour scripts-->
<script src="../v3/js/jquery.sliderPro.min.js"></script>
<script src="../v3/js/theia-sticky-sidebar.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="../v3/js/jquery.ddslick.js"></script>


	<!-- Specific scripts -->
	<!-- Cat nav mobile -->
	<!--<¡script src="../v3/js/cat_nav_mobile.js"></script>  TODO: minify 
	<script>
		$('#cat_nav').mobileMenu();
	</script>-->

	<!-- Map 
	<script src="http://maps.googleapis.com/maps/api/js"></script> 
	<script src="../v3/js/map.js"></script>
	<script src="../v3/js/infobox.js"></script> -->

	<!-- Check box and radio style iCheck -->
	<script>
		$('input').iCheck({
		   checkboxClass: 'icheckbox_square-grey',
		   radioClass: 'iradio_square-grey'
		 });
	</script>
  <link href="https://fonts.googleapis.com/css?family=Gochi+Hand|Lato:300,400|Montserrat:400,700" rel="stylesheet">
    <link href="../v3/css/style.css" rel="stylesheet">
    <link href="../v3/css/vendors.css" rel="stylesheet">
    <link href="../v3/css/custom.css" rel="stylesheet"> <!-- TODO: minify -->

</body>

</html>