<!-- End section -->
<main>
  <div id="position">
    <div class="container">
      <ul>
        <li><a href="#">{{i18n "home"}}</a>
        </li>
        <li><a href="#">{{data.place.country.country}}</a>
        </li>
        <li>{{data.place.city}}, {{data.place.country.country}}</li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="mt-3 mb-3">{{data.place.city}} {{i18n "tours"}}</h1>
        <p class="d-none d-md-block">{{data.place.description}} - {{data.collections.tours}}</p>
      </div>
    </div>
  </div>
  <!-- Position -->
  <div class="collapse" id="collapseMap">
    <div id="map" class="map"></div>
  </div>
  <!-- End Map -->
  <div class="container margin_10">
    <div class="row">
      <aside class="col-lg-3">
       <!-- <p>
          <a class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false"
            aria-controls="collapseMap" data-text-swap="Hide map" data-text-original="View on map">View on map</a>
        </p> -->
        <div class="row">
          <div class="col-6 col-md-12">
            <div class="box_style_cat">
              <ul id="cat_nav">
                <li><a href="#" id="active"><i class="icon_set_1_icon-51"></i>{{i18n "all_experiences"}} <span>(141)</span></a>
                </li>
                {{#each data.collections}}
                <li><a href="#" id=""><i class="icon_set_1_icon-51"></i>{{#if_eq ../lang "es"}} {{title.es}} {{/if_eq}} {{#if_eq ../lang "en"}}{{title.en}} {{/if_eq}}<span>(141)</span></a>
                </li>
                {{/each}}
              </ul>
            </div>
          </div>
        <div class="col-12">
          <div id="filters_col">
            <a data-toggle="collapse" href="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters"
              id="filters_col_bt"><i class="icon_set_1_icon-65"></i>Filters</a>
            <div class="collapse show" id="collapseFilters">
              <form id="filters_form" method="GET">
              <div class="filter_type">
                <h6>{{i18n "price"}}</h6>
                <input type="text" id="range" name="range" value="">
              </div>
              
              <div class="filter_type" id="tourType">
                <h6>{{i18n "im_looking_for"}}</h6>
                <ul>
                  <li>
                    <label>
                      <input name="hotel_pickup" id="hotel_pickup" type="checkbox">{{i18n "hotel_or_airport_pickup"}}
                    </label>
                  </li>
                  <li>
                    <label>
                      <input name="multiday" id="multiday" type="checkbox">{{i18n "tour_plus_accomodation"}}
                    </label>
                  </li>
                  <li>
                    <label>
                      <input name="group_excursions" id="group_excursions" type="checkbox">{{i18n "group_excursions"}}
                    </label>
                  </li>
                  <li>
                    <label>
                      <input name="transportation" id="transportation" type="checkbox">{{i18n "transportation_services"}}
                    </label>
                  </li>
                </ul>
              </div>
                <div class="row">
              <div class="col-6 col-md-8 buttons pr-0">
                  <input type="submit" class="btn btn-primary" value="Apply Filters">
              </div>
              <div class="col-6 col-md-4 buttons text-right">
                <a id="reset-filter" style="text-decoration: underline;" onclick="resetFilter();" class="reset-btn">{{i18n "reset_filter"}}</a>
              </div>
              </div>
              </form>
            </div>
            <!--End collapse -->
          </div>
        </div>
        </div>

        <!--End filters col-->
        <div class="box_style_2 d-none d-md-block">
          <i class="icon_set_1_icon-57"></i>
          <h4>Need <span>Help?</span></h4>
          <a href="tel://004542344599" class="phone">+45 423 445 99</a>
          <small>Monday to Friday 9.00am - 7.30pm</small>
        </div>
      </aside>
      <!--End aside -->
      <div class="col-lg-9">

        <div id="tools">
          <div class="row">
            <div class="col-6">
              <div class="styled-select-filters">
                <select name="sort_price" id="sort_price">
                  <option value="0" selected>{{i18n "sort_by_recommended"}}</option>
                  <option value="1">{{i18n "sort_by_low_price"}}</option>
                  <option value="2">{{i18n "sort_by_high_price"}}</option>
                  <option value="3">{{i18n "sort_by_last_add"}}</option>
                </select>
              </div>
            </div>
            <div class="col-6 d-block d-md-none mobile-filter">
              <p class="text-right"><span class="filter_text_mobile">{{i18n "filters"}}:</span> <a data-toggle="collapse" href="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters"><i id="filter_modal" class="pe-7s-edit mobile-filter-icon"></i></a></p></span>
              <!-- Modal -->
            </div>

          </div>
        </div>
        <!--/tools -->
{{#each data.tours}}
<div class="strip_all_tour_list item-mobile-list d-block d-md-none
">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-4" id="item-mobile-container">

      {{#if featured}}
      <div class="ribbon_3 popular">
        <span>{{i18n "popular"}}</span>
      </div>
      {{/if}}
      {{#if mostSell}}
      <div class="ribbon_3 popular most-sell">
        <span>{{i18n "most_sell"}}</span>
      </div>
      {{/if}}

      
      <!--<div class="wishlist">
          <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span
                class="tooltip-back">Add to wishlist</span></span></a>
        </div>-->
      <div class="img_list">
        <a href="/tour/explora-boquete-con-un-guia-experimentado">
          <img async
            src="https://res.cloudinary.com/triptable/image/upload/c_fit,f_auto,q_85,h_300/v{{heroImage.version}}/{{heroImage.public_id}}.{{heroImage.format}}"
            alt="Image">
        </a>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-8 pl-0 pr-0">
      <a href="/tour/explora-boquete-con-un-guia-experimentado">
        <div class="tour_list_desc">
          <h2 class="tour-title"><strong>{{getTourLocName name name_eng}} </strong> </h2>
          {{#if nOfReviews}}
          <div class="rating">
            {{{ calcReview nOfStars}}}
            <small>({{nOfReviews}})</small>
          </div>
          {{else}}
          <div class="">
            <p>{{i18n "no_reviews"}}</p>
          </div>
          {{/if}}


          <p><i class=""> </i>{{duration}}{{#if isMultiDay}} {{i18n "days"}} {{else}} {{i18n "hours"}}{{/if}}</p>
          <p>{{city.city}}, {{country.country}}</p>
          <p class="price"><span>{{../data.tours.currency}}   </span>{{getPriceInCurrency price ../data.tours.currency}}<span class="normal_price_list"></span><small></small></p>
          
        </div>
      </a>
    </div>

  </div>
</div>

<div class="strip_all_tour_list d-none d-md-block">
  <div class="row">
    <div class="col-lg-4 col-md-4">
      {{#if featured}}
      <div class="ribbon_3 popular"><span>{{i18n "popular"}}</span>
      </div>
      {{/if}}

      {{#if mostSell}}
      <div class="ribbon_3 popular most-sell"><span>{{i18n "most_sell"}}</span>
      </div>
      {{/if}}
      <!--<div class="wishlist">
        <a class="tooltip_flip tooltip-effect-1" href="javascript:void(0);">+<span class="tooltip-content-flip"><span
              class="tooltip-back">Add to wishlist</span></span></a>
      </div>-->
      <div class="img_list">
        <a href="/tour/{{slug}}"><img async src="https://res.cloudinary.com/triptable/image/upload/c_fit,f_auto,q_85,h_300/v{{heroImage.version}}/{{heroImage.public_id}}.{{heroImage.format}}" alt="Image">
          <div class="short_info"><i class="icon_set_1_icon-52"></i>{{duration}}{{#if isMultiDay}} {{i18n "days"}} {{else}} {{i18n "hours"}}
          {{/if}} </div>
        </a>
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <div class="tour_list_desc">
        <div class="rating">
          {{{ calcReview nOfStars}}}
         
          <small>({{nOfReviews}})</small>
        </div>
        <h2 class="tour-title"><strong>{{getTourLocName name name_eng}}</strong></h2>
        <p>{{getTourLocName description.short description_eng.short}}</p>
        <ul class="add_info">
          <li>
            <div class="tooltip_styled tooltip-effect-4">
              <span class="tooltip-item"><i class="icon_set_1_icon-83"></i></span>
              <div class="tooltip-content">
                <h4>Schedule</h4>
                <strong>Monday to Friday</strong> 09.00 AM - 5.30 PM
                <br>
                <strong>Saturday</strong> 09.00 AM - 5.30 PM
                <br>
                <strong>Sunday</strong> <span class="label label-danger">Closed</span>
              </div>
            </div>
          </li>
          <li>
            <div class="tooltip_styled tooltip-effect-4">
              <span class="tooltip-item"><i class="icon_set_1_icon-41"></i></span>
              <div class="tooltip-content">
                <h4>Address</h4> Musée du Louvre, 75058 Paris - France
                <br>
              </div>
            </div>
          </li>
          <li>
            <div class="tooltip_styled tooltip-effect-4">
              <span class="tooltip-item"><i class="icon_set_1_icon-97"></i></span>
              <div class="tooltip-content">
                <h4>Languages</h4> English - French - Chinese - Russian - Italian
              </div>
            </div>
          </li>
          <li>
            <div class="tooltip_styled tooltip-effect-4">
              <span class="tooltip-item"><i class="icon_set_1_icon-27"></i></span>
              <div class="tooltip-content">
                <h4>Parking</h4> 1-3 Rue Elisée Reclus
                <br> 76 Rue du Général Leclerc
                <br> 8 Rue Caillaux 94923
                <br>
              </div>
            </div>
          </li>
          <li>
            <div class="tooltip_styled tooltip-effect-4">
              <span class="tooltip-item"><i class="icon_set_1_icon-25"></i></span>
              <div class="tooltip-content">
                <h4>Transport</h4>
                <strong>Metro: </strong>Musée du Louvre station (line 1)
                <br>
                <strong>Bus:</strong> 21, 24, 27, 39, 48, 68, 69, 72, 81, 95
                <br>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-2 col-md-2 pl-0">
      <div class="price_list">
        <div><p>{{../data.tours.currency}}</p>{{getPriceInCurrency price ../data.tours.currency}}<span class="normal_price_list"></span><small></small>
          <p><a href="single_tour.html" class="btn_1">{{i18n "details"}}</a>
          </p>
        </div>

      </div>
    </div>
  </div>
</div>
<!--End strip -->
{{/each}}
  <hr>
  pages : {{data.pages}} - current {{data.currentPage}}
  <nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" id="pagPrev" onclick="paginatePrev();" aria-label="Previous"><span aria-hidden="true">&laquo;</span><span
            class="sr-only">Previous</span></a>
      </li>
      {{{paginateHelper data.currentPage data.pages}}}

     <!-- <li class="page-item active"><span class="page-link">1<span class="sr-only">(current)</span></span>
      </li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li> -->

      <li class="page-item">
        <a class="page-link" onclick="paginateNext();" aria-label="Next"><span aria-hidden="true">&raquo;</span><span
            class="sr-only">Next</span></a>
      </li>
    </ul>
  </nav>
  <!-- end pagination-->




<script>
  function resetFilter() {
    const url = location.protocol + '//' + location.host + location.pathname;
    return window.location.href = url;
  }

  // al presionar obtener la URL actual, reemplazar parametros usando del y add de urlparameter API, redireccionar. Si hay search params, mantenerlos y solo eliminar el de page. Primero capturar el evento / function
  function paginatePrev() {
      const url = window.location.protocol + '//' + window.location.host + window.location.pathname;
      let urlParams = new URLSearchParams(window.location.search);
      let page;
      if (urlParams.get('page')) {
        page = urlParams.get('page');
      } else {
        page=1
      }
      let prevPage = parseInt(page);
      prevPage = prevPage -1;
      urlParams.delete('page');
      urlParams.append('page', prevPage)
      window.location.href = url +'?'+ urlParams.toString();
  }

  function paginateNext() {
    const url = window.location.protocol + '//' + window.location.host + window.location.pathname;
    let urlParams = new URLSearchParams(window.location.search);
    let page;
    if (urlParams.get('page')) {
      page = urlParams.get('page');
    } else {
      page = 1
    }
    let nextPage = parseInt(page);
    nextPage = nextPage + 1;
    urlParams.delete('page');
    urlParams.append('page', nextPage)
    window.location.href = url + '?' + urlParams.toString();
  }

  document.addEventListener('DOMContentLoaded', (event) => {
    const urlParams = new URLSearchParams(window.location.search);
    let initRange;
    let lastRange;
    try {
    const range = urlParams.get("range");
    const priceRange = range.split(';');
    initRange = priceRange[0];
    lastRange = priceRange[1];
    } catch (e) {
      console.log(e);
      initRange = 0;
      lastRange = 600;
      console.log("initRange", initRange);
      console.log("lastRange", lastRange);

    }

    /* Input range slider */
      $("#range").ionRangeSlider({
        hide_min_max: true,
        keyboard: true,
        min: 0,
        max: 600,
        from: initRange,
        to: lastRange,
        type: 'double',
        step: 1,
        prefix: "$",
        grid: true
      });
      let elem = $(".irs-grid-text.js-grid-text-4").text();
      $(".irs-grid-text.js-grid-text-4").text(elem + "+");

      const hotel = urlParams.get("hotel_pickup");
      const multi = urlParams.get("multiday");
      const group = urlParams.get("group_excursions");
      const transport = urlParams.get("transportation");
      const sort = urlParams.get("sort");

     if (hotel) {
        $("#hotel_pickup").prop("checked", true)
        $("#hotel_pickup").parent().addClass("checked");
     }

     if (multi) {
      $("#multiday").prop("checked", true)
      $("#multiday").parent().addClass("checked");
    }
    if (group) {
      $("#group_excursions").prop("checked", true)
      $("#group_excursions").parent().addClass("checked");
    }
    if (transport) {
      $("#transportation").prop("checked", true)
      $("#transportation").parent().addClass("checked");
    }

    if(sort) {
    	$("#sort_price").val(sort);
    }

  });
</script>