<!-- Sidebar
		================================================== -->
		<div class="col-lg-4 col-md-4 margin-top-75 sticky">
			<!-- Book Now -->
			<div class="boxed-widget padding-15 booking-widget ">
				<h3><i class="im im-icon-Air-Balloon"></i>{{data.tour.name}} - {{getPriceInCurrency data.tour.price}} {{getCurrency}} Por Persona</h3>

				<div class="row with-forms  margin-top-0">
					<form id="preBookForm" action="/booking/{{data.tour.tourId}}" method="get">

					<!-- Date Picker - docs: http://www.vasterad.com/docs/listeo/#!/date_picker -->
					<div class="col-lg-12 col-md-12">
						<!--<i class="im im-icon-Calendar-4"></i> 
						<span>Fecha: </span> -->
						<div class="wc-bookings-date-picker" id="datepicker">
						<input type="hidden" id="hiddenDate" name="date" value="">
						<input type="hidden" name="tourId" value="{{data.tour.tourId}}">
						</div>
					</div>

					<div class="col-lg-12 col-md-12">
						<i class="im im-icon-Clock-Forward "></i>
						<span>Horario: </span>
						<select data-placeholder="Horario" id="bookingTime" name="bookingTime" class="chosen-select" >
							{{#if data.tour.schedule}}
							{{#each data.tour.schedule}}
								<option> {{this}}</option>	
							{{/each}}
							{{else}}
								<option>{{i18n "custom"}}</option>	
							{{/if}}	
						</select>
					</div> 
					<!-- Panel Dropdown -->
					<div class="col-md-12">
						<div class="panel-dropdown">
							<a href="#" class="booking people">{{i18n "people"}} <span class="qtyTotal" name="qtyTotal">1</span></a>
							<div class="panel-dropdown-content">

								<!-- Quantity Buttons -->
								<div class="qtyButtons">
									<div class="qtyTitle"><i class="im im-icon-MaleFemale "></i> {{i18n "adults"}} (12+)</div>
									<input type="text"  name="nOfAdults" id="nOfAdults" class="qtyInput" value="{{data.tour.minPerson}}">
								</div>

								<div class="qtyButtons">
									<div class="qtyTitle"><i class="im im-icon-Boy "></i> {{i18n "children"}} (6-11) </div>
									<input type="text" name="nOfChildren" id="nOfChildren" class="qtyInput" value="0">
								</div>

								<div class="qtyButtons">
									<div class="qtyTitle"><i class="im im-icon-Baby "></i> {{i18n "infants"}} (0-5)</div>
									<input type="text" name="nOfInfants" id="nOfInfants" class="qtyInput" value="0">
								</div>

							</div>
						</div>
					</div>
					<!-- Time Picker - docs: http://www.vasterad.com/docs/listeo/#!/time_picker 
					<div class="col-lg-12 col-md-12">
						<i class="im im-icon-Clock-Forward "></i>
						<span>Horario: </span>
						
						<input type="text" id="booking-time" name="bookingTime" value="9:00 am">
					</div>-->


					<!--<div class="col-lg-12 col-md-12">
						<i class="im im-icon-MaleFemale "></i> 
						<span># de Adultos (+12): </span>
						<select data-placeholder="# de Adultos" id="nOfadults" name="adults" class="chosen-select" >
								<option value="3">2</option>	
								<option value="3">3</option>
								<option value="3">4</option>
								<option value="3">5</option>
								<option value="3">6</option>
								<option value="3">7</option>
						</select>
					</div>

					<div class="col-lg-12 col-md-12">
						<i class="im im-icon-Boy "></i> 
						<span># de Niños (6-11): </span>
						<select data-placeholder="Kids" name="nOfkids" class="chosen-select" >
								<option value="1">0</option>	
								<option value="1">1</option>	
								<option value="1">2</option>	
								<option value="1">3</option>
								<option value="1">4</option>
							
						</select>
					</div>
					<div class="col-lg-12 col-md-12">
						<i class="im im-icon-Baby "></i> 
						<span> # de Infantes (0-5): </span>
							<select data-placeholder="All Categories" name="nOfinfants" id="infants" class="chosen-select" >
								<option value="2">0</option>	
								<option value="2">1</option>	
								<option value="2">2</option>	
								<option value="2">3</option>
								<option value="2">4</option>
							</select>
					</div> -->
				</div>
				
				<!-- progress button animation handled via custom.js -->
				<button id="bookingBtn" type="submit" class="progress-button button fullwidth margin-top-5"><span>Ver Precio</span></button>
			</form>
			</div>
			<!-- Book Now / End -->
			<!-- Verified Badge -->

				<!-- Contact -->
			<div class="boxed-widget margin-top-35 guide">
				<div class="hosted-by-title row">
					<h4><span>Ofrecido por</span> <a>{{data.tour.owner.name.first}}</a></h4>

				<!--	<div class="col-md-12 text-center"><a class="hosted-by-avatar"><img src="https://res.cloudinary.com/triptable/image/upload/w_300,h_300,c_fill,g_face/{{data.tour.owner.image.public_id}}.{{data.tour.owner.image.format}}" alt=""></a></div> -->
				<div class="col-md-12 text-center"><a class="hosted-by-avatar"><img src="	http://www.gravatar.com/avatar/00000000000000000000000000000000?d=mm&s=256" alt=""></a></div>
					
					<div class="col-md-12 text-center">
						<!--<div class="star-rating" data-rating="5.0"></div><p class="mb-bottom-10">Ver Tours</p>-->
						<a href="mailto:hello@triptable.com?subject=Pregunta del tour: {{data.tour.name}} - ID: {{data.tour._id}}" class="send-message-to-owner button"><i class="sl sl-icon-envelope-open white"></i> {{i18n "send_message"}}</a>
							
					</div>
				</div>

			</div>
			<!-- Contact / End-->

			<!-- Contact / End-->
			<!-- Contact -->
			<div class="boxed-widget margin-top-35">
				<h3><i class="im im-icon-Headset"></i> Contáctanos</h3>
				<ul class="listing-details-sidebar">
					<li><i class="sl sl-icon-phone"></i> +507 833-6195</li>
					<li><i class="fa fa-whatsapp"></i> +507 659 620 34 </li>
					<li><i class="fa fa-envelope-o"></i> <a href="mailto:hello@triptable.com">hello@triptable.com</a></li>
				</ul>

				<ul class="listing-details-sidebar social-profiles">
					<li><a target="_blank" href="http://fb.me/triptable" class="facebook-profile"><i class="fa fa-facebook-square"></i> Facebook</a></li>
					<li><a target="_blank" href="http://instagram.com/triptable" class="instagram-profile"><i class="fa fa-instagram"></i> Instagram</a></li>
					<!-- <li><a href="#" class="gplus-profile"><i class="fa fa-google-plus"></i> Google Plus</a></li> -->
				</ul>

				<!-- Reply to review popup 
				<div id="small-dialog" class="zoom-anim-dialog mfp-hide">
					<div class="small-dialog-header">
						<h3>Send Message</h3>
					</div>
					<div class="message-reply margin-top-0">
						<textarea cols="40" rows="3" placeholder="Your message to Burger House"></textarea>
						<button class="button">Send Message</button>
					</div>
				</div>

				<a href="#small-dialog" class="send-message-to-owner button popup-with-zoom-anim"><i class="sl sl-icon-envelope-open"></i> Send Message</a>-->
			</div>
			<!-- Contact / End-->
			

			<!-- Opening Hours 
			<div class="boxed-widget opening-hours margin-top-35">
				<div class="listing-badge now-open">Now Open</div>
				<h3><i class="sl sl-icon-clock"></i> Opening Hours</h3>
				<ul>
					<li>Monday <span>9 AM - 5 PM</span></li>
					<li>Tuesday <span>9 AM - 5 PM</span></li>
					<li>Wednesday <span>9 AM - 5 PM</span></li>
					<li>Thursday <span>9 AM - 5 PM</span></li>
					<li>Friday <span>9 AM - 5 PM</span></li>
					<li>Saturday <span>9 AM - 3 PM</span></li>
					<li>Sunday <span>Closed</span></li>
				</ul>
			</div>
			<!-- Opening Hours / End -->


			<!-- Share / Like
			<div class="listing-share margin-top-40 margin-bottom-40 no-border">
				<button class="like-button"><span class="like-icon"></span> Bookmark this listing</button> 
				<span>159 people bookmarked this place</span>

					<!-- Share Buttons 
					<ul class="share-buttons margin-top-40 margin-bottom-0">
						<li><a class="fb-share" href="#"><i class="fa fa-facebook"></i> Share</a></li>
						<li><a class="twitter-share" href="#"><i class="fa fa-twitter"></i> Tweet</a></li>
						<li><a class="gplus-share" href="#"><i class="fa fa-google-plus"></i> Share</a></li>
						<!-- <li><a class="pinterest-share" href="#"><i class="fa fa-pinterest-p"></i> Pin</a></li> 
					</ul>
					<div class="clearfix"></div>
			</div> -->

		</div>
		<!-- Sidebar / End -->
		<script type="text/javascript">
		
			function getDayOfTheWeek(day){
				var disabledDays = "{{data.tour.daysDisabled}}"; 
				return disabledDays.includes(day);     // true
			}

			document.addEventListener("DOMContentLoaded", function() {
			//	var date = new Date();
				var date = moment();
				var minDaysForBooking = {{data.tour.skipDays}}; //min days for booking
				var isInvalid = true;
				var minDate = date.add(minDaysForBooking, 'days');
				while(isInvalid) {
				var dow = minDate.day(); 
				isInvalid = getDayOfTheWeek(dow);
					if (isInvalid) {
						minDate = date.add(1, 'days');
					} else {
						isInvalid = false;
					}
				}
				var daysDisabled = "{{data.tour.daysDisabled}}";
				$( "#datepicker" ).datepicker({
					
				beforeShowDay: function(date) {
	        		var day = date.getDay();
							var includes = daysDisabled.includes(day);
	        		return [!includes, ""];
    			},
				minDate: date._d,
				});
			});
	document.addEventListener("DOMContentLoaded", function() {

		 $('#preBookForm').submit(function(e) {
			 var minPerson = {{data.tour.minPerson}};
			 var maxPerson = {{data.tour.maxPerson}};
			 var people = $("#nOfAdults").val();
			 people = parseInt(people);

			 console.log("bookingPerson", people);
			 debugger
			 if (minPerson > people ||  maxPerson < people) {
				 	if (minPerson > people ) {
						 alert ("Minimo de personas inválido, este tour requiere un mínimo de: " + minPerson + " adultos" );
						  return false
					 }
					 if (maxPerson < people ) {
						 alert ("Máximo de personas inválido, el máximo de personas por reserva es de: " + maxPerson + " adultos" );
						  return false
					 }
			 } else {
			 		return true;
			 }
		 });

	$( "#bookingBtn" ).click(function( e ) {
		var current = $("#datepicker").datepicker("getDate");
		$('#hiddenDate').val(current);
		var people = $("#nOfadults").val();
		var date = $("#hiddenDate").val();
		//var time = $("#time").val();
	/*	if(!people) {
		  e.preventDefault();
		  alert("Elige el número de pasajeros");
		}
		if(!date) {
		  e.preventDefault();
		  alert("Ingrese una fecha");
		}
		 else {
			return true;
		} */
	});


	});
</script>

<link rel="stylesheet" type="text/css" href="/css/plugins/timedropper.css"> 
<!-- Single scripts -->
<script type="text/javascript" src="/scripts/quantityButtons.js"></script>
<!-- End Single scripts -->
