<!-- Titlebar
================================================== -->
<div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Búsqueda </h2><span>Encontramos <strong>{{data.tours.total}}</strong> Tours y Actividades.</span><p> Mostrando del {{data.tours.first}} al {{data.tours.last}}</p>
				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="#">Home</a></li>
						<li>Búsqueda</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>

<!-- Content
================================================== -->
<div class="container">
	<div class="row">
		<!-- Search -->
		<div class="col-md-12">
			<div class="main-search-input gray-style margin-top-0 margin-bottom-10">

				<!--<div class="main-search-input-item">
					<input type="text" placeholder="What are you looking for?" value=""/>
				</div> -->

				<div class="main-search-input-item">
					<select data-placeholder="Todos los Paises" id="countries-select" class="chosen-select" >
						<option value="panama">Panama 🇵🇦</option>
						<option value="mexico">Mexico 🇲🇽</option>
						<option value="colombia">Colombia 🇨🇴</option>
					</select>
				</div>

				<div class="main-search-input-item">
					<select data-placeholder="Todas las Ciudades"  id="cities-select"  class="chosen-select" >
						{{#each data.cities}}
						<option value="{{slug}}">{{city}}</option>	
						{{/each}}
					</select>
				</div>

				<button class="button">Búsqueda</button>
			</div>
		</div>
		<!-- Search Section / End -->
		<!--
		<div class="col-md-12">

			<!-- Sorting - Filtering Section -->
			<div class="row margin-bottom-25 margin-top-30">

				

			</div> 
			<!-- Sorting - Filtering Section / End -->


			<!-- Results-->
			<div class="row">
			{{#each data.tours.results}}
      	{{>search/_results}}
			{{/each}}	
			</div>

			<!-- Pagination -->
			<div class="clearfix"></div>
			<div class="row">
				<div class="col-md-12">
					<!-- Pagination -->
					<div class="pagination-container margin-top-20 margin-bottom-40">
						<nav class="pagination">
							<ul>
								<li><a href="#" class="current-page">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#"><i class="sl sl-icon-arrow-right"></i></a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<!-- Pagination / End -->

		</div>

	</div>
</div>
<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function() {

	$('#cities-select').val("{{data.city}}"); //value of your default option
	$('#countries-select').val("{{data.country}}"); //value of your default option

	$("#countries-select").change(function() {
		var country = $( this ).val();
  		window.location.href="/"+country;
	});
	$("#cities-select").change(function() {
		var city = $( this ).val();
  		window.location.href="/destino/"+city;
	});
});
</script>

