{{data.attractions}}
<!-- start Main Wrapper -->
		<div class="main-wrapper scrollspy-container">

			<!-- start end Page title -->
      <section>

				<div class="container">

					<div class="row">

						<div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

							<div class="section-title">

								<h3>Top Atracciones</h3>

							</div>

						</div>

					</div>

					<div class="grid destination-grid-wrapper">
            {{#each data.attractions}}
						<div class="grid-item" data-colspan="10" data-rowspan="6">
							<a href="/attractions/{{slug}}" class="top-destination-image-bg" style="background-image:url('https://res.cloudinary.com/triptable/image/upload/c_fill,q_auto,f_auto,g_auto/dpr_auto,w_auto/c_limit,w_800/{{image.public_id}}.{{image.format}}');">
								<div class="relative">
									<h4>{{name}}</h4>
									<span>{{description}}</span>
								</div>
							</a>
						</div>
          {{/each}}
					</div>

				</div>

			</section>

</div>