<!-- start Main Wrapper -->
		<div class="main-wrapper scrollspy-container">

			<!-- start end Page title -->
			<div class="page-title static-header" style="background-image:url('{{data.attraction.image.secure_url}}');">

				<div class="container">

					<div class="row">

						<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">

							<h1 class="hero-title">{{data.attraction.name}}</h1>
               <p>{{data.attraction.description}}</p>
						</div>

					</div>

				</div>

			</div>
      <section class="ptb50">

        <div class="container">

          <div class="row">

            <div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

              <div class="section-title">

                <h1 class="attraction-title">Tours en {{data.attraction.name}}</h1>
                <h3 class="attraction-subtitle">Reserva tours y actividades en {{data.attraction.name}}</h3>

              </div>

            </div>

          </div>

          <div class="GridLex-gap-30-wrappper package-grid-item-wrapper">

            <div class="GridLex-grid-noGutter-equalHeight">
             {{#each data.tours}}
              <div class="GridLex-col-4_sm-6_xs-12 mb-30">
                <div class="package-grid-item">
                  <a href="/tour/{{slug}}">
                    <div class="image">
                      <img src="https://res.cloudinary.com/triptable/image/upload/c_fill,h_400,w_600/v{{images.0.version}}/{{images.0.public_id}}.{{images.0.format}}" alt="{{name}}" />
                      {{#if featured}}
                      <div class="absolute-in-image">
                        <div class="duration"><span>Destacado</span></div>
                      </div>
                      {{/if}}
                    </div>
                    <div class="content clearfix">
                      <h5>{{name}}</h5>
                      <div class="rating-wrapper">
                        <div class="raty-wrapper">
                          <div class="star-rating-read-only" data-rating-score="3.5"></div> <span> /
                          {{#if nOfReviews}}
                            {{nOfReviews.length}}
                           {{else}}
                           0
                           {{/if}}
                          reviews</span>
                        </div>
                      </div>
                      <div class="absolute-in-content">
                        <span class="btn"><i class="fa fa-heart-o"></i></span>
                        <div class="price">${{price}}</div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              {{/each}}

            </div>

          </div>

        </div>

      </section>

</div>