<link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
<section class="no-padding">
				<div class="container">
          <script type="text/javascript">
             var status = parseInt(0);

            </script>
				  <div class="grid destination-grid-wrapper">
          {{#each data.posts.results}}
					<div class="grid-item" data-colspan="10" data-rowspan="7" id=post{{@index}}>
							<a href="/blog/{{slug}}" class="top-destination-image-bg blog-article" style="background-image:url('{{image.secure_url}}');">
								<div class="relative">
									<div class="blog-category">
                  {{#each categories}}
                    <span class="blog-category">{{name}}</span>
                    {{/each}}
                  </div>
									<h4 class="blog-title">
									{{{title}}}</h4>
									<p id="info{{this._id}}"><i class="fa fa-user"></i> {{author.name.full}} <i class="fa fa-clock-o" style="margin-left:15px;"></i>   </p>
								</div>
							</a>
  
						</div>
            <script>
                      $(function() {
                          var date = new Date("{{publishedDate}}");
                          var pretty = moment(date).fromNow();
                          
                          $('#info{{this._id}}').append(pretty);
                      });
                      </script>
            <!--<script type="text/javascript">

            console.log("status", status)
            if (status == 0){
              var postId = $.find('#post{{@index}}');
              $(postId).attr('data-colspan', 20);
              $(postId).attr('data-rowspan', 8);
            }
            if (status != 0){
              var postId = $.find('#post{{@index}}');
              $(postId).attr('data-colspan', 10);
              $(postId).attr('data-rowspan', 7);
            }
            status++;
            if (status >= 9){
              status = 0;
            }
            </script> -->
      {{/each}}
            </div> <!-- main -->
	{{>pagination}}
			</section>
