 {{#if messages.error}}
		<div class="alert alert-danger center">
  			<strong class="center">{{messages.error}}</strong>
		</div>
		{{/if}}

<div class="main-wrapper">
	<div class="breadcrumb-wrapper bg-light-2">
		<div class="container">
		<ol class="breadcrumb-list booking-step">
			<li><a href="">Búsqueda</a></li>
			<li><a href="/tour/{{data.tour.slug}}">{{data.tour.name}}</a></li>
			<li><span>Reservar</span></li>
		</ol>
		</div>
	</div>
		<div class="content-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 mb-50" style="display: none;">
						<div class="price-summary-wrapper">
							<h4 class="heading mt-0 text-primary uppercase">{{data.tour.name}}</h4>
							<ul class="price-summary-list">
								<li>
									<h6 class="heading mt-0 mb-0">{{data.tour.name}}</h6>
									<p class="font12 text-light">{{{data.tour.description.short}}}</p>
								</li>
								<li class="divider"></li>
								<li>
									<h6 class="heading mt-20 mb-5 text-primary uppercase">Precio por persona</h6>
									<div class="row gap-10 mt-10">
										<div class="col-xs-7 col-sm-7">Precio del Tour</div>
										<div class="col-xs-5 col-sm-5 text-right">
											${{data.tour.price}}
										</div>
									</div>
									<div class="row gap-10 mt-10">
										<div class="col-xs-7 col-sm-7">
											Impuestos
										</div>
										<div class="col-xs-5 col-sm-5 text-right">
											$0
										</div>
									</div>
								</li>
								<li class="divider"></li>
								<li class="text-right font600 font14">
									${{data.tour.price}}
								</li>
								<li class="divider"></li>
								<li>
									<div class="row gap-10 font600 font14">
										<div class="col-xs-9 col-sm-9">
											Número de Viajeros
										</div>
										<div class="col-xs-3 col-sm-3 text-right">
											1
										</div>
									</div>
								</li>
								<li class="total-price">
									<div class="row gap-10">
										<div class="col-xs-6 col-sm-6">
											<h5 class="heading mt-0 mb-0 text-white">Precio Total</h5>
											<p class="font12">Pago en Sitio</p>
										</div>
										<div class="col-xs-6 col-sm-6 text-right">
											<span class="block font20 font600 mb-5">$<span id="price"></span></span>
											<span class="font10 line10 block">**Mejor Precio Garantizado </span>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div> <!-- sm12 -->
				<div class="col-sm-8 col-md-9" role="main">
					<div class="section-title text-left">
						<h3>{{data.tour.name}} <!--<small> / 4 days 3 nights</small> --></h3>
					</div>
					<div class="payment-container">
						<form method="post">
							<input type="hidden" name="action" value="booking">
							<input type="hidden" name="tour" placeholder="TourID" class="form-control" value="{{data.tour.tourId}}">
							<input type="hidden" name="tourName" placeholder="tourName" class="form-control" value="{{data.tour.name}}">
							<input type="hidden" name="tourPrice" placeholder="TourPrice" class="form-control" value="{{data.tour.price}}">
				  		<input type="hidden" name="user" placeholder="UserId" class="form-control" value="{{data.user._id}}">
							<input type="hidden" name="tourUrl" placeholder="tourUrl" class="form-control" value="{{data.tour.slug}}">
							<input type="hidden" name="operatorEmail" placeholder="OpEmail" class="form-control" value="{{data.tour.owner.email}}">
							<input type="hidden" name="operatorName" placeholder="OpName" class="form-control" value="{{data.tour.owner.name.full}}">
							<input type="hidden" name="operator" placeholder="OpId" class="form-control" value="{{data.tour.owner._id}}">
							<div class="payment-box" style="border-bottom: none;">
								<div class="payment-header clearfix">
									<div class="number">
										1
									</div>
									<div class="row gap-10">
										<div class="col-sm-9">
											<h5 class="heading mt-0">Fecha del Tour</h5>

										</div>
				<!--<div class="col-sm-3">
				<a href="#" class="btn btn-primary btn-inverse btn-sm pull-right pull-left-xs mb-20-xss">change</a>
				</div> -->
									</div>
								</div>
								<div class="payment-content">
<!-- 									<div class="payment-content">
										<p><input type="date" required=true name="date"></p>
									</div> -->
                      <div class="form-group">
                          <div class='input-group date col-sm-5 col-md-4' id='datetimepicker11'>
                              <input type='text' name="date" class="form-control" />
                              <span class="input-group-addon">
                                  <span class="glyphicon glyphicon-calendar">
                                  </span>
                              </span>
                          </div>
                      </div>
                  </div>
                  <script type="text/javascript">
                      $(function () {

                        var today = new Date();
                        var numberOfDaysToAdd = {{data.tour.skipDays}};
                        if (numberOfDaysToAdd == 0) {
                          numberOfDaysToAdd = 1;
                        }
                        var date = today.setDate(today.getDate() + numberOfDaysToAdd);

                          $('#datetimepicker11').datetimepicker({
                              daysOfWeekDisabled: [{{data.tour.daysDisabled}}],
                              format : 'YYYY-MM-DD',
                              minDate : date,
                              disabledDates :  [{{#each data.tour.disabledDates}}"{{this}}", {{/each}}],
                              debug:true
                          });
                      });
                  </script>
              </div>



							<div class="payment-box" style="border-bottom: none;">
								<div class="payment-header clearfix">
									<div class="number">
										2
									</div>
									<h5 class="heading mt-0">Información de Contacto</h5>
								</div>
								<div class="payment-content">
									<div class="payment-traveller">

										<div class="form-horizontal">
										</div>
										<div class="form-horizontal">
											<div class="form-group gap-20 {{#if validationErrors.name}}has-error{{/if}}">
												{{#if validationErrors.name}}<p>El Nombre no puede estar vacío </p>{{/if}}
												<label class="col-sm-3 col-md-2 control-label">Nombre:</label>
												<div class="col-sm-5 col-md-4">
													<input type="text" name="name.full" value="{{data.user.name.full}}" class="form-control" required="true" value="">
												</div>
											</div>
										</div>
										<div class="form-horizontal">
											<div class="form-group gap-20 {{#if validationErrors.email}}has-error{{/if}}">
												{{#if validationErrors.email}}<p>Ingrese un email válido </p>{{/if}}
												<label class="col-sm-3 col-md-2 control-label">Email:</label>
												<div class="col-sm-5 col-md-4">
													<input type="email" name="email" value="{{data.user.email}}" class="form-control" required=true value="">
												</div>
											</div>
										</div>
										<div class="form-horizontal">
											<div class="form-group gap-20">
												<label class="col-sm-3 col-md-2 control-label">Teléfono:</label>
												<div class="col-sm-5 col-md-4">
													<input type="text" name="phone" class="form-control" value="">
												</div>
											</div>
										</div>
										<div class="form-horizontal">
											<div class="form-group gap-20 select2-input-hide">
												<label class="col-sm-3 col-md-2 control-label">Personas:</label>
												<div class="col-sm-3 col-md-4">
													<input type="hidden" id="people_field" value="{{data.tour.minPerson}}">
													<select name="people" required id="people" class="select2-no-search form-control" data-placeholder="Viajeros">
													{{#for data.tour.minPerson data.tour.maxPerson 1}}
													<option value="{{this}}">{{this}}</option>
													{{/for}}
													</select>
												</div>
											</div>
										</div>

										<script type="text/javascript">
										var processorTax = 3.9; // % del procesador
	    								var processorFee = 0.30; // fee individual por transaccion
											$(function() {
												var min = {{data.tour.minPerson}};
												var price = {{data.tour.price}};
												var initPrice = min*price;

												var taxPrice = initPrice * processorTax / 100; // cantidad en $$ que se lleva el gateway sin el fee
												var transactionCost = taxPrice + processorFee;
												transactionCost = Math.round(transactionCost)+1;
												var totalPrice = initPrice + taxPrice + processorFee;
												totalPrice = Math.round(totalPrice)+1;

										    $('span#price').html(initPrice);
										    $('span#nOfTravelers').html(min);
										    $('span#costOfTransaction').html(transactionCost);
										    $('span#tourTravelersPrice').html(initPrice);
										    $('span#totalPrice').html(totalPrice);
										});

											$("#people").on('change', function(){
												console.log("cambio");
												var value = $('#people').val();
												$('#people_field').val = value;
												var travelers = value;
												var price = {{data.tour.price}};
												var changePrice = travelers*price;

												var taxPrice = changePrice * processorTax / 100; // cantidad en $$ que se lleva el gateway sin el fee
												var transactionCost = taxPrice + processorFee + 0.01;
												transactionCost = Math.round(transactionCost)+1;

												var totalPrice = changePrice + taxPrice + processorFee;
												totalPrice = Math.round(totalPrice)+1;

												$('span#price').html(changePrice);
												$('span#nOfTravelers').html(travelers);
												$('span#costOfTransaction').html(transactionCost);
												$('span#tourTravelersPrice').html(changePrice);
										    	$('span#totalPrice').html(totalPrice);
											});
										</script>

										{{#if data.tour.hotelPickup}}
										<div class="form-horizontal">
											<div class="form-group gap-20">
												<label class="col-sm-3 col-md-2 control-label">Dirección:</label>
												<div class="col-sm-5 col-md-4">
													<input type="text" name="hotel"  placeholder="Hotel o lugar de recogida " class="form-control" value="">
												</div>
											</div>
										</div>
										{{/if}}
									</div>
								</div>
							</div>
							<div class="payment-box" style="border-bottom: none;">
								<div class="payment-header clearfix">
									<div class="number">
										3
									</div>
									<h5 class="heading mt-0">Total a Pagar: $<span id="totalPrice"></span> US</h5>
								</div>
								<div class="payment-content">
									<div id="paymentOption" class="payment-option-wrapper">
										<div class="row">
											<div class="col-sm-12">
												<div class="radio-block">
													<input id="payments1" name="payments" type="radio" class="radio" checked="checked" value="paymentsCreditCard"/>
													<label class="" for="payments1"><span>Tarjeta de Crédito</span> <img src="/images/payment-credit-cards.jpg" alt="Image"</label>
												</div>
											</div>
										</div>
                    <div class="alert alert-info" role="alert" style="margin-left: 15px; margin-right: 15px;"><i class="fa fa-lock"></i> Triptable no almacena los datos de su tarjeta de crédito.</div>
										<!--<div id="paymentsCreditCard" class="payment-option-form"> -->
										<div id="paymentsCreditCard">
											<div class="inner">
												<div class="form">
													<div class="form-group col-md-6">
														<label class="control-label">Nombre del tarjetahabiente</label>
														<input type="text" name="cardholder" class="form-control mb-0 col-md-6" placeholder="Ejm: Juan Pérez">
													</div>
                          <div class="form-group col-md-6">
                            <label for="cc-number" class="control-label">Número de Tarjeta <small class="text-muted">[<span class="cc-brand"></span>]</small></label>
                            <input type="tel" name="cardNumber" class="input-lg form-control cc-number" autocomplete="cc-number" placeholder="•••• •••• •••• ••••" required>
                          </div>
                          <div class="form-group col-md-6">
                            <label for="cc-exp" class="control-label">Fecha de Expiración</label>
                            <input id="cc-exp" type="tel" name="expiration" class="input-lg form-control cc-exp" autocomplete="cc-exp" placeholder="•• / ••" required>
                          </div>
                          <div class="form-group col-md-6">
                            <label for="cc-cvc" class="control-label">CVC<small class="hoover-help of-label" data-toggle="tooltip" data-placement="top" title="Son los 3 dígitos que aparecen al reverso de su tarjeta."> <i class="fa fa-question-circle"></i></small></label>
                            <input id="cc-cvc" type="tel" name="cvv2" class="input-lg form-control cc-cvc" autocomplete="off" placeholder="•••" required>
                          </div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
              <div class="row">
                <div class="checkbox-block col-md-6">
                <input id="accept_booking" name="accept_booking" type="checkbox" class="checkbox" value="paymentsCreditCard"/>
                <label class="" for="accept_booking">Al solicitar una reserva, estás de acuercon con nuestros <a target="_blank" href="/terminos">términos y condiciones</a> .</label>
              </div>
            </div>

						<div class="row">
							<div class="col-sm-8 col-md-6">
								<button class="btn btn-primary">Reservar Ahora</button>
								<p class="line18 mt-10"><span class="font600">Gracias por preferir Triptable</span>.</p>
							</div>
						</div>
					</form>
					</div>
				</div> <!-- sm 8 -->
				<div class="col-sm-4 col-md-3 hidden-xs">
					<div class="price-summary-wrapper">
						<h4 class="heading mt-0 text-primary uppercase">{{data.tour.name}}</h4>
						<ul class="price-summary-list">
							<li>
								<h6 class="heading mt-0 mb-0">{{data.tour.name}}</h6>
								<p class="font12 text-light">{{{data.tour.description.short}}}</p>
							</li>
							<li class="divider"></li>
							<li>
								<h6 class="heading mt-20 mb-5 text-primary uppercase">Precio del Tour</h6>


							</li>
							<li class="divider"></li>
							<li>
								<div class="row gap-10 font600 font14">
									<div class="col-xs-9 col-sm-9">Precio por Viajero</div>
									<div class="col-xs-3 col-sm-3 text-right">${{data.tour.price}}</div>
								</div>
							</li>
							<li class="divider"></li>
							<li>
								<div class="row gap-10 font600 font14">
									<div class="col-xs-9 col-sm-9">Cantidad de Viajeros</div>
									<div class="col-xs-3 col-sm-3 text-right"><span id="nOfTravelers"></span></div>
								</div>
							</li>
							<li class="divider"></li>
							<li>
								<div class="row gap-10 font600 font14">
									<div class="col-xs-9 col-sm-9">Precio Total</div>
									<div class="col-xs-3 col-sm-3 text-right">$<span id="tourTravelersPrice"></span></div>
								</div>
							</li>
							<li class="divider"></li>
							<li>
								<div class="row gap-10 font600 font14">
									<div class="col-xs-9 col-sm-9">Tarifa de Servicio<small class="hoover-help of-label" data-toggle="tooltip" data-placement="top" title="Una pequeña tarifa por el servicio de cobros por internet."> <i class="fa fa-question-circle"></i></small></div>
									<div class="col-xs-3 col-sm-3 text-right">$<span id="costOfTransaction"></span></div>
								</div>
							</li>
							<li class="total-price">
								<div class="row gap-10">
									<div class="col-xs-6 col-sm-6">
										<h5 class="heading mt-0 mb-0 text-white">Total</h5>
										<p class="font12">Los precios se muestran en USD</p>
									</div>
									<div class="col-xs-6 col-sm-6 text-right">
										<span class="block font20 font600 mb-5">$<span id="totalPrice"></span></span>
										<span class="font10 line10 block">**Mejor Precio Garantizado </span>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div> <!-- sm 4 -->
			</div> <!-- row -->
		</div> <!-- container -->
	</div> <!-- content wrapper -->
</div> <!-- end main wrapper -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.4.2/jquery.payment.min.js"></script>

  <style type="text/css" media="screen">
    .has-error input {
      border-width: 2px;
    }
    .validation.text-danger:after {
      content: 'Validation failed';
    }
    .validation.text-success:after {
      content: 'Validation passed';
    }
  </style>

  <script>
    jQuery(function($) {
       $('.cc-exp').payment('formatCardExpiry');
       $('.cc-number').payment('formatCardNumber');
       $('.cc-cvc').payment('formatCardCVC');
       $.fn.toggleInputError = function(erred) {
        this.parent('.form-group').toggleClass('has-error', erred);
        return this;
      };


      $('form').submit(function(e) {
          var valid = $.payment.validateCardNumber($('.cc-number').val());
          if (!valid) {
            alert('Your card is not valid!');
             e.preventDefault();
            var cardType = $.payment.cardType($('.cc-number').val());
            $('.cc-number').toggleInputError(!$.payment.validateCardNumber($('.cc-number').val()));
            $('.cc-exp').toggleInputError(!$.payment.validateCardExpiry($('.cc-exp').payment('cardExpiryVal')));
            $('.cc-cvc').toggleInputError(!$.payment.validateCardCVC($('.cc-cvc').val(), cardType));
            $('.cc-brand').text(cardType);
            $('.validation').removeClass('text-danger text-success');
            $('.validation').addClass($('.has-error').length ? 'text-danger' : 'text-success');
            return false;
            } else {
              $('.validation').removeClass('text-danger text-success');
              $('.validation').removeClass($('.has-error').length ? 'text-danger' : 'text-success');
              return true;
            }
      });
    });
  </script>
