<div class="container">
	<h1 style="padding-right:10px;">Reservar</h1>
</div>
<!-- <div class="container">
	<div class="row">
		<div class="col-sm-8 col-md-6">
			{{#if enquirySubmitted}}
			<h3>Thanks for getting in touch.</h3>
			{{else}}
			<form method="post">
				<input type="hidden" name="action" value="contact">
				<div class="form-group {{#if validationErrors.name}}has-error{{/if}}">
					<label>Name</label>
					<input type="text" name="name.full"  class="form-control" value="{{formData.[name.full]}}">
				</div>
				<div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
					<label>Email</label>
					<input type="email" name="email" class="form-control" value="{{formData.email}}">
				</div>
				<div class="form-group">
					<label>Phone</label>
					<input type="text" name="phone" placeholder="(optional)" class="form-control" value="{{formData.phone}}">
				</div>
				<div class="form-group {{#if validationErrors.enquiryType}}has-error{{/if}}">
					<label>What are you contacting us about?</label>
					<select name="enquiryType" class="form-control">
						<option value="">(select one)</option>
						{{#each enquiryTypes}}
						<option value="{{value}}">{{label}}</option>
						{{/each}}
					</select>
				</div>
				<div class="form-group {{#if validationErrors.message}}has-error{{/if}} ">
					<label>Message</label>
					<textarea name="message" placeholder="Leave us a message..." rows="4" class="form-control">{{formData.message}}</textarea>
				</div>
				<div class="form-actions">
					<button type="submit" class="btn btn-primary">Send</button>
				</div>
			</form>
			{{/if}}
		</div>
	</div>
</div> -->
<style>
input[placeholder], [placeholder], *[placeholder] {
    color: darkslategray !important;
}
</style>
<div class="content_wrapper row ">
	<div class="row">
		<div class="col-md-12">
		{{#if enquirySubmitted}}
			<h3>Su solicitud de Reserva se ha enviado.</h3>
			{{else}}
			<div class="contact-wrapper">    
            	<div class="col-xs-12 col-sm-12 col-lg-8 contact_page_company_details">  
					<div class="agent_contanct_form">
	                    <div class="alert-box-contact-page error">
	                        <div class="alert-message" id="alert-agent-contact"></div>
	                    </div> 
	                    <form method="post">
	                    <div class="row">
						<input type="hidden" name="action" value="contact">
                    	<p class="{{#if validationErrors.name}}has-error{{/if}} col-lg-4 ">Nombre
                        	<input type="text" placeholder="Nombre" name="name.full"  size="40" class="form-control" value="{{formData.name}}">
                   	 	</p>

                    	<p class="col-lg-4">E-mail
                        	<input type="email" name="email" placeholder="Email" size="40" class="form-control" value="{{formData.email}}">
                    	</p>
						<p class="col-lg-4">Cantidad de Personas
                        	<input type="number" name="people" placeholder="Telefono" class="form-control" value="{{formData.people}}">
                    	</p>
                    	<p class=" col-lg-4">Fecha
                        	<input type="date" name="date" id="date" placeholder="Fecha" class="form-control" value="">
                    	</p>
                    	 <script type="text/javascript">
				             $(function () {
				              var today = new Date();
								var dd = today.getDate();
								var mm = today.getMonth()+1; //January is 0!
								var yyyy = today.getFullYear();

								if(dd<10) {
								    dd='0'+dd
								} 

								if(mm<10) {
								    mm='0'+mm
								} 

								today = yyyy+'-'+mm+'-'+dd;

				              $('#date').attr("min", today);
				            });        
				          </script>
                    	<p class=" col-lg-4">Teléfono
                        	<input type="text" name="phone" placeholder="Ej: +507 6789-2398" class="form-control" value="{{formData.phone}}">
                    	</p>

                    	<p class="col-lg-4">Hotel 
                        	<input type="text" name="hotel" placeholder="Lugar de recogida" class="form-control" value="{{formData.hotel}}">
                    	</p>
						<p class="col-lg-8">Comentarios adicionales
						<textarea name="message" placeholder="Ej: Si es vegetariano o necesita atenciones adicionales" rows="4" class="form-control ">{{formData.message}}</textarea>
						</p>
						<input type="hidden" name="tour" placeholder="TourID" class="form-control" value="{{data.tour.tourId}}">
						<input type="hidden" name="tourPrice" placeholder="TourID" class="form-control" value="{{data.tour.price}}">
{{data.tour.price}}
						<input type="hidden" name="operatorEmail" placeholder="OpEmail" class="form-control" value="{{data.tour.owner.email}}">
						
						<p class="col-lg-12">
                    	<button type="submit" class="wpb_btn-info wpb_btn-small wpestate_vc_button  vc_button">Solicitar Reserva</button>
                    	</p>
                    	</div>
                    	</form>
                    	
					</div>
            	</div>
            	<div class="col-xs-12 col-sm-12 col-lg-4">
            		Tour: {{data.tour.name}} <br>
            		Precio: USD${{data.tour.price}}
            		{{data.tour.maxPeople}}
            		<div class="col-md-12">
            			<img class="img-responsive" src="{{data.tour.images.0.url}}" />
            		</div>
            	</div>
            </div>  
            {{/if}}  
        </div>
	</div>   
</div>
