<!-- <div class="container">
<h1 style="padding-right:10px;">Reservar</h1>
</div>
<div class="container">
<div class="row">
<div class="col-sm-8 col-md-6">
{{#if enquirySubmitted}}
<h3>Thanks for getting in touch.</h3>
{{else}}
<form method="post">
<input type="hidden" name="action" value="contact">
<div class="form-group {{#if validationErrors.name}}has-error{{/if}}">
<label>Name</label>
<input type="text" name="name.full"  class="form-control" value="{{formData.[name.full]}}">
</div>
<div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
<label>Email</label>
<input type="email" name="email" class="form-control" value="{{formData.email}}">
</div>
<div class="form-group">
<label>Phone</label>
<input type="text" name="phone" placeholder="(optional)" class="form-control" value="{{formData.phone}}">
</div>
<div class="form-group {{#if validationErrors.enquiryType}}has-error{{/if}}">
<label>What are you contacting us about?</label>
<select name="enquiryType" class="form-control">
<option value="">(select one)</option>
{{#each enquiryTypes}}
<option value="{{value}}">{{label}}</option>
{{/each}}
</select>
</div>
<div class="form-group {{#if validationErrors.message}}has-error{{/if}} ">
<label>Message</label>
<textarea name="message" placeholder="Leave us a message..." rows="4" class="form-control">{{formData.message}}</textarea>
</div>
<div class="form-actions">
<button type="submit" class="btn btn-primary">Send</button>
</div>
</form>
{{/if}}
</div>
</div>
</div> -->
<!--<style>
input[placeholder], [placeholder], *[placeholder] {
color: darkslategray !important;
}
</style>
<div class="content_wrapper row ">
<div class="row">
<div class="col-md-12">
{{#if enquirySubmitted}}
<h3>Su solicitud de Reserva se ha enviado.</h3>
{{else}}
<div class="contact-wrapper">
<div class="col-xs-12 col-sm-12 col-lg-8 contact_page_company_details">
<div class="agent_contanct_form">
<div class="alert-box-contact-page error">
<div class="alert-message" id="alert-agent-contact"></div>
</div>
<form method="post">
<div class="row">
<input type="hidden" name="action" value="contact">
<p class="{{#if validationErrors.name}}has-error{{/if}} col-lg-4 ">Nombre
<input type="text" placeholder="Nombre" name="name.full"  size="40" class="form-control" value="{{formData.name}}">
</p>

<p class="col-lg-4">E-mail
<input type="email" name="email" placeholder="Email" size="40" class="form-control" value="{{formData.email}}">
</p>
<p class="col-lg-4">Cantidad de Personas
<input type="number" name="people" placeholder="Telefono" class="form-control" value="{{formData.people}}">
</p>
<p class=" col-lg-4">Fecha
<input type="date" name="date" id="date" placeholder="Fecha" class="form-control" value="">
</p>
<script type="text/javascript">
$(function () {
var today = new Date();
var dd = today.getDate();
var mm = today.getMonth()+1; //January is 0!
var yyyy = today.getFullYear();

if(dd<10) {
dd='0'+dd
}

if(mm<10) {
mm='0'+mm
}

today = yyyy+'-'+mm+'-'+dd;

$('#date').attr("min", today);
});
</script>
<p class=" col-lg-4">Teléfono
<input type="text" name="phone" placeholder="Ej: +507 6789-2398" class="form-control" value="{{formData.phone}}">
</p>

<p class="col-lg-4">Hotel
<input type="text" name="hotel" placeholder="Lugar de recogida" class="form-control" value="{{formData.hotel}}">
</p>
<p class="col-lg-8">Comentarios adicionales
<textarea name="message" placeholder="Ej: Si es vegetariano o necesita atenciones adicionales" rows="4" class="form-control ">{{formData.message}}</textarea>
</p>
<input type="hidden" name="tour" placeholder="TourID" class="form-control" value="{{data.tour.tourId}}">
<input type="hidden" name="tourPrice" placeholder="TourID" class="form-control" value="{{data.tour.price}}">

<input type="hidden" name="operatorEmail" placeholder="OpEmail" class="form-control" value="{{data.tour.owner.email}}">
<input type="hidden" name="operatorName" placeholder="OpName" class="form-control" value="{{data.tour.owner.name.full}}">



<p class="col-lg-12">
<button type="submit" class="wpb_btn-info wpb_btn-small wpestate_vc_button  vc_button">Solicitar Reserva</button>
</p>
</div>
</form>

</div>
</div>
<div class="col-xs-12 col-sm-12 col-lg-4">
Tour: {{data.tour.name}} <br>
Precio: USD${{data.tour.price}}
{{data.tour.maxPeople}}
<div class="col-md-12">
<img class="img-responsive" src="{{data.tour.images.0.secure_url}}" />
</div>
</div>
</div>
{{/if}}
</div>
</div>
</div> -->

 {{#if messages.error}}
		<div class="alert alert-danger center">
  			<strong class="center">{{messages.error}}</strong>
		</div>
		{{/if}}

<div class="main-wrapper">
	<div class="breadcrumb-wrapper bg-light-2">
		<div class="container">
		<ol class="breadcrumb-list booking-step">
			<li><a href="">Búsqueda</a></li>
			<li><a href="/tour/{{data.tour.slug}}">{{data.tour.name}}</a></li>
			<li><span>Reservar</span></li>
		</ol>
		</div>
	</div>
		<div class="content-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-sm-12 mb-50" style="display: none;">
						<div class="price-summary-wrapper">
							<h4 class="heading mt-0 text-primary uppercase">{{data.tour.name}}</h4>
							<ul class="price-summary-list">
								<li>
									<h6 class="heading mt-0 mb-0">{{data.tour.name}}</h6>
									<p class="font12 text-light">{{{data.tour.description.short}}}</p>
								</li>
								<li class="divider"></li>
								<li>
									<h6 class="heading mt-20 mb-5 text-primary uppercase">Precio por persona</h6>
									<div class="row gap-10 mt-10">
										<div class="col-xs-7 col-sm-7">Precio del Tour</div>
										<div class="col-xs-5 col-sm-5 text-right">
											${{data.tour.price}}
										</div>
									</div>
									<div class="row gap-10 mt-10">
										<div class="col-xs-7 col-sm-7">
											Impuestos
										</div>
										<div class="col-xs-5 col-sm-5 text-right">
											$0
										</div>
									</div>
								</li>
								<li class="divider"></li>
								<li class="text-right font600 font14">
									${{data.tour.price}}
								</li>
								<li class="divider"></li>
								<li>
									<div class="row gap-10 font600 font14">
										<div class="col-xs-9 col-sm-9">
											Número de Viajeros
										</div>
										<div class="col-xs-3 col-sm-3 text-right">
											1
										</div>
									</div>
								</li>
								<li class="total-price">
									<div class="row gap-10">
										<div class="col-xs-6 col-sm-6">
											<h5 class="heading mt-0 mb-0 text-white">Precio Total</h5>
											<p class="font12">Pago en Sitio</p>
										</div>
										<div class="col-xs-6 col-sm-6 text-right">
											<span class="block font20 font600 mb-5">$<span id="price"></span></span>
											<span class="font10 line10 block">**Mejor Precio Garantizado </span>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div> <!-- sm12 -->
				<div class="col-sm-8 col-md-9" role="main">
					<div class="section-title text-left">
						<h3>{{data.tour.name}} <!--<small> / 4 days 3 nights</small> --></h3>
					</div>
					<div class="payment-container">
						<form method="post">
							<input type="hidden" name="action" value="booking">
							<input type="hidden" name="tour" placeholder="TourID" class="form-control" value="{{data.tour.tourId}}">
							<input type="hidden" name="tourName" placeholder="tourName" class="form-control" value="{{data.tour.name}}">
							<input type="hidden" name="tourPrice" placeholder="TourPrice" class="form-control" value="{{data.tour.price}}">
				  		<input type="hidden" name="user" placeholder="UserId" class="form-control" value="{{data.user._id}}">
							<input type="hidden" name="tourUrl" placeholder="tourUrl" class="form-control" value="{{data.tour.slug}}">
							<input type="hidden" name="operatorEmail" placeholder="OpEmail" class="form-control" value="{{data.tour.owner.email}}">
							<input type="hidden" name="operatorName" placeholder="OpName" class="form-control" value="{{data.tour.owner.name.full}}">
							<div class="payment-box">
								<div class="payment-header clearfix">
									<div class="number">
										1
									</div>
									<div class="row gap-10">
										<div class="col-sm-9">
											<h5 class="heading mt-0">Fecha del Tour</h5>

										</div>
				<!--<div class="col-sm-3">
				<a href="#" class="btn btn-primary btn-inverse btn-sm pull-right pull-left-xs mb-20-xss">change</a>
				</div> -->
									</div>
								</div>
								<div class="payment-content">
<!-- 									<div class="payment-content">
										<p><input type="date" required=true name="date"></p>
									</div> -->
                      <div class="form-group">
                          <div class='input-group date col-sm-5 col-md-4' id='datetimepicker11'>
                              <input type='text' name="date" class="form-control" />
                              <span class="input-group-addon">
                                  <span class="glyphicon glyphicon-calendar">
                                  </span>
                              </span>
                          </div>
                      </div>
                  </div>
                  <script type="text/javascript">
                      $(function () {

                        var today = new Date();
                        var numberOfDaysToAdd = {{data.tour.skipDays}};
                        if (numberOfDaysToAdd == 0) {
                          numberOfDaysToAdd = 1;
                        }
                        var date = today.setDate(today.getDate() + numberOfDaysToAdd);

                          $('#datetimepicker11').datetimepicker({
                              daysOfWeekDisabled: [{{data.tour.daysDisabled}}],
                              format : 'YYYY-MM-DD',
                              minDate : date,
                              disabledDates :  [{{#each data.tour.disabledDates}}"{{this}}", {{/each}}],
                              debug:true
                          });
                      });
                  </script>
              </div>



							<div class="payment-box">
								<div class="payment-header clearfix">
									<div class="number">
										2
									</div>
									<h5 class="heading mt-0">Información de Contacto</h5>
								</div>
								<div class="payment-content">
									<div class="payment-traveller">

										<div class="form-horizontal">
										</div>
										<div class="form-horizontal">
											<div class="form-group gap-20 {{#if validationErrors.name}}has-error{{/if}}">
												{{#if validationErrors.name}}<p>El Nombre no puede estar vacío </p>{{/if}}
												<label class="col-sm-3 col-md-2 control-label">Nombre:</label>
												<div class="col-sm-5 col-md-4">
													<input type="text" name="name.full" value="{{data.user.name.full}}" class="form-control" required="true" value="">
												</div>
											</div>
										</div>
										<div class="form-horizontal">
											<div class="form-group gap-20 {{#if validationErrors.email}}has-error{{/if}}">
												{{#if validationErrors.email}}<p>Ingrese un email válido </p>{{/if}}
												<label class="col-sm-3 col-md-2 control-label">Email:</label>
												<div class="col-sm-5 col-md-4">
													<input type="email" name="email" value="{{data.user.email}}" class="form-control" required=true value="">
												</div>
											</div>
										</div>
										<div class="form-horizontal">
											<div class="form-group gap-20">
												<label class="col-sm-3 col-md-2 control-label">Teléfono:</label>
												<div class="col-sm-5 col-md-4">
													<input type="text" name="phone" class="form-control" value="">
												</div>
											</div>
										</div>
										<div class="form-horizontal">
											<div class="form-group gap-20 select2-input-hide">
												<label class="col-sm-3 col-md-2 control-label">Personas:</label>
												<div class="col-sm-3 col-md-4">
													<input type="hidden" id="people_field" value="{{data.tour.minPerson}}">
													<select name="people" required id="people" class="select2-no-search form-control" data-placeholder="Viajeros">
													<option value="">Viajeros</option>
													{{#for data.tour.minPerson data.tour.maxPerson 1}}
													<option value="{{this}}">{{this}}</option>
													{{/for}}
													</select>
												</div>
											</div>
										</div>

										<script type="text/javascript">
										var processorTax = 3.9; // % del procesador
	    								var processorFee = 0.30; // fee individual por transaccion
											$(function() {
												var min = {{data.tour.minPerson}};
												var price = {{data.tour.price}};
												var initPrice = min*price;

												var taxPrice = initPrice * processorTax / 100; // cantidad en $$ que se lleva el gateway sin el fee
												var transactionCost = taxPrice + processorFee;
												transactionCost = Math.round(transactionCost)+1;
												var totalPrice = initPrice + taxPrice + processorFee;
												totalPrice = Math.round(totalPrice)+1;

										    $('span#price').html(initPrice);
										    $('span#nOfTravelers').html(min);
										    $('span#costOfTransaction').html(transactionCost);
										    $('span#tourTravelersPrice').html(initPrice);
										    $('span#totalPrice').html(totalPrice);
										});

											$("#people").on('change', function(){
												console.log("cambio");
												var value = $('#people').val();
												$('#people_field').val = value;
												var travelers = value;
												var price = {{data.tour.price}};
												var changePrice = travelers*price;

												var taxPrice = changePrice * processorTax / 100; // cantidad en $$ que se lleva el gateway sin el fee
												var transactionCost = taxPrice + processorFee + 0.01;
												transactionCost = Math.round(transactionCost)+1;

												var totalPrice = changePrice + taxPrice + processorFee;
												totalPrice = Math.round(totalPrice)+1;

												$('span#price').html(changePrice);
												$('span#nOfTravelers').html(travelers);
												$('span#costOfTransaction').html(transactionCost);
												$('span#tourTravelersPrice').html(changePrice);
										    	$('span#totalPrice').html(totalPrice);
											});
										</script>

										{{#if data.tour.hotelPickup}}
										<div class="form-horizontal">
											<div class="form-group gap-20">
												<label class="col-sm-3 col-md-2 control-label">Dirección:</label>
												<div class="col-sm-5 col-md-4">
													<input type="text" name="hotel"  placeholder="Hotel o lugar de recogida " class="form-control" value="">
												</div>
											</div>
										</div>
										{{/if}}
									</div>
								</div>
							</div>
							<div class="payment-box">
								<div class="payment-header clearfix">
									<div class="number">
										3
									</div>
									<h5 class="heading mt-0">Total a Pagar: $<span id="totalPrice"></span> US</h5>
								</div>
								<div class="payment-content">
									<div id="paymentOption" class="payment-option-wrapper">
										<div class="row">
											<div class="col-sm-12">
												<div class="radio-block">
													<input id="payments1" name="payments" type="radio" class="radio" checked="checked" value="paymentsCreditCard"/>
													<label class="" for="payments1"><span>Tarjeta de Crédito</span> <img src="/images/payment-credit-cards.jpg" alt="Image"</label>
												</div>
											</div>
										</div>
                    <div class="alert alert-info" role="alert"><i class="fa fa-lock"></i> Triptable no almacena los datos de su tarjeta de crédito.</div>
										<!--<div id="paymentsCreditCard" class="payment-option-form"> -->
										<div id="paymentsCreditCard">
											<div class="inner">
												<div class="form-horizontal">
													<div class="form-group gap-20">
														<label class="col-sm-3 col-md-3 control-label">Nombre del tarjetahabiente</label>
														<div class="col-sm-6 col-md-6">
															<input type="text" name="cardholder" class="form-control mb-0" placeholder="">
														</div>
													</div>
													<div class="form-group gap-20">
														<label class="col-sm-3 col-md-3 control-label">Número de tarjeta </label>
														<div class="col-sm-6 col-md-6">
															<input type="tel" name="cardNumber" class="form-control mb-0" placeholder="">
														</div>
													</div>
													<div class="form-group gap-20">
														<label class="col-sm-3 col-md-3 control-label">Fecha de Expiración </label>
															<input type="hidden" name="expiration" id="ccDate" class="form-control mb-0" placeholder="">
														<div class="col-sm-3 col-md-3">
															<select class="select2-no-search form-control" data-placeholder="Mes" id="ccMonth">
															<option value="">Mes</option>
															<option value="01">01</option>
															<option value="02">02</option>
															<option value="03">03</option>
															<option value="04">04</option>
															<option value="05">05</option>
															<option value="06">06</option>
															<option value="07">07</option>
															<option value="08">08</option>
															<option value="09">09</option>
															<option value="10">10</option>
															<option value="11">11</option>
															<option value="12">12</option>
															</select>
														</div>
														<div class="col-sm-3 col-md-3">
															<select class="select2-no-search form-control" data-placeholder="Año" id="ccYear">
															<option value="">Año</option>
															<option value="16">16</option>
															<option value="17">17</option>
															<option value="18">18</option>
															<option value="19">19</option>
															<option value="20">20</option>
															<option value="21">21</option>
															<option value="22">22</option>
															<option value="23">23</option>
															<option value="24">24</option>
															<option value="25">25</option>
															<option value="26">26</option>
															<option value="27">27</option>
															<option value="28">28</option>
															<option value="29">29</option>
															<option value="30">30</option>
															</select>
														</div>
													</div>
													<script type="text/javascript">
														var year;
														var month;
														var concat;
														$('#ccMonth').on('change', function(){
														    month = $('#ccMonth').val();
															console.log(month);
															concat = month + year;
															console.log("concat in month", concat);
														});
														$('#ccYear').on('change', function(){
														    year = $('#ccYear').val();
															console.log(year);
															concat = month + year;
															console.log("concat in year", concat);
														});
														$("form").submit(function(){
														    $('#ccDate').attr('value', concat);
														    console.log($('#ccDate'));
														});
													</script>

													<div class="form-group gap-20">
														<label class="col-sm-3 col-md-3 control-label">CVV <small class="hoover-help of-label" data-toggle="tooltip" data-placement="top" title="Son los 3 dígitos que aparecen al reverso de su tarjeta."> <i class="fa fa-question-circle"></i></small> </label>
														<div class="col-sm-3 col-md-2">
															<input type="text" name="cvv2" class="form-control mb-0" placeholder="">
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="checkbox-block">
							<input id="accept_booking" name="accept_booking" type="checkbox" class="checkbox" value="paymentsCreditCard"/>
							<label class="" for="accept_booking">Al solicitar una reserva, estás de acuercon con nuestros <a target="_blank" href="/terminos">términos y condiciones</a> .</label>
						</div>
						<div class="row mt-20">
							<div class="col-sm-8 col-md-6">
								<button class="btn btn-primary">Reservar Ahora</button>
								<p class="line18 mt-10"><span class="font600">Gracias por preferir Triptable</span>.</p>
							</div>
						</div>
					</form>
					</div>
				</div> <!-- sm 8 -->
				<div class="col-sm-4 col-md-3 hidden-xs">
					<div class="price-summary-wrapper">
						<h4 class="heading mt-0 text-primary uppercase">{{data.tour.name}}</h4>
						<ul class="price-summary-list">
							<li>
								<h6 class="heading mt-0 mb-0">{{data.tour.name}}</h6>
								<p class="font12 text-light">{{{data.tour.description.short}}}</p>
							</li>
							<li class="divider"></li>
							<li>
								<h6 class="heading mt-20 mb-5 text-primary uppercase">Precio del Tour</h6>


							</li>
							<li class="divider"></li>
							<li>
								<div class="row gap-10 font600 font14">
									<div class="col-xs-9 col-sm-9">Precio por Viajero</div>
									<div class="col-xs-3 col-sm-3 text-right">${{data.tour.price}}</div>
								</div>
							</li>
							<li class="divider"></li>
							<li>
								<div class="row gap-10 font600 font14">
									<div class="col-xs-9 col-sm-9">Cantidad de Viajeros</div>
									<div class="col-xs-3 col-sm-3 text-right"><span id="nOfTravelers"></span></div>
								</div>
							</li>
							<li class="divider"></li>
							<li>
								<div class="row gap-10 font600 font14">
									<div class="col-xs-9 col-sm-9">Precio Total</div>
									<div class="col-xs-3 col-sm-3 text-right">$<span id="tourTravelersPrice"></span></div>
								</div>
							</li>
							<li class="divider"></li>
							<li>
								<div class="row gap-10 font600 font14">
									<div class="col-xs-9 col-sm-9">Tarifa de Servicio<small class="hoover-help of-label" data-toggle="tooltip" data-placement="top" title="Una pequeña tarifa por el servicio de cobros por internet."> <i class="fa fa-question-circle"></i></small></div>
									<div class="col-xs-3 col-sm-3 text-right">$<span id="costOfTransaction"></span></div>
								</div>
							</li>
							<li class="total-price">
								<div class="row gap-10">
									<div class="col-xs-6 col-sm-6">
										<h5 class="heading mt-0 mb-0 text-white">Total</h5>
										<p class="font12">Los precios se muestran en USD</p>
									</div>
									<div class="col-xs-6 col-sm-6 text-right">
										<span class="block font20 font600 mb-5">$<span id="totalPrice"></span></span>
										<span class="font10 line10 block">**Mejor Precio Garantizado </span>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div> <!-- sm 4 -->
			</div> <!-- row -->
		</div> <!-- container -->
	</div> <!-- content wrapper -->
</div> <!-- end main wrapper -->



