<!-- start Main Wrapper -->
<div class="main-wrapper scrollspy-container">
  <div class="page-title static-header" style="background-image:url('https://static.pexels.com/photos/21014/pexels-photo.jpg');background-position: center;">
    <div class="container">
      <div class="row">
			  <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <h1 class="hero-title">La Plataforma más Avanzada de Reservas Online</h1>
          <p class="hero-title">Regístrate y ofrece tus servicios a cientos de viajeros al día</p>
          <ol class="breadcrumb-list">
					  <li><a href="/">Inicio</a></li>
					  <li><span>Tour Operadores</span></li>
					</ol>
        </div> <!-- end col-sm-10 -->
      </div><!-- end row -->
    </div> <!-- end container -->
  </div><!-- end Page title -->
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
     <blockquote>Nunca más pierdas una reserva. En Triptable hemos creado la más poderosa herramienta de reservas online para guías locales y tour operadores para que te enfoques en tu negocio mientras nosotros nos ocupamos de las ventas. ¡Ven a construir el futuro con nosotros!</blockquote>
      </div>
    </div>
  </div>
</div>


        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <div class="featured-count clearfix">
                <div class="icon"><i class="pe-7s-map-2"></i></div>
                <div class="content">
                  <h4 class="description">Descubre Cosas que Hacer</h4>
                  <span>en Triptable encontrarás los mejores tours y cosas que hacer en donde te encuentres.</span>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="featured-count clearfix">
                <div class="icon"> <i class="pe-7s-id"></i></div>
                <div class="content">
                  <h4 class="description">Encuentra los mejores guías</h4>
                  <span>Cientos de guías y operadores turísticos de clase mundial ofrecen sus tours aquí.</span>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="featured-count clearfix">
                <div class="icon"> <i class="pe-7s-lock"></i></div>
                <div class="content">
                  <h4 class="description">Reserva con seguridad</h4>
                  <span>Procesamos y protegemos cada transacción que haces para que reserves con confianza.</span>
                </div>
              </div>
            </div>
          </div>
        </div>




<div class="container">
<div class="row">
<div class="col-sm-offset-3 col-md-6 col-sm-offset-3">
	<h1>Regístrate como partner</h1>
	</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-offset-3 col-md-6 col-sm-offset-3 ">
			{{#if enquirySubmitted}}
			<h3>Hemos enviado la informacion a tu correo</h3>
			{{else}}
			<form method="post">
				<input type="hidden" name="action" value="contact">
				<div class="form-group {{#if validationErrors.name}}has-error{{/if}}">
					<label>Nombre</label>
					<input type="text" name="name.full"  class="form-control" value="{{formData.[name.full]}}">
				</div>
				<div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
					<label>Email</label>
					<input type="email" name="email" class="form-control" value="{{formData.email}}">
				</div>
				<div class="form-group {{#if validationErrors.message}}has-error{{/if}} ">
					<label>Sitio Web</label>
					<input type="text" name="message" placeholder="Sitio Web" class="form-control" value="{{formData.phone}}">
				</div>
				<div class="form-group {{#if validationErrors.enquiryType}}has-error{{/if}}">
					<label>Soy un:</label>
					<select name="enquiryType" class="form-control">
						<option value="">Escoge</option>
						{{#each enquiryTypes}}
						<option value="{{value}}">{{label}}</option>
						{{/each}}
					</select>
				</div>
				<div class="form-actions center pb50">
					<button type="submit" class="btn btn-primary ">Aplica</button>
				</div>
			</form>
			{{/if}}
		</div>
	</div>
</div>