<!-- start Main Wrapper -->
<div class="main-wrapper scrollspy-container">
  <div class="page-title static-header" style="background-image:url('https://static.pexels.com/photos/21014/pexels-photo.jpg');background-position: center;padding: 100px 0;">
    <div class="container">
      <div class="row">
			  <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <h1 class="hero-title static">Aumenta tus reservas en línea</h1>
          <ol class="breadcrumb-list">
					  <li><a href="/">Inicio</a></li>
					  <li><span>Tour Operadores</span></li>
					</ol>
        </div> <!-- end col-sm-10 -->
      </div><!-- end row -->
    </div> <!-- end container -->
  </div><!-- end Page title -->
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
     <blockquote class="margin10 center">En Triptable hemos creado la más poderosa herramienta de reservas online para guías locales y tour operadores para que te enfoques en tu negocio mientras nosotros nos ocupamos de las ventas. <strong>¡Ven a construir el futuro con nosotros!</strong></blockquote>
      </div>
    </div>
  </div>
</div>


        <div class="container">
          <div class="row partners">
            <div class="col-sm-6 col-md-4">
              <div class="featured-count clearfix no-margin">
                <div class="icon-np no-padding featured-icon-static center"><i class="pe-7s-note2"></i></div>
                <div class="content no-margin">
                  <h3 class="description no-margin center title">Aplica</h3>
                  <div><p class="center pt15">El primer paso es enviarnos tus datos a través del formulario que está abajo.</span></p></div>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-4">
              <div class="featured-count clearfix no-margin">
                <div class="icon-np no-padding featured-icon-static center"> <i class="pe-7s-date"></i></div>
                <div class="content no-margin">
                  <h3 class="description no-margin center title">Entrevista</h3>
                  <div><p class="center pt15">Un representante de Triptable se contactará contigo para conocer más acerca de tu negocio.</span></p></div>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-4">
              <div class="featured-count clearfix no-margin">
                <div class="icon-np no-padding featured-icon-static center"> <i class="pe-7s-check"></i></div>
                <div class="content no-margin">
                  <h3 class="description no-margin center title">Bienvenido a Triptable</h3>
                  <div><p class="center pt15">Podrás vender online y aumentar tus reservas con nuestra herramientas para operadores.</span></p></div>
                </div>
              </div>
            </div>
          </div>
        </div>

<div class="container">
	<div class="row">
		<div class="col-md-10 col-sm-10 col-sm-offset-1">
			{{#if enquirySubmitted}}
			<h3>Hemos enviado la informacion a tu correo</h3>
			{{else}}
			<form method="post">
				<input type="hidden" name="action" value="contact">
				<div class="form-group col-md-6 {{#if validationErrors.name}}has-error{{/if}}">
					<label>Nombre</label>
					<input type="text" name="name.full"  class="form-control" value="{{formData.[name.full]}}">
				</div>
				<div class="form-group col-md-6 {{#if validationErrors.email}}has-error{{/if}}">
					<label>Email</label>
					<input type="email" name="email" class="form-control" value="{{formData.email}}">
				</div>
				<div class="form-group col-md-6 {{#if validationErrors.message}}has-error{{/if}} ">
					<label>Sitio Web</label>
					<input type="text" name="message" placeholder="Sitio Web" class="form-control" value="{{formData.phone}}">
				</div>
				<div class="form-group  col-md-6 {{#if validationErrors.enquiryType}}has-error{{/if}}">
					<label>Soy un:</label>
					<select name="enquiryType" class="form-control">
						<option value="">Escoge</option>
						{{#each enquiryTypes}}
						<option value="{{value}}">{{label}}</option>
						{{/each}}
					</select>
				</div>
				<div class="form-actions center pb50">
					<button type="submit" class="btn btn-primary" style="margin: 20px;padding: 20px;">Aplicar Ahora</button>
				</div>
			</form>
			{{/if}}
		</div>
	</div>
</div>
{{>whyUs}}
{{>home/testimonials}}
{{>supportUs}}