<div class="container">
<div class="row">
<div class="col-sm-offset-3 col-md-6 col-sm-offset-3">
	<h1>Regístrate como partner</h1>
	</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-offset-3 col-md-6 col-sm-offset-3 ">
			{{#if enquirySubmitted}}
			<h3>Hemos enviado la informacion a tu correo</h3>
			{{else}}
			<form method="post">
				<input type="hidden" name="action" value="contact">
				<div class="form-group {{#if validationErrors.name}}has-error{{/if}}">
					<label>Nombre</label>
					<input type="text" name="name.full"  class="form-control" value="{{formData.[name.full]}}">
				</div>
				<div class="form-group {{#if validationErrors.email}}has-error{{/if}}">
					<label>Email</label>
					<input type="email" name="email" class="form-control" value="{{formData.email}}">
				</div>
				<div class="form-group {{#if validationErrors.message}}has-error{{/if}} ">
					<label>Sitio Web</label>
					<input type="text" name="message" placeholder="Sitio Web" class="form-control" value="{{formData.phone}}">
				</div>
				<div class="form-group {{#if validationErrors.enquiryType}}has-error{{/if}}">
					<label>Soy un:</label>
					<select name="enquiryType" class="form-control">
						<option value="">Escoge</option>
						{{#each enquiryTypes}}
						<option value="{{value}}">{{label}}</option>
						{{/each}}
					</select>
				</div>
				<div class="form-actions center pb50">
					<button type="submit" class="btn btn-primary ">Aplica</button>
				</div>
			</form>
			{{/if}}
		</div>
	</div>
</div>