 <!-- start Main Wrapper -->
    <div class="main-wrapper">

      <!-- start hero-header with windows height -->
      {{#if data.homeImage}}
       <div class="hero" style="background-image:url('{{data.homeImage.image.secure_url}}'); background-position: center {{data.homeImage.verticalPosition}}%;">
      {{else}}
      <div class="hero" style="background-image:url('https://res.cloudinary.com/triptable/image/upload/w_1440/v1463514314/mgtknwnnuiv14poppjex.jpg');">
      {{/if}}
        <div class="container">

          <div class="row">

            <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">

              <h1 class="hero-title">Experiencias Locales Únicas</h1>
              <p class="lead">Reserva tours con guías locales en más de 20 destinos y disfruta de tu viaje sin estrés.</i></p>

            </div>

          </div>

          <div class="main-search-wrapper full-width">

            <div class="inner">

              <div class="column-item">

                <div class="form-group">

                  <select name="destination" class="select2-multi form-control" data-placeholder="Escoge un País">
                    <option value="panama">Panamá</option>
                    <option value="colombia" disabled>Colombia (Próx)</option>
                    <option value="costa-rica" disabled>Costa Rica (Próx)</option>
                  </select>

                </div>

              </div>

              <div class="column-item">

                <div class="form-group">

                  <select name="month" class="select2-multi form-control province" id="destino" data-placeholder="Escoge un Destino">
                    <option value="">Escoge un Destino</option>
                    <option value="0">Todos</option>
                    {{#each data.provinces}}
                    <option value="{{slug}}">{{province}}</option>
                    {{/each}}
                  </select>

                </div>

              </div>

              <div class="column-item">

                <div class="form-group">

                  <select name="year" class="select2-multi form-control" data-placeholder="Tipo de Trip" id="categoria">
                    <option value="">Escoge un tipo</option>
                    <option value="0">Todos</option>
                    {{#each data.categories}}
                    <option value="{{slug}}">{{name}}</option>
                    {{/each}}
                  </select>

                </div>

              </div>

              <div class="column-item for-btn">

                <div class="form-group">
                  <a href="#" id="searchBtn" class="btn btn-primary btn-block">Buscar</a>

                </div>

              </div>

            </div>

          </div>

        </div>
        {{#if data.homeImage}}
         <div class="text-hero-home">
           <a href="{{data.homeImage.url}}" target="_blank">{{data.homeImage.description}}</a>
         </div>
      {{/if}}
      </div>
      <!-- end hero-header with windows height -->
      <div class="post-hero bg-light pt15">

        <div class="container">

          <div class="row">

            <div class="col-sm-4">
              <div class="featured-count clearfix">
                <div class="icon"><i class="pe-7s-map-2"></i></div>
                <div class="content">
                  <h4 class="description">Descubre Cosas que Hacer</h4>
                  <span>en Triptable encontrarás los mejores tours y cosas que hacer en donde te encuentres.</span>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="featured-count clearfix">
                <div class="icon"> <i class="pe-7s-id"></i></div>
                <div class="content">
                  <h4 class="description">Encuentra los mejores guías</h4>
                  <span>Cientos de guías y operadores turísticos de clase mundial ofrecen sus tours aquí.</span>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="featured-count clearfix">
                <div class="icon"> <i class="pe-7s-lock"></i></div>
                <div class="content">
                  <h4 class="description">Reserva con seguridad</h4>
                  <span>Procesamos y protegemos cada transacción que haces para que reserves con confianza.</span>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
 {{>home/tours}}
 {{>home/bookingWithUs}}
 {{>home/destinos}}
 {{>home/newsletter}}

 <!-- <div class="overflow-hidden">
      <div class="instagram-wrapper">
          <div id="instagram" class="instagram"></div>
        </div>
  </div> -->
</div>
<script type="text/javascript" defer="defer">
                  var changeSearch = $( document ).ready(function() {
                     $('#destino').on('change', function(){
                        var city = $('#destino').val();
                        if (city == 0){
                          var city = "";
                        }
                        console.log(city);
                        $("#searchBtn").attr("href", "/panama/"+city);
                     });
                  });

                  var changeCategory = $( document ).ready(function() {
                     $('#categoria').on('change', function(){
                        var categoria = $('#categoria').val();
                        if (categoria == 0){
                          var categoria = "";
                        }
                        console.log(categoria);
                        var url = $("#searchBtn").attr("href");
                        $("#searchBtn").attr("href", url + '?categoria=' + categoria);
                     });
                  });
                  $(document).ready(function(){
                    $("#searchBtn").attr("href", "/panama/");
                  });
                </script>
    <!-- end Main Wrapper -->