<style>
.algolia-autocomplete {
  width: 100%;
}
.search-result-dropdown-menu {
  width: 100%;
  color: black;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 5px;
  padding: .5em;
  box-shadow: 1px 1px 32px -10px rgba(0,0,0,0.62);
}
.search-result-dropdown-menu .search-result-suggestion small {
  font-size: .8em;
  color: #bbb;
}
.search-result-dropdown-menu .search-result-suggestion.search-result-cursor {
  background-color: #B2D7FF;
}
.search-result-dropdown-menu .search-result-suggestion em {
  font-weight: bold;
  font-style: normal;
}
.search-result-header {
  font-weight: bold;
  padding: .5em 0;
  margin-bottom: 1em;
  border-bottom: 1px solid #ccc;
}
</style>
 <!-- start Main Wrapper -->
    <div class="main-wrapper">
      <!-- start hero-header with windows height -->
      {{#if data.homeImage.image}}
       <div class="hero" style="background-image:url('https://res.cloudinary.com/triptable/image/upload/c_fill,q_auto,f_auto,g_auto/dpr_auto,w_auto/c_limit,w_1440/{{data.homeImage.image.public_id}}.{{data.homeImage.image.format}}'); background-position: center {{data.homeImage.verticalPosition}}%;">
      {{else}}
      <div class="hero" style="background-image:url('https://res.cloudinary.com/triptable/image/upload/w_1440/v1463514314/mgtknwnnuiv14poppjex.jpg');">
      {{/if}}
        <div class="container">

          <div class="row">

            <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">

              <h1 class="hero-title hidden-xs">{{i18n "header_title"}}</h1>
              <p class="lead ">{{i18n "header_subtitle"}}</i></p>

            </div>

          </div>

          <div class="main-search-wrapper full-width">
             

            <div class="inner">

            <div class="form-horizontal">
              <div class="form-group"> 
                <div class="col-md-offset-2 col-lg-8">
                  <input type="text"  id="autocomplete-dataset" class="form-control" value="" placeholder="&#xf041; ¿A dónde viajas? Ej: Panama City o Colombia">
                </div>
                </div>
              </div>
            </div>

            </div>

          </div>

        </div>
        {{#if data.homeImage}}
         <div class="text-hero-home">
         <!--  <a href="{{data.homeImage.url}}" target="_blank">{{data.homeImage.description}}</a> -->
         </div>
      {{/if}}
      </div>
 {{>home/tours}}
 {{>home/bookingWithUs}}
 {{>home/newsletter}}

</div>
<script type="text/javascript" defer="defer">
var country;
                  var changeCountry = $( document ).ready(function() {
                     $('#countries').on('change', function(){
                        country = $('#countries').val();
                        if (country == 0){
                          var country = "";
                        }
                        $("#searchBtn").attr("href", "/"+country);
                     });
                  });
                  var changeSearch = $( document ).ready(function() {
                     $('#destino').on('change', function(){
                        var city = $('#destino').val();
                        if (city == 0){
                          var city = "";
                        }
                        $("#searchBtn").attr("href", "/destination/"+city);
                     });
                  });

                  var changeCategory = $( document ).ready(function() {
                     $('#categoria').on('change', function(){
                        var categoria = $('#categoria').val();
                        if (categoria == 0){
                          var categoria = "";
                        }
                        var url = $("#searchBtn").attr("href");
                        $("#searchBtn").attr("href", url + '?categoria=' + categoria);
                     });
                  });
                  $(document).ready(function(){
                    $("#searchBtn").attr("href", "/panama/");
                    fbq('track', 'Lead');
                  });
                </script>
    <!-- end Main Wrapper -->
<script type="text/javascript">
	$(document).ready(function(){
		 ga('send', 'pageview'); 
	});
</script>
<script>
        document.addEventListener("DOMContentLoaded", function() {
            (function() {
  var client = algoliasearch('YRA8Y5OT4G', 'a42cf17e8e8502300d0591021b2037d0');
  var destinations = client.initIndex('cities');
  var regions = client.initIndex('provinces');
  function getSmallImageFromUrl(img) {
        var image = img;
        var image = image.split("upload");
        var thumb = image[0] + "upload/c_fill,g_center,h_175,w_325" + image[1];
        return thumb;
  };

  // create the first autocomplete.js dataset: vacation rentals
  var rentalsDataset = {
    source: autocomplete.sources.hits(destinations, {hitsPerPage: 6}),
    displayKey: 'city',
    templates: {
      header: '<div class="row search-result-header">Destinos</div>',
      suggestion: function(suggestion) {
        console.log(suggestion);
        var thumb = getSmallImageFromUrl(suggestion.image);
        return '<div class="col-md-4"><a href="/destino/'+suggestion.slug+'">' +
          '<img class="result-img" src="' + thumb + '" />' +
          '<div>' +
            suggestion._highlightResult.city.value + ", "+ suggestion._highlightResult.country.value +'<br />' +
            '<small>' + suggestion._highlightResult.city.value + '</small>, ' +  '<small>' + suggestion._highlightResult.country.value + '</small>' +
          '</div>' +
          '</a></div>';
      }
    }
  };
  var regionsDataset = {
    source: autocomplete.sources.hits(regions, {hitsPerPage: 3}),
    displayKey: 'province',
    templates: {
      header: '<div class="row search-result-header">Regiones</div>',
      suggestion: function(suggestion) {
        console.log(suggestion);
        var thumb = getSmallImageFromUrl(suggestion.image);
        return '<div class="col-md-4"><a href="/destination/'+suggestion.slug+'">' +
          '<img class="result-img" src="' + thumb + '" />' +
          '<div>' +
            suggestion._highlightResult.province.value + ", "+ suggestion._highlightResult.country.value +'<br />' +
            '<small>' + suggestion._highlightResult.province.value + '</small>, ' +  '<small>' + suggestion._highlightResult.country.value + '</small>' +
          '</div>' +
          '</a></div>';
      }
    }
  };

  // create the second dataset: places
  // we automatically inject the default CSS
  // all the places.js options are available
  /*var placesDataset = placesAutocompleteDataset({
    algoliasearch: algoliasearch,
    type: 'city',
    countries: ['pa','co', 'mx'],
    language: 'en',
    aroundLatLngViaIP: false,
    templates: {
      header: '<div class="row search-result-header">Cities</div>'
    },
    hitsPerPage: 5
  }); */

  // init
  var autocompleteInstance = autocomplete(document.querySelector('#autocomplete-dataset'), {
    hint: false,
    debug: true,
    cssClasses: {prefix: 'search-result'}
  }, [
    rentalsDataset,
    regionsDataset

 //   placesDataset
  ]);

  var autocompleteChangeEvents = ['selected', 'autocompleted'];

  autocompleteChangeEvents.forEach(function(eventName) {
    autocompleteInstance.on('autocomplete:'+ eventName, function(event, suggestion, datasetName) {
      console.log(datasetName, suggestion);
      let city = suggestion.hit.administrative[0];
      let result = city.toLowerCase();
      $('#searchBtn').attr('href', '/destino/'+result);
    });
  });
})();

        });
   
        </script>