 <!-- start Main Wrapper -->
    <div class="main-wrapper">
      <!-- start hero-header with windows height -->
      {{#if data.homeImage.image}}
       <div class="hero" style="background-image:url('https://res.cloudinary.com/triptable/image/upload/c_fill,q_auto,f_auto,g_auto/dpr_auto,w_auto/c_limit,w_1440/{{data.homeImage.image.public_id}}.{{data.homeImage.image.format}}'); background-position: center {{data.homeImage.verticalPosition}}%;">
      {{else}}
      <div class="hero" style="background-image:url('https://res.cloudinary.com/triptable/image/upload/w_1440/v1463514314/mgtknwnnuiv14poppjex.jpg');">
      {{/if}}
        <div class="container">

          <div class="row">

            <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1">

              <h1 class="hero-title hidden-xs">{{i18n "header_title"}}</h1>
              <p class="lead ">{{i18n "header_subtitle"}}</i></p>

            </div>

          </div>

          <div class="main-search-wrapper full-width">

            <div class="inner">

              <div class="column-item">

                <div class="form-group">

                  <select name="destination" id="countries" class="select2-multi form-control" data-placeholder="{{i18n 'select_country'}}">
                    {{#each data.countries}}
                    <option value="{{slug}}">{{i18n country}}</option>
                    {{/each}}
                  </select>

                </div>

              </div>

              <div class="column-item">

                <div class="form-group">

                  <select name="month" class="select2-multi form-control province" id="destino" data-placeholder="{{i18n 'select_destination'}}">
                    <option value="">{{i18n 'select_destination'}}</option>
                    <option value="0">{{i18n 'all'}}</option>
                    {{#each data.provinces}}
                    <option value="{{slug}}">{{province}}</option>
                    {{/each}}
                  </select>

                </div>

              </div>

              <div class="column-item">

                <div class="form-group">

                  <select name="year" class="select2-multi form-control" data-placeholder="{{i18n 'type_of_trip'}}" id="categoria">
                    <option value="">{{i18n 'type_of_trip'}}</option>
                    <option value="0">{{i18n 'all'}}</option>
                    {{#each data.categories}}
                    <option value="{{slug}}">{{name}}</option>
                    {{/each}}
                  </select>

                </div>

              </div>

              <div class="column-item for-btn">

                <div class="form-group">
                  <a href="#" id="searchBtn" class="btn btn-primary btn-block">{{i18n 'search'}}</a>

                </div>

              </div>

            </div>

          </div>

        </div>
        {{#if data.homeImage}}
         <div class="text-hero-home">
           <a href="{{data.homeImage.url}}" target="_blank">{{data.homeImage.description}}</a>
         </div>
      {{/if}}
      </div>
      <!-- end hero-header with windows height 
      <div class="post-hero bg-light pt15 hidden-xs">

        <div class="container">

          <div class="row">

            <div class="col-sm-4">
              <div class="featured-count clearfix">
                <div class="icon"><i class="pe-7s-map-2"></i></div>
                <div class="content">
                  <h4 class="description">{{i18n "post_hero_title"}}</h4>
                  <span>{{i18n "post_hero_subtitle"}}</span>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="featured-count clearfix">
                <div class="icon"> <i class="pe-7s-id"></i></div>
                <div class="content">
                  <h4 class="description">{{i18n "post_hero_title_2"}}</h4>
                  <span>{{i18n "post_hero_subtitle_2"}}.</span>
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="featured-count clearfix">
                <div class="icon"> <i class="pe-7s-lock"></i></div>
                <div class="content">
                  <h4 class="description">{{i18n "post_hero_title_3"}}</h4>
                  <span>{{i18n "post_hero_subtitle_3"}}</span>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>-->
 {{>home/tours}}
 {{>home/bookingWithUs}}
 {{>home/newsletter}}

</div>
<script type="text/javascript" defer="defer">
var country;
                  var changeCountry = $( document ).ready(function() {
                     $('#countries').on('change', function(){
                        country = $('#countries').val();
                        if (country == 0){
                          var country = "";
                        }
                        $("#searchBtn").attr("href", "/"+country);
                     });
                  });
                  var changeSearch = $( document ).ready(function() {
                     $('#destino').on('change', function(){
                        var city = $('#destino').val();
                        if (city == 0){
                          var city = "";
                        }
                        $("#searchBtn").attr("href", "/destination/"+city);
                     });
                  });

                  var changeCategory = $( document ).ready(function() {
                     $('#categoria').on('change', function(){
                        var categoria = $('#categoria').val();
                        if (categoria == 0){
                          var categoria = "";
                        }
                        var url = $("#searchBtn").attr("href");
                        $("#searchBtn").attr("href", url + '?categoria=' + categoria);
                     });
                  });
                  $(document).ready(function(){
                    $("#searchBtn").attr("href", "/panama/");
                    fbq('track', 'Lead');
                  });
                </script>
    <!-- end Main Wrapper -->
<script type="text/javascript">
	$(document).ready(function(){
		 ga('send', 'pageview'); 
	});
</script>