<script>
  $(function() {
                          var date = new Date("{{data.post.publishedDate}}");
                          var pretty = moment(date).fromNow();
                          console.log(pretty);
                          $('#date').append(pretty);
    });
$(function() {
  var initial_Imgwidth = $(window).height() / 2 - 116;
  var initial_Txtwidth = $(window).height() / 2 - 116 -70;
  $('#mainImg').attr('style', 'padding:'+ initial_Imgwidth + 'px 0; background-image:url({{data.post.image.secure_url}})');
  $('#mainTxt').attr('style', 'top:' +initial_Txtwidth+ 'px;');
  $( window ).resize(function() {
    var initial_Imgwidth = $(window).height() / 2 - 116;
    var initial_Txtwidth = $(window).height() / 2 - 116 -70;
    $('#mainImg').attr('style', 'padding:'+ initial_Imgwidth + 'px 0; background-image:url({{data.post.image.secure_url}})');
    $('#mainTxt').attr('style', 'top:' +initial_Txtwidth+ 'px;');
  });
});

</script>
<link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>

<div class="main-wrapper scrollspy-container">

			<!-- start end Page title -->
			<div id="mainImg" class="page-title blog-header-img">

				<div class="container">

					<div class="row">

						<!-- <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3"> -->
						<div id="mainTxt" class="col-sm-10 col-md-6 post-title">
            <div class="blog-category">
                   {{#each data.post.categories}} <span class="blog-category">{{name}}</span>{{/each}}
                  </div>
						<h1 class="hero-title post-title">{{data.post.title}}</h1>
             	   <span class="sub-head user"><i class="fa fa-user"></i> Ytzvan Mastino</span>. <span class="sub-head" id="date"> </span>.

							<!--<ol class="breadcrumb-list">
								<li><a href="index.html">Homepage</a></li>
								<li><span>Blog</span></li>
							</ol> -->

						</div>

					</div>

				</div>

			</div>
			<!-- end Page title -->
			<div>

				<div class="container">

					<div class="row">

						<div class="col-sm-8 col-md-9">

							<div class="blog-wrapper">

								<div class="blog-item blog-single">

										<div class="blog-entry">
											{{{data.post.content.html}}}
									<div class="blog-extra">
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-7 xs-mb">
												<div class="tag-cloud clearfix mt-0">
													<span><i class="fa fa-tags"></i> tags: </span>
                          {{#each data.post.categories}}
                          <a href="#" class="tag-item">{{name}}</a>
                          {{/each}}
												</div>
											</div>

											<!--<div class="col-xs-12 col-sm-6 col-md-5 xs-mb">
												<ul class="social-share-sm mt-5 pull-right pull-left-xs mt-20-xs">

													<li><span><i class="fa fa-share-square"></i> share</span></li>
													<li class="the-label"><a href="#">Facebook</a></li>
													<li class="the-label"><a href="#">Twitter</a></li>
													<li class="the-label"><a href="#">Google Plus</a></li>

												</ul>
											</div> -->
											<div class="clear"></div>
										</div>
									</div>

									<h4 class="uppercase">Acerca del autor</h4>
									<div class="blog-author">
										<div class="author-label">
											<img src="{{data.post.author.image.secure_url}}" alt="author image" class="img-circle" />
										</div>
										<div class="author-details">
											<!--<ul class="social-share-sm pull-right pull-left-xs">
												<li class="the-label"><a href="#">Facebook</a></li>
												<li class="the-label"><a href="#">Twitter</a></li>
												<li class="the-label"><a href="#">Google Plus</a></li>
											</ul> -->
											<div class="clear-xs"></div>
											<h5 class="heading"><a href="#">{{data.post.author.name.full}}</a></h5>
											<p>{{data.post.author.description}}</p>
										</div>
									</div>
									<!-- comment partial goes here -->
            	<div class="clear"></div>
									</div>
							</div>
						</div>
						<!-- sidebar partial -->

					</div>

				</div>

			</div>


		</div>
		<!-- end Main Wrapper -->
        <script type="text/javascript">
             var images = $.find('img');
          //  $(images).attr('class', 'img-responsive');
        </script>