<div class="main-wrapper scrollspy-container">

			<!-- start end Page title -->
			<div class="page-title blog-header-img" style="background-image:url('{{data.post.image.secure_url}}');">

				<div class="container">

					<div class="row">

						<div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">

							<!--<h1 class="hero-title blog-title">{{data.post.title}}</h1>
              <h4>{{{data.post.content.brief}}}</h4> -->

							<!--<ol class="breadcrumb-list">
								<li><a href="index.html">Homepage</a></li>
								<li><span>Blog</span></li>
							</ol> -->

						</div>

					</div>

				</div>

			</div>
			<!-- end Page title -->
			<div>

				<div class="container">

					<div class="row">

						<div class="col-sm-8 col-md-9">

							<div class="blog-wrapper">

								<div class="blog-item blog-single">

									<!--<div class="blog-media">
										<img src="images/blog/blog-01.jpg" alt="" />
									</div> -->

									<div class="blog-content">
										<h1>{{data.post.title}}</h1>
										<ul class="blog-meta clearfix">
											<li>Por: <a href="#">{{data.post.author.name.full}}</a></li>
											<li>Publicado: {{data.post.datePretty}}</li>
											<li>En: {{#each data.post.categories}}{{name}}, {{/each}}
										</ul>
										<div class="blog-entry">
											{{{data.post.content.html}}}
									<div class="blog-extra">
										<div class="row">
											<div class="col-xs-12 col-sm-6 col-md-7 xs-mb">
												<div class="tag-cloud clearfix mt-0">
													<span><i class="fa fa-tags"></i> tags: </span>
                          {{#each data.post.categories}}
                          <a href="#" class="tag-item">{{name}}</a>
                          {{/each}}
												</div>
											</div>

											<!--<div class="col-xs-12 col-sm-6 col-md-5 xs-mb">
												<ul class="social-share-sm mt-5 pull-right pull-left-xs mt-20-xs">

													<li><span><i class="fa fa-share-square"></i> share</span></li>
													<li class="the-label"><a href="#">Facebook</a></li>
													<li class="the-label"><a href="#">Twitter</a></li>
													<li class="the-label"><a href="#">Google Plus</a></li>

												</ul>
											</div> -->
											<div class="clear"></div>
										</div>
									</div>

									<h4 class="uppercase">Acerca del autor</h4>
									<div class="blog-author">
										<div class="author-label">
											<img src="{{data.post.author.image.secure_url}}" alt="author image" class="img-circle" />
										</div>
										<div class="author-details">
											<!--<ul class="social-share-sm pull-right pull-left-xs">
												<li class="the-label"><a href="#">Facebook</a></li>
												<li class="the-label"><a href="#">Twitter</a></li>
												<li class="the-label"><a href="#">Google Plus</a></li>
											</ul> -->
											<div class="clear-xs"></div>
											<h5 class="heading"><a href="#">{{data.post.author.name.full}}</a></h5>
											<p>{{data.post.author.description}}</p>
										</div>
									</div>
									<!-- comment partial goes here -->
            	<div class="clear"></div>
									</div>
							</div>
						</div>
						<!-- sidebar partial -->

					</div>

				</div>

			</div>


		</div>
		<!-- end Main Wrapper -->
        <script type="text/javascript">
             var images = $.find('img');
          //  $(images).attr('class', 'img-responsive');
        </script>