<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.3.1/css/flag-icon.min.css">
<div class="main-wrapper scrollspy-container">

      <!-- start end Page title -->

      {{#if data.tour.heroImage.secure_url}}
      <div class="page-title detail-page-title" style="background-image:url('https://res.cloudinary.com/triptable/image/upload/c_fill,q_auto,f_auto,g_auto/dpr_auto,w_auto/c_limit,w_1920/{{data.tour.heroImage.public_id}}.{{data.tour.heroImage.format}}');">
      {{else}}
      <div class="page-title detail-page-title" style="background-image:url('https://res.cloudinary.com/triptable/image/upload/c_fill,q_auto,f_auto,g_auto/dpr_auto,w_auto/c_limit,w_1920/{{data.tour.images.0.public_id}}.{{data.tour.images.0.format}}');">
      {{/if}}

        <div class="container">

          <div class="flex-row">

            <div class="flex-column flex-md-8 flex-sm-12">

              <h1 class="hero-title">{{data.tour.name}}</h1>
              <p class="line18">{{{data.tour.description.short}}}</p>

              <ul class="list-col clearfix">
                <li class="rating-box">
                  <div class="rating-wrapper">
                    <div class="raty-wrapper">
                      <div class="star-rating-read-only" data-rating-score="{{data.tour.nOfStars}}"></div>
                      <span style="display: block;"> / {{data.reviews.length}} reviews</span>
                    </div>
                  </div>
                </li>

                <li class="price-box">
                  <div class="meta">
                    <span class="block">${{data.tour.price}}</span>
                    {{#if data.tour.multiPrice}}
                    {{i18n "lowest_price"}}
                    {{else}}
                    {{i18n "per_person"}}
                    {{/if}}
                  </div>
                </li>

              </ul>
            </div>
            <div class="flex-column flex-md-4 flex-align-bottom flex-sm-12 mt-20-sm">
              <div class="text-right text-left-sm">
              {{#if userInfo}}
                <a href="/contact/{{data.tour.tourId}}" class="anchor btn btn-danger">{{i18n "book_now"}}</a>
              {{else}}

              <a href="/signup?from=/contact/{{data.tour.tourId}}" class="anchor btn btn-danger">{{i18n "book_now"}}</a>
              {{/if}}

              </div>
            </div>

          </div>

        </div>

      </div>
    <!-- end Page title -->
    <!-- breadcumb section -->
    <div class="breadcrumb-wrapper bg-light-2">

        <div class="container">

          <ol class="breadcrumb-list">
            <li><a href="/">{{i18n "home"}}</a></li>
            <li><a href="/{{data.tour.country.slug}}">{{data.tour.country.country}}</a></li>
            <li><a href="/{{data.tour.country.slug}}/{{data.tour.province.slug}}">{{data.tour.province.province}}</a></li>
            <li><span>{{data.tour.name}}</span></li>
          </ol>

        </div>

    </div>
     <!-- end breadcumb section -->

    <!-- container secction -->

    <div class="content-wrapper">

        <div class="container">

          <div class="row">

            <div class="col-md-9" role="main">
             {{#if data.tour.multiPrice}}
            <div class="alert alert-info" role="alert"><h6 class="center" style="margin:0px;">{{i18n "tour_discount"}} {{data.tour.multiPriceCatalog.[1].[0]}} {{i18n "people"}}.</h6></div>
              {{/if}}
              <div class="detail-content-wrapper">
                {{#if data.tour.highlights}}
                  <div id="section-0" class="detail-content">

                    <div class="section-title text-left">
                      <h4>{{i18n "highlights"}}</h4>
                    </div>
                    <ul class="list-with-icon col-3 clearfix">
                      {{#each data.tour.highlights}}
                      <li>
                        <i class="fa fa-check-circle text-primary"></i>
                        <p class="highlights">{{this}}</p>
                      </li>
                      {{/each}}

                    </ul>

                  </div>
                  {{/if}}
                  {{#if data.tour.videoId}}
                 <div id="section-7" class="detail-content">

                    <div class="section-title text-left">
                      <h4>Video</h4>
                    </div>

                    <article class="video">

                      
                    <iframe src="https://www.youtube.com/embed/{{data.tour.videoId}}" frameborder="0" allowfullscreen></iframe> 
                    </article>

                </div>
                {{/if}}
                  <div id="section-4" class="detail-content col-md-12 no-padding-r-l">
                        <div class="col-md-6 no-padding-r-l"><!-- col -md - 6 -->
                        <div class="section-title text-left ">
                          <h4>{{i18n "includes"}}</h4>
                        </div>

                      <ul class="list-with-icon with-heading">

                        {{#if data.tour.hotelPickup}}
                        <li>
                          <i class="fa fa-check-circle text-primary"></i>
                          <h6 class="heading mt-0">{{i18n "hotel_pickup"}}</h6>
                          <p>{{i18n "hotel_pickup_description"}}.</p>
                        </li>
                        {{/if}}

                        {{#if data.tour.transportation}}
                        <li>
                          <i class="fa fa-check-circle text-primary"></i>
                          <h6 class="heading mt-0">{{i18n "transportation"}}</h6>
                          <p>{{i18n "transportation_description"}}</p>
                        </li>

                        {{/if}}
                        {{#if data.tour.food}}
                        <li>
                          <i class="fa fa-check-circle text-primary"></i>
                          <h6 class="heading mt-0">{{i18n "food"}}</h6>
                          <p>{{i18n "food_description"}}.</p>
                        </li>
                        {{/if}}
                         {{#if data.tour.drinks}}
                        <li>
                          <i class="fa fa-check-circle text-primary"></i>
                          <h6 class="heading mt-0">{{i18n "drinks"}}</h6>
                          <p>{{i18n "drinks_description"}}.</p>
                        </li>
                        {{/if}}
                        {{#if data.tour.insurance}}
                        <li>
                          <i class="fa fa-check-circle text-primary"></i>
                          <h6 class="heading mt-0">{{i18n "insurance"}}</h6>
                          <p>{{i18n "insurance_description"}}.</p>
                        </li>
                        {{/if}}
                        {{#if data.tour.taxes}}
                        <li>
                          <i class="fa fa-check-circle text-primary"></i>
                          <h6 class="heading mt-0">{{i18n "taxes"}}</h6>
                          <p>{{i18n "taxes_description"}}</p>
                        </li>
                        {{/if}}
                        {{#if data.tour.tickets}}
                        <li>
                          <i class="fa fa-check-circle text-primary"></i>
                          <h6 class="heading mt-0">{{i18n "entrance_tickets"}}</h6>
                          <p>{{i18n "entrance_tickets_description"}}</p>
                        </li>
                        {{/if}}


                      </ul>
                        </div> <!-- col md 6 -->
                        <div class="col-md-6 no-padding-r-l"><!-- col -md - 6 -->
                        <div class="section-title text-left ">
                          <h4>{{i18n "excludes"}}</h4>
                        </div>

                      <ul class="list-with-icon with-heading">

                        {{#unless data.tour.hotelPickup}}
                        <li>
                          <i class="fa fa-times-circle text-danger"></i>
                          <h6 class="heading mt-0">{{i18n "hotel_pickup"}}</h6>
                          <p>{{i18n "hotel_pickup_description"}} {{i18n "not_included"}}.</p>
                        </li>
                        {{/unless}}

                        {{#unless data.tour.transportation}}
                        <li>
                          <i class="fa fa-times-circle text-danger"></i>
                          <h6 class="heading mt-0">{{i18n "transportation"}}</h6>
                          <p>{{i18n "transportation_description"}} {{i18n "not_included"}}.</p>
                        </li>
                        {{/unless}}
                        {{#unless data.tour.food}}
                        <li>
                          <i class="fa fa-times-circle text-danger"></i>
                          <h6 class="heading mt-0">{{i18n "food"}}</h6>
                          <p>{{i18n "food_description"}} {{i18n "not_included"}}</p>
                        </li>
                        {{/unless}}
                        {{#unless data.tour.drinks}}
                        <li>
                          <i class="fa fa-times-circle text-danger"></i>
                          <h6 class="heading mt-0">{{i18n "drinks"}}</h6>
                          <p>{{i18n "drinks"}} {{i18n "not_included"}}</p>
                        </li>
                        {{/unless}}
                        {{#unless data.tour.insurance}}
                        <li>
                          <i class="fa fa-times-circle text-danger"></i>
                          <h6 class="heading mt-0">{{i18n "insurance"}}</h6>
                          <p>{{i18n "insurance"}} {{i18n "not_included"}}.</p>
                        </li>
                        {{/unless}}
                        {{#if data.tour.hasTaxes}}
                         {{#unless data.tour.taxes}}
                        <li>
                          <i class="fa fa-times-circle text-danger"></i>
                          <h6 class="heading mt-0">{{i18n "taxes"}}</h6>
                          <p>{{i18n "taxes"}} {{i18n "not_included"}}</p>
                        </li>
                        {{/unless}}
                        {{/if}}
                        {{#if data.tour.hasTickets}}
                        {{#unless data.tour.tickets}}
                        <li>
                          <i class="fa fa-times-circle text-danger"></i>
                          <h6 class="heading mt-0">{{i18n "entrance_tickets"}}</h6>
                          <p>{{i18n "entrance_tickets"}} {{i18n "not_included"}}</p>
                        </li>
                        {{/unless}}
                       {{/if}}

                      </ul>
                        </div> <!-- col md 6 -->
                  </div> <!-- end secction 4 -->
                  <div id="section-0" class="detail-content">

                    <div class="section-title text-left">
                      <h4>{{i18n "information"}}</h4>
                    </div>

                    <div>

                      <!-- Nav tabs -->
                      <ul id="#myTabs" class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="" id="list-description_es"><a href="#description_es" class="tour-description" aria-controls="home" role="tab" data-toggle="tab">{{i18n "description"}} <span class="flag-icon flag-icon-es"></span></a></li>
                        <li role="presentation" class="" id="list-description_en"><a href="#description_en" aria-controls="profile" role="tab" data-toggle="tab">{{i18n "description"}} <span class="flag-icon flag-icon-gb"></span></a></li>
                      </ul>

                      <!-- Tab panes -->
                      <div class="tab-content">
                        <div role="tabpanel" class="tab-pane" id="description_es">
                          {{#if data.tour.description.extended}}
                            <article class="description-language">{{{data.tour.description.extended}}}</article>
                          {{else}}
                            <article class="description-language">{{i18n "description_spanish_not_available"}}.</article>
                          {{/if}}
                        </div>
                        <div role="tabpanel" class="tab-pane" id="description_en">
                          {{#if data.tour.description_eng.extended}}
                            <article class="description-language">{{{data.tour.description_eng.extended}}}</article>
                          {{else}}
                            <article class="description-language">{{i18n "description_english_not_available"}}.</article>
                          {{/if}}
                        </div>
                      </div>

                    </div>

                    <script>
                    $(function() {
                    fbq('track', 'ViewContent');
                      $('#myTabs a').click(function (e) {
                        e.preventDefault()
                        $(this).tab('show')
                      });
                      {{#if data.tour.description.extended}}
                      $('#description_es').addClass('active');
                      $('#list-description_es').addClass('active');
                      {{else}}
                      $('#description_en').addClass('active');
                      $('#list-description_en').addClass('active');
                      {{/if}}
                    });
                    </script>
                    <!--<img src="{{data.tour.images.0.secure_url}}" alt="Map" class="map-route" /> -->

                    <article></article>
                  </div> <!-- end secction 0 -->
                  <script type="text/javascript">
                    $(function() {
                      $('article').readmore({
                        heightMargin: 50,
                        collapsedHeight: 330,
                        moreLink: '<a href="#" class="btn btn-primary center">{{i18n "read_all"}}</a>',
                        lessLink: '<a href="#" class="btn btn-primary">{{i18n "close"}}</a>',
                      });
                    });

                  </script>
                  <!-- start secction 1 -->
                  <div id="section-1" class="detail-content">

                    <div class="section-title text-left">
                      <h4>{{i18n "photos"}}</h4>
                    </div>

                    <div class="slick-gallery-slideshow">

                      <div class="slider gallery-slideshow">
                        {{#each data.tour.images}}
                        <div>
                          <div class="image">
                            <img src="https://res.cloudinary.com/triptable/image/upload/c_fill,q_auto,f_auto,g_auto,ar_16:9/dpr_auto,w_auto/c_limit,w_800/{{public_id}}.{{format}}" alt="Image" />
                          </div>
                        </div>
                        {{/each}}
                      </div>

                      <div class="slider gallery-nav">
                        {{#each data.tour.images}}
                        <div>
                          <div class="image">
                            <img src="{{cloudinaryUrl width=105 height=53 secure=true crop='fill' }}" alt="Image" />
                          </div>
                        </div>
                        {{/each}}
                      </div>

                    </div>

                </div>
                <!-- end secction 1 -->
                
                <!-- Accomodation -->



                <!-- secction 5 Booking dates-->

                <!-- here goes booking dates partial -->
                  {{#if data.tour.multiPrice}}
                {{>tour/_bookingDates}}
                {{/if}}
                  <div class="detail-content">
                    <div class="section-title text-left">
                      <h4>{{i18n "similar_tours"}}</h4>
                    </div>
                    <div class="GridLex-gap-20-wrappper package-grid-item-wrapper on-page-result-page alt-smaller">
                      <div class="GridLex-grid-noGutter-equalHeight">
                      {{#each_upto data.tours 3}}
                        <div class="GridLex-col-4_sm-4_xs-12 mb-20">
                          <div class="package-grid-item">
                            <a href="/tour/{{slug}}">
                              <div class="image">
                                {{#if heroImage.secure_url}}
                                <img src="https://res.cloudinary.com/triptable/image/upload/c_fill,h_400,w_600/v{{heroImage.version}}/{{heroImage.public_id}}.{{heroImage.format}}" alt="{{name}}" />
                                {{else}}
                                <img src="https://res.cloudinary.com/triptable/image/upload/c_fill,h_400,w_600/v{{images.0.version}}/{{images.0.public_id}}.{{images.0.format}}" alt="{{name}}" />
                                {{/if}}
                                {{#if featured}}
                                <div class="absolute-in-image">
                                  <div class="duration"><span>{{i18n "featured"}}</span></div>
                                </div>
                                {{/if}}
                              </div>
                              <div class="content clearfix">
                                <h6>{{name}}</h6>
                                <div class="rating-wrapper">
                                  <div class="raty-wrapper">
                                    <div class="star-rating-12px" data-rating-score="{{nOfStars}}"></div> <span> / {{nOfReviews}} review</span>
                                  </div>
                                </div>
                                <div class="absolute-in-content">
                                  <span class="btn"><i class="fa fa-heart-o"></i></span>
                                  <div class="price">${{price}}</div>
                                </div>
                              </div>
                            </a>
                          </div>
                        </div>
                        {{/each_upto}}
                      </div>

                    </div>
                  </div>
                <!-- end secction 5 -->

                <!-- secction 6 FAQ -->

                <!-- here goes FAQ Partial

                <!-- end secction 6 -->

                <!-- secction 7 -->
              
                <div id="section-7" class="detail-content">

                    <div class="section-title text-left">
                      <h4>Reviews ({{data.reviews.length}})</h4>
                    </div>

                 {{>tour/_reviews}} <!-- here goes review partial -->

                </div>
                <!-- end secction 7 -->
                
                <!-- leave review partial -->
                {{#if userInfo}}
                  {{>tour/_leaveReview}}
                {{else}}
                  <div class="blog-extra">
                    <div class=" text-center">
                          <a href="/signin?from=/tour/{{data.tour.slug}}" class="btn btn-primary">{{i18n "write_review"}}</a>
                    </div>

                </div>
                {{/if}}
                <!-- here goes leave a review partial -->

                <!-- end leave comment secction -->

                <!-- call 2 action -->
                <div class="call-to-action">

                    ¿Preguntas? <a href="mailto:hello@triptable.com" class="btn btn-primary btn-sm btn-inverse">Escríbenos</a> o llámanos al +507 680 800 24

                </div>
                <!-- end call 2 action -->
                  </div>
                </div>
                <div class="col-sm-3 hidden-sm hidden-xs">

                <div class="scrollspy-sidebar sidebar-detail" role="complementary">

                  <ul class="scrollspy-sidenav">

                    <li>
                      <ul class="nav">
                        <li><a href="#section-0" class="anchor">{{i18n "highlights"}}</a></li>
                        <li><a href="#section-1" class="anchor">{{i18n "photos"}}</a></li>
                        <li><a href="#section-2" class="anchor">{{i18n "itinerary"}}</a></li>
                        <li><a href="#section-4" class="anchor">{{i18n "is_included"}}</a></li>
                        <li><a href="#section-5" class="anchor">{{i18n "availability"}}</a></li>
                        <li><a href="#section-6" class="anchor">{{i18n "help"}}</a></li>
                        <li><a href="#section-7" class="anchor">Reviews</a></li>
                      </ul>
                    </li>

                  </ul>

                 <!-- <form method="get" action="/contact/{{data.tour.tourId}}"> -->
                 {{#if userInfo}}
                  <a href="/contact/{{data.tour.tourId}}" class="btn btn-danger">{{i18n "book_now"}}</a>
                  {{else}}
                  <a href="/signup?from=/contact/{{data.tour.tourId}}" class="btn btn-danger">{{i18n "book_now"}}</a>
                  {{/if}}
                  <div style="width: 100%; height: 20px;"></div>

                </div>

              </div>

               </div><!-- ROW -->
             </div> <!-- CONTAINER -->
           </div> <!-- CONTENT WRAPPER -->





</div>    <!-- end main wrapper -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fitvids/1.1.0/jquery.fitvids.min.js"></script>
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(event) {
  //do work
    mixpanel.track("Tour View");
});
  $(document).ready(function(){
    // Target your .container, .wrapper, .post, etc.
    $("article").fitVids();
  });
</script>