<div class="main-wrapper scrollspy-container">

      <!-- start end Page title -->
      <div class="page-title detail-page-title" style="background-image:url('{{data.tour.images.0.secure_url}}');">

        <div class="container">

          <div class="flex-row">

            <div class="flex-column flex-md-8 flex-sm-12">

              <h1 class="hero-title">{{data.tour.name}}</h1>
              <p class="line18">{{{data.tour.description.short}}}</p>

              <ul class="list-col clearfix">
                <li class="rating-box">
                  <div class="rating-wrapper">
                    <div class="raty-wrapper">
                      <div class="star-rating-white" data-rating-score="4.0"></div>
                      <span style="display: block;"> / {{data.reviews.length}} reviews</span>
                    </div>
                  </div>
                </li>

                {{!-- <li class="fav-box">
                  <div class="meta">
                    <span class="block"><button class="btn btn-fav"><i class="fa fa-heart-o"></i></button></span>
                    98 Favorites
                  </div>
                </li> --}}

                {{!-- <li class="duration-box">
                  <div class="meta">
                    <span class="block">4</span>
                    Days
                  </div>
                  <div class="meta">
                    &amp;
                  </div>
                  <div class="meta">
                    <span class="block">3</span>
                    Nights
                  </div>
                </li> --}}

                <li class="price-box">
                  <div class="meta">
                    <span class="block">${{data.tour.price}}</span>
                    por persona
                  </div>
                </li>

              </ul>
            </div>
            <div class="flex-column flex-md-4 flex-align-bottom flex-sm-12 mt-20-sm">
              <div class="text-right text-left-sm">
              {{#if userInfo}}
                <a href="/contact/{{data.tour.tourId}}" class="anchor btn btn-primary">Reservar Ahora</a>
              {{else}}
              <a href="/signup" class="anchor btn btn-primary">Reservar Ahora</a>
              {{/if}}

              </div>
            </div>

          </div>

        </div>

      </div>
    <!-- end Page title -->
    <!-- breadcumb section -->
    <div class="breadcrumb-wrapper bg-light-2">

        <div class="container">

          <ol class="breadcrumb-list">
            <li><a href="/">Inicio</a></li>
            <li><a href="/{{data.tour.country.slug}}">{{data.tour.country.country}}</a></li>
            <li><a href="/{{data.tour.country.slug}}/{{data.tour.province.slug}}">{{data.tour.province.province}}</a></li>
            <li><span>{{data.tour.name}}</span></li>
          </ol>

        </div>

    </div>
     <!-- end breadcumb section -->

    <!-- container secction -->
    <div class="content-wrapper">

        <div class="container">

          <div class="row">

            <div class="col-md-9" role="main">

              <div class="detail-content-wrapper">
                {{#if data.tour.highlights}}
                  <div id="section-0" class="detail-content">

                    <div class="section-title text-left">
                      <h4>Lo mejor</h4>
                    </div>
                    <ul class="list-with-icon col-3 clearfix">
                      {{#each data.tour.highlights}}
                      <li>
                        <i class="fa fa-check-circle text-primary"></i>
                        <p class="highlights">{{this}}</p>
                      </li>
                      {{/each}}

                    </ul>

                  </div>
                  {{/if}}

                  <div id="section-0" class="detail-content">

                    <div class="section-title text-left">
                      <h4>Información</h4>
                    </div>

                    <!--<img src="{{data.tour.images.0.secure_url}}" alt="Map" class="map-route" /> -->

                    {{{data.tour.description.extended}}}
                  </div> <!-- end secction 0 -->

                  <!-- start secction 1 -->
                  <div id="section-1" class="detail-content">

                    <div class="section-title text-left">
                      <h4>Galería</h4>
                    </div>

                    <div class="slick-gallery-slideshow">

                      <div class="slider gallery-slideshow">
                        {{#each data.tour.images}}
                        <div>
                          <div class="image">
                            <img src="{{cloudinaryUrl width=833 height=417 secure=true crop='fill' }}" alt="Image" />
                          </div>
                        </div>
                        {{/each}}
                      </div>

                      <div class="slider gallery-nav">
                        {{#each data.tour.images}}
                        <div>
                          <div class="image">
                            <img src="{{cloudinaryUrl width=105 height=53 secure=true crop='fill' }}" alt="Image" />
                          </div>
                        </div>
                        {{/each}}
                      </div>

                    </div>

                </div>
                <!-- end secction 1 -->

                <!-- secction 2 Itinerary -->

                <!-- here goes _itinerary partial -->

                <!-- end secction 2 -->

                <!-- secction 3 Tour Accomodation-->

                <!-- here goes _accomodation partial -->

                <!--end secction 3 -->

                <!-- secction 4 -->
                <div id="section-4" class="detail-content">

                    <div class="section-title text-left">
                      <h4>Está Incluido</h4>
                    </div>

                    <ul class="list-with-icon with-heading">

                      {{#if data.tour.hotelPickup}}
                      <li>
                        <i class="fa fa-check-circle text-primary"></i>
                        <h6 class="heading mt-0">Recogida en el Hotel</h6>
                        <p>Este tour incluye transporte desde el hotel u otra ubicación hasta el punto de inicio.</p>
                      </li>
                      {{else}}
                      <li>
                        <i class="fa fa-times-circle text-light"></i>
                        <h6 class="heading mt-0">Recogida en el Hotel</h6>
                        <p>Este tour no incluye transporte desde el hotel al punto de inicio. Deberá llegar al punto de inicio.</p>
                      </li>
                      {{/if}}

                      {{#if data.tour.transportation}}
                      <li>
                        <i class="fa fa-check-circle text-primary"></i>
                        <h6 class="heading mt-0">Transporte durante el Tour</h6>
                        <p>El transportante durante el tour está incluído en el precio.</p>
                      </li>
                      {{else}}
                      <li>
                        <i class="fa fa-times-circle text-light"></i>
                        <h6 class="heading mt-0">Transporte durante el Tour</h6>
                        <p>El transportante durante el tour no está incluído. Deberá costear los gastos de transporte en el tour si existe alguno.</p>
                      </li>
                      {{/if}}
                      {{#if data.tour.food}}
                      <li>
                        <i class="fa fa-check-circle text-primary"></i>
                        <h6 class="heading mt-0">Comidas</h6>
                        <p>Este tour incluye comidas y/o bebidas.</p>
                      </li>
                      {{else}}
                      <li>
                        <i class="fa fa-times-circle text-light"></i>
                        <h6 class="heading mt-0">Comidas</h6>
                        <p>No se incluyen comidas en este tour.</p>
                      </li>
                      {{/if}}
                      {{#if data.tour.insurance}}
                      <li>
                        <i class="fa fa-check-circle text-primary"></i>
                        <h6 class="heading mt-0">Seguro contra accidentes</h6>
                        <p>Este tour incluye seguro contra accidentes.</p>
                      </li>
                      {{else}}
                      <li>
                        <i class="fa fa-times-circle text-light"></i>
                        <h6 class="heading mt-0">Seguro contra accidentes</h6>
                        <p>Este tour no incluye seguro contra accidentes.</p>
                      </li>
                      {{/if}}


                    </ul>

                </div>
                <!-- end secction 4 -->

                <!-- secction 5 Booking dates-->

                <!-- here goes booking dates partial -->

                  <div class="detail-content">

                    <div class="section-title text-left">
                      <h4>Tours Similares</h4>
                    </div>

                    <div class="GridLex-gap-20-wrappper package-grid-item-wrapper on-page-result-page alt-smaller">

                      <div class="GridLex-grid-noGutter-equalHeight">
                      {{#each_upto data.tours 3}}
                        <div class="GridLex-col-4_sm-4_xs-12 mb-20">
                          <div class="package-grid-item">
                            <a href="/tour/{{slug}}">
                              <div class="image">
                                <img src="https://res.cloudinary.com/triptable/image/upload/c_fill,h_400,w_600/v{{images.0.version}}/{{images.0.public_id}}.{{images.0.format}}" alt="{{name}}" />
                                {{#if featured}}
                                <div class="absolute-in-image">
                                  <div class="duration"><span>Destacado</span></div>
                                </div>
                                {{/if}}
                              </div>
                              <div class="content clearfix">
                                <h6>{{name}}</h6>
                                <div class="rating-wrapper">
                                  <div class="raty-wrapper">
                                    <div class="star-rating-12px" data-rating-score="4.0"></div> <span> / 7 review</span>
                                  </div>
                                </div>
                                <div class="absolute-in-content">
                                  <span class="btn"><i class="fa fa-heart-o"></i></span>
                                  <div class="price">${{price}}</div>
                                </div>
                              </div>
                            </a>
                          </div>
                        </div>
                        {{/each_upto}}
                      </div>

                    </div>

                </div>
                <!-- end secction 5 -->

                <!-- secction 6 FAQ -->

                <!-- here goes FAQ Partial

                <!-- end secction 6 -->

                <!-- secction 7 -->
                <div id="section-7" class="detail-content">

                    <div class="section-title text-left">
                      <h4>Reviews ({{data.reviews.length}})</h4>
                    </div>

                 {{>tour/_reviews}} <!-- here goes review partial -->

                </div>
                <!-- end secction 7 -->

                <!-- leave review partial -->
                {{#if userInfo}}
                  {{>tour/_leaveReview}}
                {{else}}
                  <div class="blog-extra">
                    <div class=" text-center">
                          <a href="/signin" class="btn btn-primary">Escribe un Review</a>
                    </div>

                </div>
                {{/if}}
                <!-- here goes leave a review partial -->

                <!-- end leave comment secction -->

                <!-- call 2 action -->
                <div class="call-to-action">

                    ¿Preguntas? <a href="mailto:hello@triptableapp.com" class="btn btn-primary btn-sm btn-inverse">Escríbenos</a> o llámanos al +507 680 800 24

                </div>
                <!-- end call 2 action -->
                  </div> <!-- DETAIL CONTENT WRAPPER -->
                </div> <!-- COL MD 9 -->
                <div class="col-sm-3 hidden-sm hidden-xs">

                <div class="scrollspy-sidebar sidebar-detail" role="complementary">

                  <ul class="scrollspy-sidenav">

                    <li>
                      <ul class="nav">
                        <li><a href="#section-0" class="anchor">Lo Mejor</a></li>
                        <li><a href="#section-1" class="anchor">Galería</a></li>
                        <li><a href="#section-2" class="anchor">Itinerario</a></li>
                        <li><a href="#section-4" class="anchor">Está Incluído</a></li>
                        <li><a href="#section-5" class="anchor">Disponibilidad</a></li>
                        <li><a href="#section-6" class="anchor">Ayuda</a></li>
                        <li><a href="#section-7" class="anchor">Reviews</a></li>
                      </ul>
                    </li>

                  </ul>
                 <!-- <form method="get" action="/contact/{{data.tour.tourId}}"> -->
                 {{#if userInfo}}
                  <a href="/contact/{{data.tour.tourId}}" class="btn btn-primary">Reservar Ahora</a>
                  {{else}}
                  <a href="/signup" class="btn btn-primary">Reservar Ahora</a>
                  {{/if}}
                  <div style="width: 100%; height: 20px;"></div>

                </div>

              </div>

               </div><!-- ROW -->
             </div> <!-- CONTAINER -->
           </div> <!-- CONTENT WRAPPER -->





</div>    <!-- end main wrapper -->