<div class="review-wrapper">

              

                      <div class="review-content">

                        <div class="row gap-20">

                          <div class="col-sm-6">
                            {{#if data.reviews}}
                              <h5>Existen {{data.reviews.length}} reviews</h5>
                            {{else}}
                            <h5>No existen reviews todavía</h5>
                            {{/if}}
                          </div>

                         

                        </div>

                        {{#each data.reviews}}
                        <ul class="review-list">

                          <li class="clearfix">
                            <div class="image">
                              <img class="img-circle" src="/images/avatar.png" alt="Man" />
                            </div>
                            <div class="content">
                              <div class="row gap-20" style="min-width: 300px;">
                                <div class="col-sm-9">
                                  <h6>{{author.name.full}}</h6>
                                </div>
                                <!--<div class="col-sm-3">
                                  <p class="review-date">18/03/2016</p>
                                </div> -->
                              </div>
                              <div class="rating-wrapper">
                                <div class="raty-wrapper">
                                  <div class="star-rating-12px" data-rating-score="{{score}}"></div>
                                </div>
                              </div>

                              <div class="review-text">

                                <p>{{message}}</p>

                              </div>

                              
                            </div>
                          </li>

                        </ul>
                        {{/each}}

                      </div>

                    </div>