<div class="container">
  <div class="row">
    <div class="col-md-12">
      <nav id="navigation" class="style-1">
					<ul id="">
						<li><a id="" href="/">{{i18n "home"}}</a>
						<li><a id="about" href="/about">{{i18n "about_us"}}</a>
						
						</li>

						<li><a id="faq" href="/faq">{{i18n "faq"}}</a>
							
						</li>

						<li><a id="terms" href="/terms">{{i18n "terms"}}</a>
						
						</li>

						<li><a href="#" >{{i18n "contact_us"}}</a>
							
						</li>
            <li><a href="#" >{{i18n "list_a_tour"}}</a>
							
						</li>
						
					</ul>
				</nav>
    </div>
  </div>
</div>