
<div class="listing_main_image" id="listing_main_image_photo" onclick"openGallery()" style="background-image: url('{{data.tour.images.0.url}}')" data-src="{{data.tour.images.0.url}}">
    <h1 class="entry-title entry-prop">{{data.tour.name}}
      <span class="property_ratings listing_slider">
        <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>  
      </span> 
    </h1> 
    <div class="listing_main_image_location">
      <a href="http://wprentals.org/city/new-york/" rel="tag">{{data.place.placeType}}</a> por <a href="http://wprentals.org/area/east-side/" rel="tag">{{data.tour.owner.name.first}}</a>        
    </div>    
    <div class="listing_main_image_price">USD ${{data.tour.price}}</div>
    <div class="listing_main_image_text_wrapper"></div>  
  </div> <!---->