<!-- property price   -->   
      {{#if data.place.hair}}
      <div class="panel-wrapper" id="listing_price">
        <a class="panel-title" data-toggle="collapse" data-parent="#accordion_prop_addr" href="#collapseOne">
        <span class="panel-title-arrow"></span>Cabello</a>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body panel-body-border">
           {{# each data.place.hairCatalog}}
            <div class="listing_detail col-md-6"><span class="item_head">{{name}}:</span> $ {{price}} - {{duration}}</div>
            {{/each}}
          </div>
        </div>
      </div>
      {{/if}}
      {{#if data.place.nails}}
       <div class="panel-wrapper" id="listing_price">
        <a class="panel-title" data-toggle="collapse" data-parent="#accordion_prop_addr" href="#collapseOne">
        <span class="panel-title-arrow"></span>Uñas</a>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body panel-body-border">
           {{# each data.place.nailsCatalog}}
            <div class="listing_detail col-md-6"><span class="item_head">{{name}}:</span> $ {{price}} - {{duration}}</div>
            {{/each}}
          </div>
        </div>
      </div>
      {{/if}}
      <div class="panel-wrapper">
      <!-- property address   -->
        <a class="panel-title" data-toggle="collapse" data-parent="#accordion_prop_addr" href="#collapseTwo">  <span class="panel-title-arrow"></span>Lugar</a>    
        <div id="collapseTwo" class="panel-collapse collapse in">
          <div class="panel-body panel-body-border">
            <div class="listing_detail col-md-6">
              <span class="item_head">City: </span><a href="#" rel="tag">{{data.tour.location.city}}</a>
            </div>
            <div class="listing_detail col-md-6"><span class="item_head">Country: </span><a href="#" rel="tag">{{data.tour.location.country}}</a></div>
            <div class="listing_detail col-md-6"><span class="item_head">State:</span> {{data.tour.location.state}}
          </div>
        </div>
      </div>
      </div>
      <!-- property details   -->  
      <div class="panel-wrapper">
        <a class="panel-title"  id="listing_details" data-toggle="collapse" data-parent="#accordion_prop_addr" href="#collapseTree"><span class="panel-title-arrow"></span>Listing Details</a>
          <div id="collapseTree" class="panel-collapse collapse in">
            <div class="panel-body panel-body-border">
              <div class="listing_detail col-md-6"><span class="item_head">Property Size:</span> 2,500 ft<sup>2</sup></div>
              <div class="listing_detail col-md-6"><span class="item_head">Rooms:</span> 5</div>
              <div class="listing_detail col-md-6"><span class="item_head">Bedrooms:</span> 3</div>
              <div class="listing_detail col-md-6"><span class="item_head">Bathrooms:</span> 2</div>
              <div class="listing_detail col-md-6"><span class="item_head">Late Check-in:</span> Before 11 PM</div>
              <div class="listing_detail col-md-6"><span class="item_head">Optional Services:</span> kitchen fully equipped.</div>
              <div class="listing_detail col-md-6"><span class="item_head">Outdoor Facilities:</span> restaurants and bars.</div><div class="listing_detail col-md-6"><span class="item_head">Extra People:</span> 1 extra bed for $40/night.</div>
              <div class="listing_detail col-md-6"><span class="item_head">Cancellation:</span> free of charge.</div>
            </div>
          </div>
      </div>
      <!-- Features and Amenities -->
      <div class="panel-wrapper">
        <a class="panel-title" id="listing_ammenities" data-toggle="collapse" data-parent="#accordion_prop_addr" href="#collapseFour"><span class="panel-title-arrow"></span>Amenities</a>
          <div id="collapseFour" class="panel-collapse collapse in">
            <div class="panel-body panel-body-border">
              {{#if data.tour.transportation}}
              <div class="listing_detail col-md-6"><i class="fa fa-check checkon"></i>Transportation During Tour</div>
              {{/if}}
              {{#if data.tour.hotelPickup}}
              <div class="listing_detail col-md-6"><i class="fa fa-check checkon"></i>Pick up at Hotel</div>
              {{/if}}
              {{#if data.tour.food}}
              <div class="listing_detail col-md-6"><i class="fa fa-check checkon"></i>Food During Tour</div>
              {{/if}}
              {{#if data.tour.insurance}}
              <div class="listing_detail col-md-6"><i class="fa fa-check checkon"></i>Insurance</div>
              {{/if}}
            </div>
          </div>
        </div>