<!-- property price   -->   
      {{#if data.place.hair}}
      <div class="panel-wrapper" id="listing_price">
        <a class="panel-title" data-toggle="collapse" data-parent="#accordion_prop_addr" href="#collapseOne">
        <span class="panel-title-arrow"></span>Cabello</a>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body panel-body-border">
           {{# each data.place.hairCatalog}}
            <div class="listing_detail col-md-6"><span class="item_head">{{name}}:</span> $ {{price}} - {{duration}}</div>
            {{/each}}
          </div>
        </div>
      </div>
      {{/if}}
      {{#if data.place.nails}}
       <div class="panel-wrapper" id="listing_price">
        <a class="panel-title" data-toggle="collapse" data-parent="#accordion_prop_addr" href="#collapseOne">
        <span class="panel-title-arrow"></span>Uñas</a>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body panel-body-border">
           {{# each data.place.nailsCatalog}}
            <div class="listing_detail col-md-6"><span class="item_head">{{name}}:</span> $ {{price}} - {{duration}}</div>
            {{/each}}
          </div>
        </div>
      </div>
      {{/if}}
      <div class="panel-wrapper">
      <!-- property address   -->
        <a class="panel-title" data-toggle="collapse" data-parent="#accordion_prop_addr" href="#collapseTwo">  <span class="panel-title-arrow"></span>Lugar</a>    
        <div id="collapseTwo" class="panel-collapse collapse in">
          <div class="panel-body panel-body-border">
            <div class="listing_detail col-md-6">
              <span class="item_head">Ciudad: </span><a href="#" rel="tag">{{data.tour.location.city}}</a>
            </div>
            <div class="listing_detail col-md-6"><span class="item_head">País: </span><a href="#" rel="tag">{{data.tour.location.country}}</a></div>
            <div class="listing_detail col-md-6"><span class="item_head">Estado:</span> {{data.tour.location.state}}
          </div>
        </div>
      </div>
      </div>
      <!-- property details   -->  
      <div class="panel-wrapper">
        <a class="panel-title"  id="listing_details" data-toggle="collapse" data-parent="#accordion_prop_addr" href="#collapseTree"><span class="panel-title-arrow"></span>Datos Adicionales</a>
          <div id="collapseTree" class="panel-collapse collapse in">
            <div class="panel-body panel-body-border">
              <div class="listing_detail col-md-6"><span class="item_head">Hora de Salida:</span> {{data.tour.departureTime}}</div>
              <div class="listing_detail col-md-6"><span class="item_head">Hora de Llegada: </span> {{data.tour.arrivalTime}}</div>
            </div>
          </div>
      </div>
      <!-- Features and Amenities -->
      <div class="panel-wrapper">
        <a class="panel-title" id="listing_ammenities" data-toggle="collapse" data-parent="#accordion_prop_addr" href="#collapseFour"><span class="panel-title-arrow"></span>Está Incluído</a>
          <div id="collapseFour" class="panel-collapse collapse in">
            <div class="panel-body panel-body-border">
              {{#if data.tour.transportation}}
              <div class="listing_detail col-md-6"><i class="fa fa-check checkon"></i>Transporte Durante el Tour</div>
              {{/if}}
              {{#if data.tour.hotelPickup}}
              <div class="listing_detail col-md-6"><i class="fa fa-check checkon"></i>Recogida en el Hotel</div>
              {{/if}}
              {{#if data.tour.food}}
              <div class="listing_detail col-md-6"><i class="fa fa-check checkon"></i>Comida durante el Tour</div>
              {{/if}}
              {{#if data.tour.insurance}}
              <div class="listing_detail col-md-6"><i class="fa fa-check checkon"></i>Seguro contra Accidentes</div>
              {{/if}}
            </div>
          </div>
           <div id="listing_description">
          <h4 class="panel-title-description">Notas Adicionales</h4>
            <div class="panel-body" style="max-height : 100%;">
             {{{data.tour.description.extended}}}
            </div>
          </div>
        </div>