<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(event) {
  //do work
    mixpanel.track("Creo Cuenta o Inicio Sesión");
});
</script>
    {{#if messages.error}}
      <div class="alert alert-danger center">
  			<strong>Error:</strong> {{messages.error}}
      </div>
    {{/if}}

		{{#if data.validationErrors.password}}
		<div class="alert center alert-danger">
  			<strong>Error:</strong> {{i18n 'password_not_match_message'}}
		</div>
		{{/if}}

		{{#if data.validationErrors.isEmpty}}
		<div class="alert alert-danger">
  			<strong>Error:</strong> {{i18n 'password_not_empty_message'}}
		</div>
		{{/if}}


		{{#if data.validationErrors.csrfError}}
		<div class="alert alert-danger">
  			<strong>Error:</strong> {{i18n 'refresh_page_message'}}
		</div>
		{{/if}}
		<div class="container">
		<div class="row">
		<div class="col-md-3"></div>
			<div class="col-md-6">

				<div class="clear"></div>

				<!-- Begin # DIV Form -->
				<div id="modal-login-form-wrapper">

					<!-- Begin # Login Form -->
					<form id="register-form" method="POST" action="/signup">
						<input type="hidden" name="action" value="login">

						<div class="modal-body pb-5">

							<h3 class="text-center heading mt-10 mb-20">{{i18n 'siginup'}}</h3>

							<div class="modal-seperator">
								<span></span>
							</div>


							<div class="form-group">
								<input id="register_name" name="name" value="" class="form-control" type="text" placeholder="{{i18n 'name'}}">
							</div>

							<div class="form-group">
								<input id="register_email" name="email", value="" class="form-control" type="email" placeholder="Email">
							</div>

							<div class="form-group">
								<input id="register_password" name='password', value="" class="form-control" type="password" placeholder="Contraseña">
							</div>
							<div class="form-group">
								<input id="register_password" name='password_confirm' value="" class="form-control" type="password" placeholder="{{i18n 'repeat_password'}}">
							</div>
              <div class="form-group">
								<input id="referalCode" name='referalCode' value="" class="form-control" type="text" placeholder="{{i18n 'promocode'}} ({{i18n 'optional'}})">
							</div>

						</div>

						<div class="modal-footer mt-10">

							<div class="row gap-10">
								<div class="col-xs-6 col-sm-6 mb-10">
									<button type="submit" class="btn btn-primary btn-block">{{i18n 'signup'}}</button>
								</div>
								<div class="col-xs-6 col-sm-6 mb-10">
									<a href="/" class="btn btn-primary btn-inverse btn-block">{{i18n 'cancel'}}</a>
								</div>
							</div>

							<div class="text-left">
									{{i18n 'already_have_an_account'}}? <a href="/signin" id="register_login_btn"  class="btn btn-link">{{i18n 'signin'}}</a>
							</div>

						</div>

					</form>
					<!-- End # Login Form -->


				</div>
				<!-- End # DIV Form -->

			</div>
			<div class="col-md-3"></div>
		</div>

	</div> <!-- end container -->