<!-- Container -->
<div class="container margin-bottom-35 magin-top-30">
	<div class="row ">

		<div class="col-md-12">
			<h3 class="headline centered margin-bottom-15 margin-top-15">{{i18n "country_select_message"}}<span>{{i18n "country_select_subtitle"}}</span></h3>
		</div>

<!--
		<div class="col-md-4">

			<a href="/colombia" class="img-box" data-background-image="http://www.toucancafe.co/wp-content/uploads/2015/12/Medellin-Graffiti-Tour-Comuna-13.jpg">
				<div class="img-box-content visible">
					<h4>Colombia</h4>
				</div>
			</a>

		</div>	
			
		<div class="col-md-8">


			<a href="/panama" class="img-box" data-background-image="images/panama.jpg">
				<div class="img-box-content visible">
					<h4>{{i18n "panama"}}</h4>
		
				</div>
			</a>

		</div>	

		<div class="col-md-8">

			<a href="/mexico" class="img-box" data-background-image="https://res.cloudinary.com/triptable/image/upload/w_900/v1497024826/lncackv61avgajcim0dh.jpg">
				<div class="img-box-content visible">
					<h4>{{i18n "mexico"}} </h4>
				</div>
			</a>

		</div>	
			
		<div class="col-md-4">
			<a class="img-box" data-background-image="http://res.cloudinary.com/triptable/image/upload/w_700/v1508956376/city-costarica-2.jpg">
				<div class="img-box-content visible">
					<h4>Costa Rica</h4>
					<span>{{i18n "coming_soon"}}</span>
				</div>
			</a>

		</div> -->

	</div>
</div>
<!-- Container / End -->

<div class="container padding-bottom-30">

	<div class="row icons-container">
		<!-- Stage -->
		<div class="col-sm-3 col-xs-6">
			<div class="icon-box-2 with-line">
				<i class="flag-icon flag-icon-co"></i>
				<h3>Colombia</h3>
			</div>
		</div>

		<!-- Stage -->
		<div class="col-sm-3 col-xs-6">
			<div class="icon-box-2 with-line">
				<i class="flag-icon flag-icon-pa"></i>
				<h3>{{i18n "panama"}}</h3>
			</div>
		</div>

		<!-- Stage -->
		<div class="col-sm-3 col-xs-6">
			<div class="icon-box-2 with-line">
				<i class="flag-icon flag-icon-mx "></i>
				<h3>{{i18n "mexico"}}</h3>
			</div>
		</div>
		<div class="col-sm-3 col-xs-6">
			<div class="icon-box-2">
				<i class="flag-icon flag-icon-cr"></i>
				<h3>Costa Rica</h3>
			</div>
		</div>
	</div>

</div>
<!-- Info Section / End -->