<!-- Info Section -->
<div class="container padding-bottom-30">

	<!--<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2 class="headline centered margin-top-80">
				¿Cómo Funciona?
				<span class="margin-top-15">Te ayudamos a descubrir y reservar en línea tours y actividades con guías locales certificados en Panamá, México y Colombia.</span>
			</h2>
		</div>
	</div> -->

	<div class="row icons-container">
		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2 with-line">
				<i class="im im-icon-Ticket"></i>
				<h3>{{i18n "home_message_title_1"}}</h3>
				<p>{{i18n "home_message_subtitle_1"}}</p>
			</div>
		</div>

		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2 with-line">
				<i class="im im-icon-Cloud-Secure"></i>
				<h3>{{i18n "home_message_title_2"}}</h3>
				<p>{{i18n "home_message_subtitle_2"}}</p>
			</div>
		</div>

		<!-- Stage -->
		<div class="col-md-4">
			<div class="icon-box-2">
				<i class="im im-icon-Mail-Send"></i>
				<h3>{{i18n "home_message_title_3"}}</h3>
				<p>{{i18n "home_message_subtitle_3"}}</p>
			</div>
		</div>
	</div>

</div>
<!-- Info Section / End -->