<!-- Listing Item -->
		<div class="fw-carousel-item">
			<a href="/tour/{{slug}}" class="listing-item-container compact">
				<div class="listing-item">
					{{#if heroImage.secure_url}} <!-- fall back -->
					<img src="https://res.cloudinary.com/triptable/image/upload/w_600/v{{heroImage.version}}/{{heroImage.public_id}}.{{heroImage.format}}" alt="">
					{{else}}
					<img src="https://res.cloudinary.com/triptable/image/upload/c_fill,h_400,w_600,q_auto/v{{images.0.version}}/{{images.0.public_id}}.{{images.0.format}}" alt="{{name}}" />
          {{/if}}
					<div class="listing-badge now-open"><strong>{{getPriceInCurrency price}} {{getCurrency}}</strong></div>
					<div class="listing-item-content">
						<span class="tag">Eat &amp; Drink</span>
						<!--<div class="numerical-rating" data-rating="">-10%</div>  -->
						<!--<div class="star-rating" data-rating="4.5"><div class="rating-counter">(12 reviews)</div></div> -->
						<h3>{{name}}</h3>
						<span><i class="fa fa-map-marker"></i> {{city.city}}</span>
					</div>
					<span class="like-icon"></span>
				</div>

			</a>
		</div>
		<!-- Listing Item / End -->


				<!-- Listing Item
				<div class="fw-carousel-item">
					<a href="listings-single-page.html" class="listing-item-container">
						<div class="listing-item">
							{{#if heroImage.secure_url}} 
								<img src="https://res.cloudinary.com/triptable/image/upload/w_600/v{{heroImage.version}}/{{heroImage.public_id}}.{{heroImage.format}}" alt="">
							{{else}}
								<img src="https://res.cloudinary.com/triptable/image/upload/c_fill,h_400,w_600,q_auto/v{{images.0.version}}/{{images.0.public_id}}.{{images.0.format}}" alt="{{name}}" />
          		{{/if}}
						
							<div class="listing-item-details">
								<ul>
									
								</ul>
							</div>
							<div class="listing-item-content">
								<span class="tag">Events</span>
								<h3>{{name}}</h3>
							
							</div>
							<span class="like-icon"></span>
						</div>
						<div class="star-rating">
							
							<div class="row"><p class="subtitle col-xs-7"><i class="fa fa-map-marker"></i> {{city.city}}</p><p class="subtitle col-xs-5"><span class="float-right"><i class="fa fa-users float-none"></i> {{getPriceInCurrency price}} {{getCurrency}}</span></p>
						</div>
						</div>
						
					</a>
				</div>
			 Listing Item / End -->	