<!-- Fullwidth Section -->
<section class="fullwidth padding-top-30 padding-bottom-15" data-background-color="#f8f8f8">

	<div class="container">
		<div class="row">

			<div class="col-xs-8">
				<h2 class="headline margin-bottom-15">
					{{i18n "most_popular_tours_in"}} {{i18n "Colombia"}}
				<!--	<span>{{i18n "most_reserved_tours_message"}}</span> -->
				</h2>
			</div>
			<div class="col-xs-4 text-right padding-top-10">
				<span class="view-more margin-bottom-15">
					<a href="/colombia" target="_blank">{{i18n "view_all"}} <i class="sl sl-icon-arrow-right"></i></a>
				<!--	<span>{{i18n "most_reserved_tours_message"}}</span> -->
				</span>
			</div>
		</div>
	</div>
	<!-- Carousel / Start -->
	<div class="container home-tours">
		<div class="row">
				<div class="home-feature-tours-slider listing-slider dots-nav" style="background-color: #f8f8f8">
		{{#each toursColombia.results }}
	
		<div class="col-md-4 col-sm-6 col-xs-12 colombia-tour-item" id="colombia-tour-item-{{@index}}">
					<a href="tour/{{slug}}" class="listing-item-container">
						<div class="listing-item">
							{{#if heroImage.secure_url}}
							<img async src="https://res.cloudinary.com/triptable/image/upload/c_fit,f_auto,q_90,h_350/v{{heroImage.version}}/{{heroImage.public_id}}.{{heroImage.format}}" alt="{{name}}">
							{{else}}
							<img async src="https://res.cloudinary.com/triptable/image/upload/c_fit,f_auto,q_90,h_350/v{{images.0.version}}/{{images.0.public_id}}.{{images.0.format}}" alt="{{name}}">
							{{/if}}
							<!--<div class="listing-item-details">
								<ul>
									<li> <i class="sl sl-icon-fire"></i> Popular</li>
								</ul>
							</div>-->

							<!--<div class="listing-badge now-open"><strong>-20% OFF</strong></div>-->
							
							<!--<div class="listing-item-content">
								<span class="tag">Mas Vendidos <i class="sl sl-icon-fire"></i></span>
							</div> -->
							<!--<span class="like-icon"></span>-->
						</div>
						
						<div class="tour-info">
							<h3 class="title giveMeEllipsis">{{getTourLocName name name_eng}}<!-- <i class="verified-icon"></i>--></h3>
							<span class="description one-line"><i class="fa fa-map-marker"></i> {{city.city}} · <i class="fa fa-clock-o"></i> {{duration}}{{#if isMultiDay}} {{i18n "days"}} {{else}} {{i18n "hours"}} {{/if}}</span>
							{{#if nOfReviews}}
							<div class="star-rating" data-rating="{{nOfStars}}">
								<div class="rating-counter">({{nOfReviews}} {{i18n "reviews"}})</div>
							</div>
							{{/if}}
							<div class="row">
							
								<div class="col-md-12 price-box">
									<div class="price">
										{{#unless nOfReviews}}{{#if multiPrice}}<span class="from-price">{{i18n "from"}}</span>{{/if}}{{/unless}} <!--<span class="discount-price">$154 USD</span>-->
										<h3>{{getPriceInCurrency price ../toursPanama.currency}} {{../toursPanama.currency}}<span class="per-person"> {{i18n "per_person"}}</span> <!--<span class="discount-price">$154 USD</span>--></h3>
									</div>
								</div>
							
							</div>
							
						</div>
					</a>
				</div>



		{{/each}}
		</div>
		</div>
	</div>
	<!-- Carousel / End -->

</section>
<!-- Fullwidth Section / End -->

<script>

// Measures product impressions and also tracks a standard
// pageview for the tag configuration.
// Product impressions are sent by pushing an impressions object
// containing one or more impressionFieldObject
if (document.location.hostname.search("triptable.com") !== -1) {
$(document).ready(function() {
	var colombiaHomeTours = [];
	var pos = 0;
	var listName = "Home - Colombia Tours Featured";
	{{#each toursColombia.results }}
		setImpressions(colombiaHomeTours,"{{name}}","{{tourId}}",{{price}},"{{city.city}}","",listName,pos); 
		$( "#colombia-tour-item-"+pos).data( "tourObj", colombiaHomeTours[pos]); // Seed id with obj data
		pos = pos + 1;
	{{/each}}

	dataLayer.push({
			'event': 'productImpressions',
	  	'ecommerce': {
	    	'currencyCode': "USD",                       // Local currency is optional.
	    	'impressions': colombiaHomeTours
	  	}
	});

 	//On click event
	$('.colombia-tour-item').click(function(e){
		var target = e.currentTarget.id;
		var productObj = $('#'+target).data().tourObj;
		setProductClick(productObj, listName);
	});

});
}
</script>