<!-- Fullwidth Section -->
<section class="fullwidth margin-top-0 padding-top-15 padding-bottom-15">

	<div class="container-fluid">
		<div class="row">

			<div class="col-md-6">
				<h4 class="headline margin-bottom-15">
					{{i18n "most_popular_tours_in"}} {{i18n "Colombia"}}
				<!--	<span>{{i18n "most_reserved_tours_message"}}</span> -->
				</h4>
			</div>
			<div class="col-md-6 text-right">
				<span class="view-more margin-bottom-15">
					<a href="/colombia" target="_blank">{{i18n "view_all"}} <i class="sl sl-icon-arrow-right"></i></a>
				<!--	<span>{{i18n "most_reserved_tours_message"}}</span> -->
				</span>
			</div>
		</div>
	</div>

	<!-- Carousel / Start -->
	<div class="simple-fw-slick-carousel dots-nav">
		{{#each toursColombia.results }}
		{{>home/_single-tour-item}}
		{{/each}}
	</div>
	<!-- Carousel / End -->

</section>
<!-- Fullwidth Section / End -->