<!-- Fullwidth Section -->
<section class="fullwidth margin-top-0">
	<div class="container">
		<div class="row">
			<div class="col-xs-8">
				<h2 class="headline margin-bottom-5">
					{{i18n "most_popular_tours_in"}} {{i18n "panama"}}
				<!--	<span>{{i18n "most_reserved_tours_message"}}</span> -->
				</h2>
			</div>
			<div class="col-xs-4 text-right">
				<span class="view-more margin-bottom-15">
					<a href="/panama" target="_blank">{{i18n "view_all"}} <i class="sl sl-icon-arrow-right"></i></a>
				<!--	<span>{{i18n "most_reserved_tours_message"}}</span> -->
				</span>
			</div>
		</div>
	</div>

	<!-- Carousel / Start -->
<!--	<div class="simple-fw-slick-carousel dots-nav">-->
	<div class="container">
		<div class="row">
		{{#each toursPanama.results }}
		<div class="col-md-4 col-sm-6 col-xs-12 panama-tour-item" id="panama-tour-item-{{@index}}">
					<a href="/tour/{{slug}}" class="listing-item-container compact">
						<div class="listing-item user-profile">
							{{#if heroImage.secure_url}}
							<img async src="https://res.cloudinary.com/triptable/image/upload/c_fit,f_auto,q_auto,h_600/v{{heroImage.version}}/{{heroImage.public_id}}.{{heroImage.format}}" alt="{{name}}">
							{{else}}
							<img async src="https://res.cloudinary.com/triptable/image/upload/c_fit,f_auto,q_auto,h_600/v{{images.0.version}}/{{images.0.public_id}}.{{images.0.format}}" alt="{{name}}">
							{{/if}}
							<div class="listing-badge now-open"><strong>{{../toursPanama.currency}} {{getPriceInCurrency price ../toursPanama.currency}}</strong></div>

							<div class="listing-item-content">
								<div class="numerical-rating mid"><i class="fa fa-clock-o"></i> {{duration}}{{#if isMultiDay}} {{i18n "D"}} {{else}} {{i18n "H"}} {{/if}}</div>
								<!--<div class="numerical-rating" data-rating="3.5"></div>-->
								<h2>{{getTourLocName name name_eng}}  </h2>
								<span><i class="fa fa-map-marker"></i> {{city.city}}</span>
							</div>
						<!--	<span class="like-icon"></span>-->
						</div>
					</a>
				</div>
		{{/each}}
		</div>
	</div>
	<!-- Carousel / End -->

</section>
<!-- Fullwidth Section / End -->
<script>
$(document).ready(function() {
	var panamaHomeTours = [];
	var pos = 0;
	var listName = "Home - Panama Tours Featured";
	{{#each toursPanama.results }}
		setImpressions(panamaHomeTours,"{{name}}","{{tourId}}",{{price}},"{{city.city}}","",listName,pos); 
		$( "#panama-tour-item-"+pos).data( "tourObj", panamaHomeTours[pos]); // Seed id with obj data
		pos = pos + 1;
	{{/each}}

	dataLayer.push({
			'event': 'productImpressions',
	  	'ecommerce': {
	    	'currencyCode': "USD",                       // Local currency is optional.
	    	'impressions': panamaHomeTours
	  	}
	});

 	//On click event
	$('.panama-tour-item').click(function(e){
		var target = e.currentTarget.id;
		var productObj = $('#'+target).data().tourObj;
		setProductClick(productObj, listName);
	});

});
</script>