<!-- Fullwidth Section -->
<section class="fullwidth margin-top-0">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-9">
				<h2 class="headline margin-bottom-5">
					{{i18n "most_popular_tours_in"}} {{i18n "panama"}}
				<!--	<span>{{i18n "most_reserved_tours_message"}}</span> -->
				</h2>
			</div>
			<div class="col-xs-3 text-right">
				<span class="view-more margin-bottom-15">
					<a href="/panama" target="_blank">{{i18n "view_all"}} <i class="sl sl-icon-arrow-right"></i></a>
				<!--	<span>{{i18n "most_reserved_tours_message"}}</span> -->
				</span>
			</div>
		</div>
	</div>

	<!-- Carousel / Start -->
	<div class="simple-fw-slick-carousel dots-nav">
		{{#each toursPanama.results }}
		<div class="panama-tour-item" id="panama-tour-item-{{@index}}">
			<div class="fw-carousel-item"> 
				<a target="_blank" href="/tour/{{slug}}" class="listing-item-container" tabindex="0"> 
					<div class="listing-item">
						{{#if heroImage.secure_url}} <!-- fall back -->
						<img async src="https://res.cloudinary.com/triptable/image/upload/c_fill,f_auto,q_85,h_480,w_390/v{{heroImage.version}}/{{heroImage.public_id}}.{{heroImage.format}}" alt="">
						{{else}}
						<img async src="https://res.cloudinary.com/triptable/image/upload/c_fill,h_400,w_600,q_auto/v{{images.0.version}}/{{images.0.public_id}}.{{images.0.format}}" alt="{{name}}" />
						{{/if}}
						<div class="listing-item-details">
							<ul>
							</ul>
						</div>
						<div class="listing-item-content">
						</div>
					</div>
					<div class="tour-item-desc">
						<p class=""><i class="fa fa-map-marker"></i> {{city.city}} ● <i class="fa fa-clock-o"></i> {{duration}}{{#if isMultiDay}}{{i18n "d"}} {{else}}{{i18n "h"}} {{/if}}</p>
						<span class="tour-item-desc">{{getTourLocName name name_eng}} </span> 
						<span class="currency"><strong>{{../toursPanama.currency}} {{getPriceInCurrency price ../toursPanama.currency}}</strong> {{i18n "per_person"}}</span>
					</div>
				</a>
			</div>
		</div>
		{{/each}}
	</div>
	<!-- Carousel / End -->

</section>
<!-- Fullwidth Section / End -->
<script>
$(document).ready(function() {
	var panamaHomeTours = [];
	var pos = 0;
	var listName = "Home - Panama Tours Featured";
	{{#each toursPanama.results }}
		setImpressions(panamaHomeTours,"{{name}}","{{tourId}}",{{price}},"{{city.city}}","",listName,pos); 
		$( "#panama-tour-item-"+pos).data( "tourObj", panamaHomeTours[pos]); // Seed id with obj data
		pos = pos + 1;
	{{/each}}

	dataLayer.push({
			'event': 'productImpressions',
	  	'ecommerce': {
	    	'currencyCode': "USD",                       // Local currency is optional.
	    	'impressions': panamaHomeTours
	  	}
	});

 	//On click event
	$('.panama-tour-item').click(function(e){
		var target = e.currentTarget.id;
		var productObj = $('#'+target).data().tourObj;
		setProductClick(productObj, listName);
	});

});
</script>