<!-- start Main Wrapper -->
    <div class="main-wrapper">
      <!-- start end Page title -->
      <div class="page-title hidden-xs" style="background-image:url('https://res.cloudinary.com/triptable/image/upload/c_fill,q_auto,f_auto,g_auto/dpr_auto,w_auto/c_limit,w_1920/{{data.place.image.public_id}}.{{data.place.image.format}}');">
        <div class="container">
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
              <h1 class="hero-title">{{data.tours.total}} {{i18n 'tours_and_activities'}} {{i18n 'in' }} {{data.placeName}}</h1>
            </div>
          </div>
        </div>
      </div>
      </div>    <!-- container -->
       <div class="container search">
         {{#if cities}}
       <div class="row">
           <div class="col-md-12">
             <h1 class="search-subtitle">Destinos {{i18n "in"}} {{data.placeName}}</h1>
              <div class="row">
                  {{#each_upto cities.top 4}}
                  {{>search/searchCities}}
                  {{/each_upto}}
            </div>
            <div class="row">
              {{#each cities.all}}
              <div class="col-md-3 cities">
                <a href="/destino/{{slug}}"><h2 class="city-title">Tours {{i18n "in"}} {{city}}</h2></a>
              </div>
              {{/each}}
            </div>
         </div>
          </div>
          {{/if}}
         {{#if data.top.results}}
         <div class="row">
           <div class="col-md-12">
             <h1 class="search-subtitle">Top Tours en {{data.placeName}}</h1>
              <div class="GridLex-gap-30-wrappper package-grid-item-wrapper">
                <div class="GridLex-grid-noGutter-equalHeight">
                  {{#each_upto data.top.results 4}}
                    {{>search/searchTours}}
                    {{/each_upto}}
                </div>
          </div>
           </div>
         </div>
         {{/if}}
          <div class="row">
            <div class="col-md-12 results">
              <h1 class="search-subtitle">Todos los Resultados ({{data.tours.total}} Tours en {{data.placeName}})</h1><p> Monstrando del {{data.tours.first}} al {{data.tours.last}}</p>
            </div>
          </div>
          <div class="GridLex-gap-30-wrappper package-grid-item-wrapper">
            <div class="GridLex-grid-noGutter-equalHeight">
             {{#each_upto data.tours.results 20}}
              {{>search/searchTours}}
              {{/each_upto}}
            </div>
          </div>
          <div class="pager-wrappper clearfix">
                <div class="pager-innner">
                  <div class="flex-row flex-align-middle">
                    <div class="flex-column flex-sm-12">
                     
                    <div class="flex-column flex-sm-12">
                      <nav class="" style="text-align:center; margin:10px;">
                        <ul class="pagination">
                         <li>
                            <a href="?page={{data.tours.previous}}" aria-label="Anterior">
                              <span aria-hidden="true">&laquo;</span>
                            </a>
                          </li>
                          {{#each data.tours.pages}}
                          <li class="" id="pag{{this}}"><a onClick="activo($(this))" href="?page={{this}}">{{this}}</a></li>
                          {{/each}}
                          <script type="text/javascript">

                           function getParameterByName(name, url) {
                              if (!url) url = window.location.href;
                              name = name.replace(/[\[\]]/g, "\\$&");
                              var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)", "i"),
                                  results = regex.exec(url);
                              if (!results) return null;
                              if (!results[2]) return '';
                              return decodeURIComponent(results[2].replace(/\+/g, " "));
                            }
                            var page = getParameterByName('page');
                            if (page == null) {
                              $('#pag1').addClass('active');
                            } else {
                            $ ( document ).on("ready", function(){
                              $('li.active').removeClass('active');
                              $('#pag'+page).addClass('active');
                            });
                            }
                          </script>
                          <li>
                            <a href="?page={{data.tours.next}}" aria-label="Siguiente">
                              <span aria-hidden="true">&raquo;</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      <!-- content-wrapper -->





    </div>  <!-- end Main wrapper -->