<div class="header_media">
<div class="listing_main_image" id="listing_main_image_photo" style="background-image: url({{data.province.image.secure_url}});height:315px;"><h1 class="entry-title entry-tax">{{data.province.province}}</h1><div class="tax_tagline">{{data.province.description}}</div><div class="img-overlay"></div></div>
   
</div>

<!-- <div class="container" style="padding:30px;">
	<div class="row">
	<h1 style="padding:20px 20px;">Destinos en {{data.province.province}}</h1>
	{{# each data.cities}}
        <div class="col-md-4 portofolio-item">
            <div class="module mid" style="background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url({{image.secure_url}});background-size: cover;background-position: 50%;">
			  <h2>{{city}}</h2>
			</div>
		</div>
	{{/each}}	
    </div>
</div> -->
<div class="container" style="padding:30px;">
  <div class="row row-eq-height">
    {{# each data.tours}}
    <div class="listing_wrapper col-md-4 shortcode-col property_unit_v2 property_flex " data-listid="115"> 
      <div class="property_listing " data-link="/tour/{{slug}}">
        <div class="listing-unit-img-wrapper">
          <a href="/tour/{{slug}}">
            <div id="img-container" style="position: relative; height: 225px;" >
                <div style="background-image: url({{images.0.secure_url}}); background-color: transparent; background-size: cover; background-position: center; height: 100%; width: auto;">
                </div> 
              </div> 
          </a> 
        </div>
                 
          <div class="title-container">
            <div class="price_unit_wrapper">
              <div class="price_unit">$ {{price}} </div> 
            </div>
            <a href="http://triptableapp.com/owners/janetdemo/" class="owner_thumb" style="background-image: url('/styles/framework/css/css-images/profile.jpg')"></a>
              <div class="category_name">
                <a href="/tour/{{slug}}" class="listing_title_unit">
                    {{name}}
                </a>
                <div class="category_tagline">
                    <img src="/styles/framework/css/css-images/unit_pin.png" alt="location">
                    <a href="http://triptableapp.com/area/mattapan/" rel="tag">{{province.province}}</a>, <a href="/tour/{{slug}}" rel="tag">{{country.country}}</a>
                </div>
              </div>
                <div class="property_unit_action">
                  <span class="icon-fav icon-fav-off" data-original-title="add to favorites" data-postid="115"><i class="fa fa-heart"></i></span>
                </div>
                </div>
              </div>          
          </div>
            {{/each}}
  </div>
</div>

<div class="container" style="padding:30px;">
	<div class="row row-eq-height">
	<h1 style="padding:20px 20px;">Tours en {{data.province.province}}</h1>
	{{# each data.tours}}
        <div class="col-md-4 portfolio-item">
                <a href="/tour/{{slug}}">
                    <img class="img-responsive" src="{{images.0.url}}" alt="">
                </a>
                <h3 style="padding-top:10px;margin-bottom:0;">
                    <a href="#">{{name}}</a>
                </h3>
                {{{description.short}}}
        </div>
    {{/each}}    
	</div>
</div>

<style>
	.module {
  
  width: 100%;
  height: 250px;
  position: relative;
  border-radius: 15px;
}

.mid h2 {
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
}
</style>
