<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/12.1.1/css/intlTelInput.css">
<!-- Titlebar
================================================== -->
<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Booking</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="#">Home</a></li>
						<li>Booking</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>


<!-- Content
================================================== -->

<!-- Container -->
<div class="container">
	<div class="row">

		<!-- Content
		================================================== -->
		<div class="col-lg-8 col-md-8 padding-right-30">

			<h3 class="margin-top-0 margin-bottom-30">Personal Details</h3>

			<div class="row">

				<div class="col-md-6">
					<label>First Name</label>
					<input type="text" value="">
				</div>

				<div class="col-md-6">
					<label>Last Name</label>
					<input type="text" value="">
				</div>

				<div class="col-md-6">
					<div class="input-with-icon medium-icons">
						<label>E-Mail Address</label>
						<input type="email" value="">
						<i class="im im-icon-Mail"></i>
					</div>
				</div>

				<div class="col-md-6">
					<div class="input-with-icon medium-icons">
						<label>Phone / Whatsapp</label>
						<input type="tel" id="phone">
					</div>
				</div>
				<div class="col-md-12">
					<div class="input-with-icon medium-icons">
						<label>Hotel Name or Address</label>
						<input type="text" value="">
						<i class="im im-icon-Phone-2"></i>
					</div>
				</div>

			</div>


			<h3 class="margin-top-55 margin-bottom-30">Payment Method</h3>

			<!-- Payment Methods Accordion -->
			<div class="payment">

				<div class="payment-tab">
					<div class="payment-tab-trigger">
						<input id="paypal" name="cardType" type="radio" value="paypal">
						<label for="paypal">Cash</label>
						<!--<img class="payment-logo paypal" src="https://i.imgur.com/ApBxkXU.png" alt=""> -->
					</div>

					<div class="payment-tab-content">
						<p>You will be redirected to PayPal to complete payment.</p>
					</div>
				</div>


				<div class="payment-tab payment-tab-active">
					<div class="payment-tab-trigger">
						<input checked type="radio" name="cardType" id="creditCart" value="creditCard">
						<label for="creditCart">Credit / Debit Card</label>
						<img class="payment-logo" src="https://i.imgur.com/IHEKLgm.png" alt="">
					</div>

					<div class="payment-tab-content">
						<div class="row">

							<div class="col-md-6">
								<div class="card-label">
									<label for="nameOnCard">Name on Card</label>
									<input id="nameOnCard" name="nameOnCard" required type="text">
								</div>
							</div>

							<div class="col-md-6">
								<div class="card-label">
									<label for="cardNumber">Card Number</label>
									<input id="cardNumber" name="cardNumber" placeholder="1234  5678  9876  5432" required type="text">
								</div>
							</div>

							<div class="col-md-4">
								<div class="card-label">
									<label for="expirynDate">Expiry Month</label>
									<input id="expiryDate" placeholder="MM" required type="text">
								</div>
							</div>

							<div class="col-md-4">
								<div class="card-label">
									<label for="expiryDate">Expiry Year</label>
									<input id="expirynDate" placeholder="YY" required type="text">
								</div>
							</div>

							<div class="col-md-4">
								<div class="card-label">
									<label for="cvv">CVV</label>
									<input id="cvv" required type="text">
								</div>
							</div>

						</div>
					</div>
				</div>

			</div>
			<!-- Payment Methods Accordion / End -->
		
			<a href="listings-booking-confirmation.html" class="button booking-confirmation-btn margin-top-40 margin-bottom-65">Confirm and Pay</a>
		</div>


		<!-- Sidebar
		================================================== -->
		<div class="col-lg-4 col-md-4 margin-top-0 margin-bottom-60">

			<!-- Booking Summary -->
			<div class="listing-item-container compact order-summary-widget">
				<div class="listing-item">
					<img src="https://res.cloudinary.com/triptable/image/upload/w_600/v{{data.tour.heroImage.version}}/{{data.tour.heroImage.public_id}}.{{data.tour.heroImage.format}}" alt="">

					<div class="listing-item-content">
						<!--<div class="numerical-rating" data-rating="5.0"></div>-->
						<h3>{{data.tour.name}}</h3>
						<span><i class="fa fa-map-marker"></i> {{data.tour.city.city}}, {{data.tour.country.country}}</span>
					</div>
				</div>
			</div>
			<div class="boxed-widget opening-hours summary margin-top-0">
				<h3><i class="fa fa-calendar-check-o"></i> Booking Summary</h3>
				<ul>
					<li>Date <span>{{formData.formatDate}}</span></li>
					<li>Hour <span>{{formData.bookingTime}}</span></li>
					<li>Adults x {{formData.nOfAdults}}<span>${{data.tour.price}} USD</span></li>
					<li>Children x {{formData.nOfChildren}}<span>$0 USD</span></li>
					<li>Infants x {{formData.nOfInfants}} <span>$0 USD</span></li>
					<li class="total-costs">Total Cost <span>$250.00</span></li>
				</ul>

			</div>
			<!-- Booking Summary / End -->

		</div>

	</div>
</div>
<!-- Container / End -->
<script>
	document.addEventListener("DOMContentLoaded", function() {
		$("#phone").intlTelInput({
			preferredCountries : ["pa", "co"],
			utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/12.1.1/js/utils.js",
			autoPlaceholder: "aggressive"
		});
	});
</script>