<div id="titlebar">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>{{i18n "booking_completed"}}</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs">
					<ul>
						<li><a href="#">{{i18n "home"}}</a></li>
						<li>{{i18n "booking"}}</li>
					</ul>
				</nav>
				
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="booking-confirmation-page">
				<i class="fa fa-check-circle"></i>
				<h2 class="margin-top-30">{{i18n "confirmation_message_title"}}</h2>
				<p id="customerEmail">{{i18n "confirmation_message_subtitletitle"}} {{bookingInfo.email}}</p>
				<p id="customerBookingId" class="booking-id" >{{i18n "confirmation_message_bookingId"}} <span> {{bookingInfo.friendlyId}}<span></p>
				<a target="_blank" id="viewBooking" href="/invoice/{{bookingInfo._id}}" class="button button-primary margin-top-30">{{i18n "view_booking"}}</a>
			</div>

		</div>
	</div>
</div>
<script type="text/javascript">
	
	$(document).ready(function(){
		$('#viewBooking').click(function(e){
			window.location = "/";
		});
		dataLayer.push({
			'event': 'productPurchase',
		  'ecommerce': {
		    'purchase': {
		      'actionField': {
		        'id': '{{bookingInfo.friendlyId}}',                         // Transaction ID. Required for purchases and refunds.
		        'affiliation': 'Website',
		        'revenue': {{bookingInfo.bookingFlatPrice}},                    // Total transaction value (incl. tax and shipping)
		        'tax':{{bookingInfo.bookingTransactionFee}},
		      },
		      'products': [{                            // List of productFieldObjects.
		        'name': '{{bookingInfo.tourName}}',     // Name or ID is required.
		        'id': '{{data.tour._id}}',
		        'price': {{bookingInfo.tourPrice}},
		        'quantity': {{bookingInfo.people}},
						'brand': "{{data.tour.country.country}}",
	        	'category': "{{data.tour.city.city}}",
		        'coupon': ''                            // Optional fields may be omitted or set to empty string.
		       }]
		    }
		  },
			'tourId': "{{data.tour._id}}",
			'bookingName': "{{bookingInfo.name.full}}",
			'bookingFn': "{{bookingInfo.name.first}}",
			'bookingLn': "{{bookingInfo.name.last}}",
    	'bookingEmail': "{{bookingInfo.email}}",
    	'bookingAmount': {{bookingInfo.bookingTotalPrice}},
    	'bookingPeople' : {{bookingInfo.people}},
			'bookingPhone':"{{bookingInfo.phone}}",
			'tourPrice': {{ bookingInfo.tourPrice }}	
		});
// Send transaction data with a pageview if available
// when the page loads. Otherwise, use an event when the transaction
// data becomes available.
});
</script>