<div class="container-fluid">
	<div class="row">
	<!-- Parallax -->
<div class="parallax"
	data-background="images/slider-bg-02.jpg"
	data-color="#36383e"
	data-color-opacity="0.6"
	data-img-width="800"
	data-img-height="300">

	<!-- Infobox -->
	<div class="text-content white-font margin-bottom-30">
		<div class="container">

			<div class="row">
				<div class="col-lg-6 col-sm-8">
					<h1>Conviérte en Partner de Triptable </h1>
					<p>Somos la plataforma de reservaciones de tours y actividades de mayor crecimiento en Latinoamérica. Conectamos viajeros con los mejores proveedores de experiencias, atracciones, tours y escapadas de fin de semana.</p>
					<a href="#" class="button margin-top-25">Ver Video</a>
				</div>
			</div>

		</div>
	</div>

	<!-- Infobox / End -->

</div>
<!-- Parallax / End -->
</div>
</div>

<div class="container">
	<div class="row">
		{{#if enquirySubmitted}}
			<h3 class="text-center">Hemos enviado la informacion a tu correo</h3>
		{{else}}
		<form method="post">
			<input type="hidden" name="action" value="contact">	
				<div class="col-md-6" class="{{#if validationErrors.name}}has-error{{/if}}" >
					<label>{{i18n "full_name"}}</label>
					<input type="text"  name="name.full" value="">
				</div>

				<div class="col-md-6">
					<div class="input-with-icon medium-icons {{#if validationErrors.email}}has-error{{/if}}">
						<label>{{i18n "email"}}</label>
						<input type="email" name="email" value="">
						<i class="im im-icon-Mail"></i>
					</div>
				</div>
						<div class="col-md-6">
					<div class="input-with-icon medium-icons ">
						<label>{{i18n "phone"}}</label>
						<input type="number" name="phone" value="">
						<i class="im im-icon-Phone-2"></i>
					</div>
				</div>
						<div class="col-md-6">
					<div class="input-with-icon medium-icons">
						<label>{{i18n "company"}}</label>
						<input type="text" name="company" value="">
						<i class="im im-icon-Phone-2"></i>
					</div>
				</div>

				<div class="col-md-6">
					<div class="input-with-icon medium-icons">
						<label>{{i18n "website"}}</label>
						<input type="url" name="website" value="">
						<i class="im im-icon-Phone-2"></i>
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-with-icon medium-icons">
						<label>{{i18n "facebook"}}</label>
						<input type="url" name="facebook" value="">
						<i class="im im-icon-Phone-2"></i>
					</div>
				</div>
				
					<div class="col-md-6">

					<label>{{i18n "country"}}</label>

					<select data-placeholder="Select Item" name="country" class="chosen-select">
						{{>static/_countrySelect}}
						</select>
				</div>
				<div class="col-md-6">
					<label>{{i18n "my_main_activity_is"}}</label>
						<select data-placeholder="{{i18n "select"}}" name="mainActivity" class="chosen-select">
				<option label="blank"></option>	
				<option value="tour-operator">{{i18n "tour_operator"}}</option>	<!-- all-included packages, provider -->
				<option value="activities & rentals">{{i18n "activities_and_rentals"}}</option>	<!-- standup paddle, karting, car rental -->
				<option value="tour-guide">{{i18n "tour_guide"}}</option>	<!-- individual tour guide, -->
				<option value="travel-agency">{{i18n "travel_agency"}}</option>	<!-- DMC, Emisive, receptive, travel agents-->
				<option value="tourism-attraction">{{i18n "tourism_attractions"}}</option>	<!-- museums, local attractions and amusement parks -->
					</select>
				</div>
		

				
				
		
		<div class="col-md-12 margin-top-20">
			<button class="button" type="submit">Enviar</button>
		</div>
			</form>
			{{/if}}
			</div>
</div>
