<div class="container-fluid">
	<div class="row">
	<!-- Parallax -->
<div class="parallax"
	data-background="https://res.cloudinary.com/triptable/image/upload/c_scale,f_auto,q_90,w_900/v1502131153/2Q4A0121.jpg"
	data-color="#36383e"
	data-color-opacity="0.67"
	data-img-width="900"
	data-img-height="600">

	<!-- Infobox -->
	<div class="text-content white-font margin-bottom-30">
		<div class="container">

			<div class="row">
				<div class="col-lg-6 col-sm-8">
					<h1>{{i18n "list_your_tour_title"}}</h1>
					<p>{{i18n "list_your_tour_subtitle"}}</p>
				</div>
			</div>

		</div>
	</div>

	<!-- Infobox / End -->

</div>
<!-- Parallax / End -->
</div>
</div>

<div class="container margin-top-30 margin-bottom-30">
	<div class="row">
			
		<div class="col-md-4 margin-top-20 center-text">
			<i style="font-size:36px; color:#3498db;font-weight:600" class="im im-icon-Talk-Man"></i>
			<h2>{{i18n "tour_operators"}}</h2>
			<p>{{i18n "tour_operators_message"}}</p>
		</div>


		<div class="col-md-4 margin-top-20 center-text">
			<i style="font-size:36px; color:#3498db;font-weight:600" class="im im-icon-Helicopter"></i>
			<h2>{{i18n "activities_and_rentals"}}</h2>
			<p>{{i18n "activities_message"}}</p>
		</div>
		
		
		<div class="col-md-4 margin-top-20 center-text">
			<i style="font-size:36px;color:#3498db;font-weight:600" class="im im-icon-Conference"></i>
			<h2>{{i18n "tour_guides"}}</h2>
			<p>{{i18n "tour_guides_message"}}</p>
		</div>

		
		<div class="col-md-4 margin-top-20 center-text">
			<i style="font-size:36px;color:#3498db;font-weight:600" class="im im-icon-Museum"></i>
			<h2>{{i18n "tourism_attractions"}}</h2>
			<p>{{i18n "tourism_attractions_message"}}</p>
		</div>


			<div class="col-md-4 margin-top-20 center-text">
			<i style="font-size:36px;color:#3498db;font-weight:600" class="im im-icon-Phone-2"></i>
			<h2>{{i18n "lodging_and_cabins"}}</h2>
			<p>{{i18n "lodging_message"}}</p>
		</div>


	
		<div class="col-md-4 margin-top-20 center-text">
			<i style="font-size:36px;color:#3498db;font-weight:600" class="im im-icon-Phone-2"></i>
			<h2>{{i18n "ground_air_maritime_transfers"}}</h2>
			<p>{{i18n "transportation_message"}}</p>
		</div>

</div>
</div>
			</div>
</div>

<div class="container">
<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<form method="post" action="/signup " class="register">
							<input type="hidden" name="action" value="login">
							<input type="hidden" name="{{token.key}}" value="{{token.value}}">
							<input type="hidden" name="isGuide" value="true">
							<p class="form-row form-row-wide">
								<label for="username2">{{i18n "full_name"}}:
									<i class="im im-icon-Male"></i>
									<input required type="text" class="input-text" name="name" id="register_name" value="">
								</label>
							</p>
								
							<p class="form-row form-row-wide">
								<label for="email2">{{i18n "email"}}:
									<i class="im im-icon-Mail"></i>
									<input  required type="text" class="input-text" name="email" id="register_email" value="">
								</label>
							</p>

							<p class="form-row form-row-wide">
								<label for="password1">{{i18n "password"}}:
									<i class="im im-icon-Lock-2"></i>
									<input required class="input-text" type="password" name="password" id="password1">
								</label>
							</p>

							<p class="form-row form-row-wide">
								<label for="password2">{{i18n "repeat_password"}}:
									<i class="im im-icon-Lock-2"></i>
									<input required class="input-text" type="password" name="password_confirm" id="password2">
								</label>
							</p>
								<label>{{i18n "country"}}</label>

						<select data-placeholder="Select Item" name="countryCode" class="chosen-select">
							{{>static/_countrySelect}}
							</select>
							

							<input type="submit" class="button border text-center fw margin-top-10" name="register" value="{{i18n "become_partner"}}">
	
							</form>
	</div>
</div>
</div>
	