
<!DOCTYPE html>
<html lang="{{lang}}">

<head>
	<meta charset="utf-8">
	<title>Triptable Invoice</title>
	<link rel="stylesheet" href="/css/invoice.css">
</head> 

<body>

<!-- Print Button -->
<a href="javascript:window.print()" class="print-button"> {{i18n "print_invoice"}}</a>


<!-- Invoice -->
<div id="invoice">

	<!-- Header -->
	<div class="row">
		<div class="col-md-6">
			<div id="logo"><a href="/"><img src="/images/logo-gaitan.jpeg" alt=""></a></div>
		</div>

		<div class="col-md-6">	

			<p id="details">
				<strong>{{i18n "bookingId"}}:</strong> <span class="detail">#{{data.enquiry.friendlyId}}</span> <br>
				<strong>{{i18n "created_at"}}:</strong> {{data.enquiry.friendlyDate}} <br>
				<strong>{{i18n "booking_status"}}:</strong> <span id="bookingStatus"> </span>
			</p>
		</div>
	</div>


	<!-- Client & Supplier -->
	<div class="row">
		<div class="col-md-6">
			<h2 class="capitalize">{{i18n "invoice"}}</h2>,
		</div>
		<div class="col-md-6 text-center">
			<img id="img" src="{{data.qrcode}}" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 ">	
			<strong class="margin-bottom-5">Supplier</strong>
			<p>
			  Triptable, Inc<br>
				R.U.C. 155633539-2-2016 DV 22 <br>
				Sortis Business Tower, Floor 20 <br>
				Workspace Office 2030 <br>
				Panama City, Panama
			</p>
		</div>

		<div class="col-md-6">	
			<strong class="margin-bottom-5">{{i18n "customer"}}</strong>
			<p>
				{{data.enquiry.name.full}}<br>
				{{data.enquiry.email}}<br>
				{{data.enquiry.tour.name}}<br> 
        {{data.enquiry.nOfAdults}} {{i18n "adults"}} {{#if data.enquiry.nOfChildren}} | {{data.enquiry.nOfChildren}} {{i18n "children"}} {{/if}} {{#if data.enquiry.nOfInfants}}{{data.enquiry.nOfInfants}} | {{i18n "infants"}}{{/if}}<br>
				{{data.enquiry.datePretty}} <br>
			</p>
		</div>
	</div>


	<!-- Invoice -->
	<div class="row">
		<div class="col-md-12">
			<table class="margin-top-20">
				<tr>
					<th>{{i18n "description"}}</th>
					<th>{{i18n "quantity"}}</th>
					<th>{{i18n "unitary"}}</th>
					<th>{{i18n "total"}}</th>
				</tr>

				<tr>
					<td>{{data.enquiry.tour.name}} -  {{i18n "adults"}}</td> 
					<td>{{data.enquiry.nOfAdults}}</td>
					<td>${{data.enquiry.tourPrice}} USD</td>
					<td>${{data.enquiry.adultTotalPrice}} USD</td>
				</tr>
				{{#if data.enquiry.nOfChildren}}
        <tr>
					<td>{{data.enquiry.tour.name}} -  {{i18n "children"}}</td> 
					<td>{{data.enquiry.nOfChildren}}</td>
					<td>${{data.enquiry.childPrice}} USD</td>
					<td>${{data.enquiry.childrensTotalPrice}} USD</td>
				</tr>
				{{/if}}
				{{#if data.enquiry.nOfInfants}}
        <tr>
					<td>{{data.enquiry.tour.name}} -  {{i18n "infants"}}</td> 
					<td>{{data.enquiry.nOfInfants}}</td>
					<td>${{data.enquiry.infantPrice}} USD</td>
					<td>${{data.enquiry.infantsTotalPrice}} USD</td>
				</tr>
				{{/if}}
			</table>
		</div>
		
		<div class="col-md-4 col-md-offset-8">	
			<table id="totals">
				<tr>
					<th>Sub-Total:</th> 
					<th><span>$ {{data.enquiry.bookingFlatPrice}} USD</span></th>
				</tr>
				<tr>
					<th>Booking Fee:</th> 
					<th><span>$ {{data.enquiry.bookingTransactionFee}} USD</span></th>
				</tr>
				<tr>	
					<th>Total:</th> 
					<th><span>$ {{data.enquiry.bookingTotalPrice}} USD</span></th>
				</tr>
			</table>
		</div>
	</div>


	<!-- Footer -->
	<div class="row">
		<div class="col-md-12">
			<ul id="footer">
				<li><span>www.triptable.com</span></li>
				<li><a href="mailto:hello@triptable.com">hello@triptable.com</a></li>
				<li>(+507) 833-6195</li>
			</ul>
		</div>
	</div>
		
</div>
<script type="text/javascript">
              var status = "{{data.enquiry.bookingStatus}}";
							var elem = document.getElementById("bookingStatus");

              console.log(elem);
              console.log(status);
              if (status == 0) {
            //    spanElem.append("{{i18n 'booking_pending'}}");
								elem.append("{{i18n 'booking_pending'}}");
              }
              if (status == 1) {
                elem.append("{{i18n 'booking_confirm'}}");
              }
              if (status == 2) {
                elem.append("{{i18n 'booking_declined'}}");

              }
            </script>
</body>
</html>