<!-- Slider Partial %- partial(">single/_slider") %> -->
<div class="clearfix"></div>
<div class="container tour-header">
	<div class="row">
		<!-- Contact Details -->
		{{#if data.tour.images}}
		<div class="col-md-6 listing-slider mfp-gallery-container">
			{{#each data.tour.images}}
			<a href="https://res.cloudinary.com/triptable/image/upload/c_fill,h_800,g_center/{{public_id}}.{{format}}" data-background-image="https://res.cloudinary.com/triptable/image/upload/c_fill,h_450,g_center/{{public_id}}.{{format}}" class="item mfp-gallery"></a>
			{{/each}}
			</div>
			{{else}} 
			<div class="col-md-6 text-center">
			<img alt="{{#if_eq lang "en"}} {{#if data.tour.name_eng}} {{data.tour.name_eng}} {{else}} {{data.tour.name}} {{/if}} {{else}} {{data.tour.name}} {{/if_eq}}" async src="https://res.cloudinary.com/triptable/image/upload/c_fill,h_375,g_center/{{data.tour.heroImage.public_id}}.{{data.tour.heroImage.format}}"/>
			</div>
			{{/if}}
		<!-- Contact Form -->
		<div class="col-md-6 tour-summary">
			<section id="contact tour-summary">
				<h1 class="headline margin-bottom-0 tour-summary-name">{{#if_eq lang "en"}} {{#if data.tour.name_eng}} {{data.tour.name_eng}} {{else}} {{data.tour.name}} {{/if}} {{else}} {{data.tour.name}} {{/if_eq}}</h1>
				<p class="margin-bottom-10"> <i class="fa fa-map-marker"></i><a target="_blank" href="/destino/{{data.tour.city.slug}}"> {{data.tour.city.city}}, {{data.tour.country.country}} </a> · <i class="fa fa-users"></i> {{data.tour.minPerson}} - {{data.tour.maxPerson}} {{i18n "people"}} · <i class="fa fa-clock-o"></i> {{data.tour.duration}} {{#if data.tour.isMultiDay}} {{i18n "days"}} {{else}} {{i18n "hours"}} {{/if}} · 	{{#if_eq data.tour.tourType "group tour"}} <i class="im im-icon-MaleFemale"></i> {{i18n "group_tour"}}{{/if_eq}}
					{{#if_eq data.tour.tourType "private tour"}} <i class="im im-icon-Male"></i>{{i18n "private_tour"}}{{/if_eq}} 

				<div class="tour-summary-price">
				{{#if data.tour.multiPrice}}<span>{{i18n "from"}}:</span>{{/if}}
				<h4 class="headline">{{getPriceInCurrency data.tour.price data.tour.currency}} {{data.tour.currency}} {{i18n "per_person"}}</h4>
				</div>

				<div class="buttons"><a href="#listing-pricing-list" class="button primary"> <i class="sl sl-icon-fire"></i> {{i18n "book_now"}} </a>	
				<a href="mailto:hello@triptable.com?subject=Pregunta del tour: {{data.tour.name}} - Precio: {{getCurrency}} {{data.tour.price}} - Url: https://www.triptable.com/tour/{{data.tour.slug}}" class="button medium border"><i class="sl sl-icon-envelope-open"></i> {{i18n "send_message"}}</a></div>
  
		
				<div class="sharing-buttons no-border">
				
					<span>{{i18n "share"}}: </span>
					<!-- Share Buttons -->
					<ul class="share-buttons">
						<li><a class="fb-share" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{meta.url}}"><i class="fa fa-facebook"></i></a></li>
						<li><a class="twitter-share" target="_blank" href="https://twitter.com/intent/tweet?url={{meta.url}}&text={{#if_eq lang "en"}} {{data.tour.name_eng}} {{else}} {{data.tour.name}} {{/if_eq}}&via=triptable_es
"><i class="fa fa-twitter"></i></a></li>
						<li><a class="gplus-share" target="_blank" href="https://plus.google.com/share?url={{meta.url}}&text={{#if_eq lang "en"}} {{data.tour.name_eng}} {{else}} {{data.tour.name}} {{/if_eq}}&hl={{lang}}"><i class="fa fa-google-plus"></i></a></li>
						<li><a class="linkedin-share" target="_blank" href="https://www.linkedin.com/shareArticle?mini=true&url={{meta.url}}&title={{#if_eq lang "en"}} {{data.tour.name_eng}} {{else}} {{data.tour.name}} {{/if_eq}}&summary={{#if_eq lang "en"}} {{data.tour.description_eng.short}} {{else}} {{data.tour.description.short}} {{/if_eq}}"><i class="fa fa-linkedin"></i></a></li>
						<li>
							<a class="wa-share" href="https://api.whatsapp.com/send?text={{#if_eq lang "en"}}{{data.tour.name_eng}}{{else}} {{data.tour.name}} {{/if_eq}} - {{meta.url}}"> 	<i class="fa fa-whatsapp"></i></a>
						</li>
						<!-- <li><a class="pinterest-share" href="#"><i class="fa fa-pinterest-p"></i> Pin</a></li> -->
					</ul>
					<div class="clearfix"></div>
			</div>
						
			</section>
		</div>
		<!-- Contact Form / End -->

	</div>

</div>


<div class="container">
	<div class="row sticky-wrapper">
		<div class="col-md-8 padding-right-30">
		<div class="notification success hidden-md hidden-lg">
				<p> <i class="fa fa-whatsapp"></i> WhatsApp: <a style="text-decoration:underline;" href="https://api.whatsapp.com/send?phone={{getPhoneNumberNoSpace}}&text=Tour: {{data.tour.name}} - Precio / Price: {{getCurrency}} {{data.tour.price}} - Url https://www.triptable.com/tour/{{data.tour.slug}}">{{getPhoneNumberPretty}} </a> </p>
				<a class="close"></a>
			</div>
		<!--<div class="row margin-top-15 margin-bottom-15 information-icons">
			<div class="col-md-3 col-xs-4 text-center">
					<i class="im im-icon-Ticket"></i>
					<p style="">{{data.tour.minPerson}} - {{data.tour.maxPerson}} {{i18n "people"}}</p>
				</div>
			{{#if data.tour.tourType}}
				{{/if}}
				{{#if data.tour.mobileVoucherAccepted}}
					<div class="col-md-3 col-xs-4  text-center">
					<i class="im im-icon-Hand-TouchSmartphone"></i>
					<p>{{i18n "mobile_voucher_av"}}</p>
				</div>
				{{/if}}
				{{#if data.tour.instantConfirmation}}
				<div class="col-md-3 col-xs-4  text-center">
					<i class="im im-icon-Flash"></i>
					<p>{{i18n "instant_confirmation"}}</p>
				</div>
				{{/if}}
				{{#if data.tour.tourType}}
				<div class="col-md-3 col-xs-4  text-center">
					{{#if_eq data.tour.tourType "group tour"}} <i class="im im-icon-MaleFemale"></i> <p>{{i18n "group_tour"}}</p>{{/if_eq}}
					{{#if_eq data.tour.tourType "private tour"}} <i class="im im-icon-Male"></i> <p>{{i18n "private_tour"}}{{/if_eq}} </p>
				</div>
				{{/if}}
				<div class="col-md-3 col-xs-4  text-center">
					<i class="im im-icon-Clock-Forward"></i>
					<p>{{data.tour.duration}} {{#if data.tour.isMultiDay}} {{i18n "days"}} {{else}} {{i18n "hours"}} {{/if}}</p>
				</div>
				{{#if data.tour.sharedCabin}}
					<div class="col-md-3 col-xs-4  text-center">
					<i class="fa fa-bed"></i>
					<p>{{i18n "shared_accomodation_included"}}</p>
				</div>
				{{/if}}
				{{#if data.tour.privateCabin}}
					<div class="col-md-3 col-xs-4  text-center">
					<i class="fa fa-bed"></i>
					<p>{{i18n "private_accomodation_included"}}</p>
				</div>
				{{/if}}
			</div> -->
			<!-- Listing Nav -->
			<div id="listing-nav" class="listing-nav-container margin-top-30">
				<ul class="listing-nav" id="tour-section-nav">
					<li><a href="#listing-overview"><i class="im im-icon-Information"></i> {{i18n "tour_description_title"}}</a></li>
					<li><a href="#listing-pricing-list"><i class="im im-icon-Money-2"></i> {{i18n "pricing"}}</a></li>
					<li><a href="#listing-includes"><i class="im im-icon-Add"></i> {{i18n "Inclusive_of"}}</a></li>
					<li><a href="#listing-location"><i class="im im-icon-Location-2"></i> {{i18n "location"}}</a></li>
					<li><a href="#listing-reviews"><i class="im im-icon-Pen-4"></i> {{i18n "reviews"}}</a></li>
					<!--<li><a href="#add-review">Add Review</a></li>-->
				</ul>
			</div>

			{{#if data.tour.videoId}}
			<div class="listing-overview video margin-top-30 margin-bottom-30">
				<iframe src="https://www.youtube.com/embed/{{data.tour.videoId}}" frameborder="0" allowfullscreen></iframe> 
			</div>
			{{/if}}
			<!-- Overview -->
			<div id="listing-overview" class="listing-section">
				<!-- Amenities -->
				<ul class="listing-features checkboxes margin-top-5 margin-bottom-30">
					 {{#if data.tour.hotelPickup}}
					 <li>{{i18n "hotel_pickup"}}</li>
					 {{/if}}
					 {{#if data.tour.transportation}}
					 <li>{{i18n "ground_transportation"}}</li>
					 {{/if}}
					 {{#if data.tour.food}}
					 <li>{{i18n "food"}}</li>
					 {{/if}}
					 {{#if data.tour.drinks}}
					 <li>{{i18n "drinks"}}</li>
					 {{/if}}
					 {{#if data.tour.insurance}}
					 <li>{{i18n "insurance"}}</li>
					 {{/if}}
					 {{#if data.tour.taxes}}
					 <li>{{i18n "taxes"}}</li>
					 {{/if}}
					 {{#if data.tour.tickets}}
					 <li>{{i18n "tickets"}}</li>
					 {{/if}}
					 {{#if data.tour.maritimeTransportation}}
					 <li>{{i18n "maritime_transportation"}}</li>
					 {{/if}}
					 {{#if data.tour.snacks}}
					 <li>{{i18n "snacks"}}</li>
					 {{/if}}
					 {{#if data.tour.tourGuide}}
					 <li>{{i18n "tour_guide"}}</li>
					 {{/if}}
					 {{#if data.tour.privateCabin}}
					 <li>{{i18n "private_lodging"}}</li>
					 {{/if}}
					 {{#if data.tour.sharedCabin}}
					 <li>{{i18n "shared_lodging"}}</li>
					 {{/if}}
				</ul>
				<!-- Description -->
				{{#if_eq lang "en" }}
					{{#if data.tour.description_eng}}
				<div class="show-more">
						{{{data.tour.description_eng.extended}}}
						</div>
							<a href="#" class="show-more-button" data-more-title="{{i18n "show_more"}}" data-less-title="{{i18n "show_less"}}"><i class="fa fa-angle-down"></i></a>
					{{else}}	
					<div class="show-more">
						{{{data.tour.description.extended}}}
						
						</div>
						<a href="#" class="show-more-button" data-more-title="{{i18n "show_more"}}" data-less-title="{{i18n "show_less"}}"><i class="fa fa-angle-down"></i></a>
					{{/if}}	
				{{else}}
				<div class="show-more">
					{{{data.tour.description.extended}}}
					
					</div>
						<a href="#" class="show-more-button" data-more-title="{{i18n "show_more"}}" data-less-title="{{i18n "show_less"}}"><i class="fa fa-angle-down"></i></a>
				{{/if_eq}}
			</div>
			<form id="preBookForm" action="/booking/{{data.tour.tourId}}" method="get">
			<!-- Food Menu -->
			<div id="listing-pricing-list" class="listing-section margin-top-30">
		<!--		<h3 class="listing-desc-headline margin-top-15 margin-bottom-30">Pricing</h3>-->

					<div class="pricing-list-container">
						
						<!-- Food List -->
						<h4>{{i18n "pricing_list"}}</h4>
						<ul>

							{{#if data.tour.multiPrice}}
							<li>
									{{#each data.tour.multiPriceObj}}
								<h5>{{i18n "number_of"}} {{i18n "adults"}}: {{this.from}} - {{this.to}}</h5>
				
								<p><strong>{{getPriceInCurrency this.price ../data.tour.currency}} {{../data.tour.currency}}</strong> {{i18n "per_adult"}} </p>
								{{/each}}
								<span><select data-placeholder="#" name="nOfAdults" class="">	
									{{#for data.tour.minPerson data.tour.maxPerson 1}}
									<option>{{this}}</option>
									{{/for}}		
								</select
							></span>
							</li>

							
			
						{{/if}}
						{{#unless data.tour.multiPrice}}
							<li>
								<h5>{{i18n "adults"}} ({{i18n "age"}}: {{data.tour.adultMinAge}}+)</h5>
								<p><strong>{{getPriceInCurrency data.tour.price data.tour.currency}} {{data.tour.currency}}</strong> {{i18n "per_person"}} </p>
								<span><select data-placeholder="#" name="nOfAdults" class="">
									{{#for data.tour.minPerson data.tour.maxPerson 1}}
									<option>{{this}}</option>
									{{/for}}	
								</select
							></span>
							</li>
							{{/unless}}
							{{#if data.tour.disableChild}}
							<li>
								<h5 class="price-disabled">{{i18n "children"}}</h5>
								<p>
									<strong>{{i18n "chiild_price_disabled_message"}}</strong>
								</p>
							</li>
							{{else}}
							<li>
								<h5>{{i18n "children"}} ({{i18n "ages"}}: {{data.tour.child.minAge}}-{{data.tour.child.maxAge}})</h5>
								<p>
									<strong>{{getPriceInCurrency data.tour.childPrice data.tour.currency}} {{data.tour.currency}}</strong> {{i18n "per_child"}}</p>
								<span>
									<select data-placeholder="#" name="nOfChildren" class="">
										{{#for 0 data.tour.maxPerson 1}}
										<option>{{this}}</option>
										{{/for}}
									</select>
								</span>
							</li>
							 {{/if}}
							 {{#if data.tour.disableInfant}}
								<li>
									<h5 class="price-disabled">{{i18n "infants"}}</h5>
									<p>
										<strong>{{i18n "infant_price_disabled_message"}}</strong>
									</p>
								</li>
								{{else}}
								<li>
									<h5>{{i18n "infants"}} ({{i18n "ages"}}: {{data.tour.infant.minAge}}-{{data.tour.infant.maxAge}}) </h5>
									<p>
										<strong>{{getPriceInCurrency data.tour.infantPrice data.tour.currency}} {{data.tour.currency}}</strong> {{i18n "per_infant"}}</p>
									<span>
										<select data-placeholder="#" name="nOfInfants" class="">
											{{#for 0 data.tour.maxPerson 1}}
											<option>{{this}}</option>
											{{/for}}
										</select>
								
									</span>
								</li>
							{{/if}}
						</ul>

						<!-- Food List -->
					<!--	<h4>Niños</h4>
						<h4>Infantes</h4> -->
					</div>
			</div>
			<!-- Food Menu / End -->
			<div class="listing-overview">
						<div class="col-lg-6 col-md-12">
						<!--<i class="im im-icon-Calendar-4"></i> 
						<span>Fecha: </span> -->
						<div class="wc-bookings-date-picker" id="datepicker">
						<input type="hidden" id="hiddenDate" name="date" value="">
						<input type="hidden" name="tourId" value="{{data.tour.tourId}}">
						</div>
					</div>
							<div class="col-lg-6 col-md-12">

						<h4> <i class="im im-icon-Clock-Forward "></i> {{i18n "schedule"}}: </h4>
						<select data-placeholder="{{i18n "schedule"}}" id="bookingTime" name="bookingTime" class="chosen-select" >
							{{#if data.tour.schedule}}
							{{#each data.tour.schedule}}
								<option> {{this}}</option>	
							{{/each}}
							{{else}}
								<option>{{i18n "custom"}}</option>	
							{{/if}}	
						</select>
					</div> 
					<div class="center-text">
							<button type="submit" id="bookingBtn" style="width:100%;font-size:18px;border-radius:0px;" class="button margin-top-15">	<i class="sl sl-icon-check"></i> Book Now</button>
						</div>
		
			</div>
			
			</form>
			{{#if data.tour.hasFixedSchedule}}
			<div class="listing-overview margin-top-30 margin-bottom-30"> <!-- Schedule description --> 
			<h3>{{i18n "activity_schedule"}}</h3>
			<div>
				{{#if_eq lang "en" }}
					<ul>
					{{#each data.tour.scheduleDescription.en}}
						<li>{{this}}</li>
						{{/each}}
					</ul>
				{{else}}
					<ul>
					{{#each data.tour.scheduleDescription.es}}
						<li>{{this}}</li>
						{{/each}}
					</ul>
				{{/if_eq}}	
			</div>
			</div>
			{{/if}}


			{{#if data.tour.includesDescription.es}}
			<div id="listing-includes" class="listing-overview margin-top-30 margin-bottom-30 tour-section-includes"> <!-- Schedule description --> 
			<h3>{{i18n "includes"}}</h3>
			<div>
				{{#if_eq lang "en" }}
					<ul>
					{{#each data.tour.includesDescription.en}}
						<li><i class="fa fa-check"></i> {{this}}</li>
						{{/each}}
					</ul>
				{{else}}
					<ul>
					{{#each data.tour.includesDescription.es}}
						<li><i class="fa fa-check"></i> {{this}}</li>
						{{/each}}
					</ul>
				{{/if_eq}}	
			</div>
			</div>
			{{/if}}

			{{#if data.tour.excludesDescription.es}}
			<div class="listing-overview tour-excludes-section margin-top-30 margin-bottom-30 tour-section-excludes"> <!-- Schedule description --> 
			<h3>{{i18n "excludes"}}</h3>
			<div>
				{{#if_eq lang "en" }}
					<ul>
					{{#each data.tour.excludesDescription.en}}
						<li><i class="fa fa-ban"></i> {{this}}</li>
						{{/each}}
					</ul>
				{{else}}
					<ul>
					{{#each data.tour.excludesDescription.es}}
						<li><i class="fa fa-ban"></i> {{this}}</li>
						{{/each}}
					</ul>
				{{/if_eq}}	
			</div>
			</div>
			{{/if}}

			{{#if data.tour.foodDescription.es}}
			<div class="listing-overview margin-top-30 margin-bottom-30"> <!-- Schedule description --> 
				<h3>{{i18n "food"}}</h3>
				<div>
					{{#if_eq lang "en" }}
							<div>{{{data.tour.foodDescription.en}}}</div>
						</ul>
					{{else}}
						<div>{{{data.tour.foodDescription.es}}}</div>
					{{/if_eq}}	
				</div>
			</div>
			{{/if}}


			{{#if data.tour.instructions.es}}
			<div class="listing-overview margin-top-30 margin-bottom-30"> <!-- Schedule description --> 
				<h3>{{i18n "usage_instruction"}}</h3>
				<div>
					{{#if_eq lang "en" }}
							<div>{{{data.tour.instructions.en}}}</div>
						</ul>
					{{else}}
						<div>{{{data.tour.instructions.es}}}</div>
					{{/if_eq}}	
				</div>
			</div>
			{{/if}}

			
			{{#if data.tour.cancelationPolicy.es}}
			<div class="listing-overview margin-top-30 margin-bottom-30"> <!-- Schedule description --> 
				<h3>{{i18n "cancelation_policy"}}</h3>
				<div>
					{{#if_eq lang "en" }}
							<div>{{{data.tour.cancelationPolicy.en}}}</div>
						</ul>
					{{else}}
						<div>{{{data.tour.cancelationPolicy.es}}}</div>
					{{/if_eq}}	
				</div>
			</div>
			{{/if}}

			{{#if data.tour.importantInfo.es}}
			<div class="listing-overview margin-top-30 margin-bottom-30"> <!-- Schedule description --> 
				<h3>{{i18n "important_information"}}</h3>
				<div>
					{{#if_eq lang "en" }}
							<div>{{{data.tour.importantInfo.en}}}</div>
						</ul>
					{{else}}
						<div>{{{data.tour.importantInfo.es}}}</div>
					{{/if_eq}}	
				</div>
			</div>
			{{/if}}

			<div id="listing-location" class="listing-section">
				<h3 class="listing-desc-headline margin-top-30 margin-top-3>0 margin-bottom-10">{{i18n "departure_point"}}</h3>
				<p>{{data.tour.startingPoint}}</p>
				<div id="singleListingMap-container">
					{{#if data.tour.latitude}}
					<div id="singleListingMap" data-latitude="{{data.tour.latitude}}" data-longitude="{{data.tour.longitude}}" data-map-icon="im im-icon-Geo2"></div>
					{{else}}
					<div id="singleListingMap" data-latitude="{{data.tour.city.latitude}}" data-longitude="{{data.tour.city.longitude}}" data-map-icon="im im-icon-Geo2"></div>
					{{/if}}
					
				</div>
			</div> 
				
			{{>single/_reviews}}

			<!-- AddReview Partial %- partial("partials/single/_addReview") %> -->
		</div>

		<!-- Sidebar Partial %- partial("partials/single/_sidebar") %> -->
		{{>single/_sidebar}}
		
	</div>

</div>
<script src=""></script>
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(event) {
  	$.ajax({
	  url: "https://cdnjs.cloudflare.com/ajax/libs/fitvids/1.2.0/jquery.fitvids.min.js",
	  dataType: "script"
	}).done(function() {
  		$(".video").fitVids();
	});

	// Measure a view of product details. This example assumes the detail view occurs on pageload,
	// and also tracks a standard pageview of the details page.

	dataLayer.push({
		'event': 'productDetail',
	  'ecommerce': {
	    'detail': {
	  //    'actionField': {'list': 'Apparel Gallery'},    // 'detail' actions have an optional list property.
	      'products': [{
	        'name': "{{data.tour.name}}",         // Name or ID is required.
	        'id': "{{data.tour.tourId}}",
	        'price': {{data.tour.price}},
	        'brand': "{{data.tour.categories.[0].name}}",
	        'category': "{{data.tour.city.city}}"
	       }]
	     }
	   }
	});

  //do work    
});
  </script>