<!-- Slider Partial %- partial("partials/single/_slider") %> -->
{{>single/_slider}}
<div class="container">
	<div class="row sticky-wrapper">
		<div class="col-md-8 padding-right-30">

			<!-- Titlebar -->
			<div id="titlebar" class="listing-titlebar">
				<div class="listing-titlebar-title">
					<h2>{{#if_eq lang "en"}} {{data.tour.name_eng}} {{else}} {{data.tour.name}} {{/if_eq}}</h2>
					<span>
						<a href="#listing-location" class="listing-address">
							<i class="fa fa-map-marker"></i>
							<a target="_blank" href="/destino/{{data.tour.city.slug}}">{{i18n "tours_in"}} {{data.tour.city.city}}, {{data.tour.country.country}} </a>
						</a>
					</span>
					{{#if data.tour.nOfReviews }} 
					<div class="star-rating" data-rating="{{data.tour.nOfStars}}"> 
						<div class="rating-counter"><a href="#listing-reviews">{{data.tour.nOfReviews}} {{i18n "reviews"}}</a></div>
					</div>
					{{/if}}
				</div>
			</div>
		<div class="notification success hidden-sm hidden-md hidden-lg">
				<p> <i class="fa fa-whatsapp"></i> Whatsapp: <a style="text-decoration:underline;" href="https://api.whatsapp.com/send?phone=50768532466&text=Pregunta del tour: {{data.tour.name}} - Precio: {{getCurrency}} {{data.tour.price}} - Url: https://www.triptable.com/tour/{{data.tour.slug}}">+507 6853-2466 </a> </p>
				<a class="close"></a>
			</div>
		<div class="row margin-top-15 margin-bottom-15 information-icons">
			<div class="col-md-3 col-xs-4 text-center">
					<i class="im im-icon-Ticket"></i>
					<p style="">{{data.tour.minPerson}} - {{data.tour.maxPerson}} {{i18n "people"}}</p>
				</div>
			{{#if data.tour.tourType}}
				{{/if}}
				{{#if data.tour.mobileVoucherAccepted}}
					<div class="col-md-3 col-xs-4  text-center">
					<i class="im im-icon-Hand-TouchSmartphone"></i>
					<p>{{i18n "mobile_voucher_av"}}</p>
				</div>
				{{/if}}
				{{#if data.tour.instantConfirmation}}
				<div class="col-md-3 col-xs-4  text-center">
					<i class="im im-icon-Flash"></i>
					<p>{{i18n "instant_confirmation"}}</p>
				</div>
				{{/if}}
				{{#if data.tour.tourType}}
				<div class="col-md-3 col-xs-4  text-center">
					{{#if_eq data.tour.tourType "group tour"}} <i class="im im-icon-MaleFemale"></i> <p>{{i18n "group_tour"}}</p>{{/if_eq}}
					{{#if_eq data.tour.tourType "private tour"}} <i class="im im-icon-Male"></i> <p>{{i18n "private_tour"}}{{/if_eq}} </p>
				</div>
				{{/if}}
				<div class="col-md-3 col-xs-4  text-center">
					<i class="im im-icon-Clock-Forward"></i>
					<p>{{data.tour.duration}} {{#if data.tour.isMultiDay}} {{i18n "days"}} {{else}} {{i18n "hours"}} {{/if}}</p>
				</div>
				{{#if data.tour.sharedCabin}}
					<div class="col-md-3 col-xs-4  text-center">
					<i class="fa fa-bed"></i>
					<p>{{i18n "shared_accomodation_included"}}</p>
				</div>
				{{/if}}
				{{#if data.tour.privateCabin}}
					<div class="col-md-3 col-xs-4  text-center">
					<i class="fa fa-bed"></i>
					<p>{{i18n "private_accomodation_included"}}</p>
				</div>
				{{/if}}
			</div>
			<!-- Listing Nav -->
			<div id="listing-nav" class="listing-nav-container">
				<ul class="listing-nav" id="tour-section-nav">
					<li><a href="#listing-overview"><i class="im im-icon-Information"></i> {{i18n "tour_description_title"}}</a></li>
					<li><a href="#listing-pricing-list"><i class="im im-icon-Money-2"></i> {{i18n "pricing"}}</a></li>
					<li><a href="#listing-includes"><i class="im im-icon-Add"></i> {{i18n "Inclusive_of"}}</a></li>
					<li><a href="#listing-location"><i class="im im-icon-Location-2"></i> {{i18n "location"}}</a></li>
					<li><a href="#listing-reviews"><i class="im im-icon-Pen-4"></i> {{i18n "reviews"}}</a></li>
					<!--<li><a href="#add-review">Add Review</a></li>-->
				</ul>
			</div>

			{{#if data.tour.videoId}}
			<div class="listing-overview video margin-top-30 margin-bottom-30">
				<iframe src="https://www.youtube.com/embed/{{data.tour.videoId}}" frameborder="0" allowfullscreen></iframe> 
			</div>
			{{/if}}
			<!-- Overview -->
			<div id="listing-overview" class="listing-section">
				<!-- Amenities -->
				<ul class="listing-features checkboxes margin-top-5 margin-bottom-30">
					 {{#if data.tour.hotelPickup}}
					 <li>{{i18n "hotel_pickup"}}</li>
					 {{/if}}
					 {{#if data.tour.transportation}}
					 <li>{{i18n "ground_transportation"}}</li>
					 {{/if}}
					 {{#if data.tour.food}}
					 <li>{{i18n "food"}}</li>
					 {{/if}}
					 {{#if data.tour.drinks}}
					 <li>{{i18n "drinks"}}</li>
					 {{/if}}
					 {{#if data.tour.insurance}}
					 <li>{{i18n "insurance"}}</li>
					 {{/if}}
					 {{#if data.tour.taxes}}
					 <li>{{i18n "taxes"}}</li>
					 {{/if}}
					 {{#if data.tour.tickets}}
					 <li>{{i18n "tickets"}}</li>
					 {{/if}}
					 {{#if data.tour.maritimeTransportation}}
					 <li>{{i18n "maritime_transportation"}}</li>
					 {{/if}}
					 {{#if data.tour.snacks}}
					 <li>{{i18n "snacks"}}</li>
					 {{/if}}
					 {{#if data.tour.tourGuide}}
					 <li>{{i18n "tour_guide"}}</li>
					 {{/if}}
					 {{#if data.tour.privateCabin}}
					 <li>{{i18n "private_lodging"}}</li>
					 {{/if}}
					 {{#if data.tour.sharedCabin}}
					 <li>{{i18n "shared_lodging"}}</li>
					 {{/if}}
				</ul>
				<!-- Description -->
				{{#if_eq lang "en" }}
					{{#if data.tour.description_eng}}
				<div class="show-more">
						{{{data.tour.description_eng.extended}}}
						</div>
							<a href="#" class="show-more-button" data-more-title="{{i18n "show_more"}}" data-less-title="{{i18n "show_less"}}"><i class="fa fa-angle-down"></i></a>
					{{else}}	
					<div class="show-more">
						{{{data.tour.description.extended}}}
						
						</div>
						<a href="#" class="show-more-button" data-more-title="{{i18n "show_more"}}" data-less-title="{{i18n "show_less"}}"><i class="fa fa-angle-down"></i></a>
					{{/if}}	
				{{else}}
				<div class="show-more">
					{{{data.tour.description.extended}}}
					
					</div>
						<a href="#" class="show-more-button" data-more-title="{{i18n "show_more"}}" data-less-title="{{i18n "show_less"}}"><i class="fa fa-angle-down"></i></a>
				{{/if_eq}}
			</div>
			<form id="preBookForm" action="/booking/{{data.tour.tourId}}" method="get">
			<!-- Food Menu -->
			<div id="listing-pricing-list" class="listing-section margin-top-30">
		<!--		<h3 class="listing-desc-headline margin-top-15 margin-bottom-30">Pricing</h3>-->

					<div class="pricing-list-container">
						
						<!-- Food List -->
						<h4>{{i18n "pricing_list"}}</h4>
						<ul>

							{{#if data.tour.multiPrice}}
							<li>
									{{#each data.tour.multiPriceObj}}
								<h5>{{i18n "number_of"}} {{i18n "adults"}}: {{this.from}} - {{this.to}}</h5>
				
								<p><strong>{{getPriceInCurrency this.price ../data.tour.currency}} {{../data.tour.currency}}</strong> {{i18n "per_adult"}} </p>
								{{/each}}
								<span><select data-placeholder="#" name="nOfAdults" class="">	
									{{#for data.tour.minPerson data.tour.maxPerson 1}}
									<option>{{this}}</option>
									{{/for}}		
								</select
							></span>
							</li>

							
			
						{{/if}}
						{{#unless data.tour.multiPrice}}
							<li>
								<h5>{{i18n "adults"}}: (+12 {{i18n "years"}})</h5>
								<p><strong>{{getPriceInCurrency data.tour.price data.tour.currency}} {{data.tour.currency}}</strong> {{i18n "per_person"}} </p>
								<span><select data-placeholder="#" name="nOfAdults" class="">
									{{#for data.tour.minPerson data.tour.maxPerson 1}}
									<option>{{this}}</option>
									{{/for}}	
								</select
							></span>
							</li>
							{{/unless}}
							<li>
								<h5>{{i18n "children"}}: (6-11 {{i18n "years"}})</h5>
								<p><strong>{{getPriceInCurrency data.tour.childPrice data.tour.currency}} {{data.tour.currency}}</strong> {{i18n "per_child"}}</p>
								<span><select data-placeholder="#" name="nOfChildren" class="">
								{{#for 0 data.tour.maxPerson 1}}
									<option>{{this}}</option>
									{{/for}}	
								</select
							></span>
							</li>
							<li>
								<h5>{{i18n "infants"}}: (0-5 {{i18n "years"}}) </h5>
								<p><strong>{{getPriceInCurrency data.tour.infantPrice data.tour.currency}} {{data.tour.currency}}</strong> {{i18n "per_infant"}}</p>
								<span><select data-placeholder="#" name="nOfInfants" class="">
									{{#for 0 data.tour.maxPerson 1}}
									<option>{{this}}</option>
									{{/for}}	
								</select
							>
							</span>
							</li>
		
						</ul>

						<!-- Food List -->
					<!--	<h4>Niños</h4>
						<h4>Infantes</h4> -->
					</div>
			</div>
			<!-- Food Menu / End -->
			<div class="listing-overview">
						<div class="col-lg-6 col-md-12">
						<!--<i class="im im-icon-Calendar-4"></i> 
						<span>Fecha: </span> -->
						<div class="wc-bookings-date-picker" id="datepicker">
						<input type="hidden" id="hiddenDate" name="date" value="">
						<input type="hidden" name="tourId" value="{{data.tour.tourId}}">
						</div>
					</div>
							<div class="col-lg-6 col-md-12">

						<h4> <i class="im im-icon-Clock-Forward "></i> {{i18n "schedule"}}: </h4>
						<select data-placeholder="{{i18n "schedule"}}" id="bookingTime" name="bookingTime" class="chosen-select" >
							{{#if data.tour.schedule}}
							{{#each data.tour.schedule}}
								<option> {{this}}</option>	
							{{/each}}
							{{else}}
								<option>{{i18n "custom"}}</option>	
							{{/if}}	
						</select>
					</div> 
					<div class="center-text">
							<button type="submit" id="bookingBtn" style="width:100%;font-size:18px;border-radius:0px;" class="button margin-top-15">	<i class="sl sl-icon-check"></i> Book Now</button>
						</div>
		
			</div>
			
			</form>
			{{#if data.tour.hasFixedSchedule}}
			<div class="listing-overview margin-top-30 margin-bottom-30"> <!-- Schedule description --> 
			<h3>{{i18n "activity_schedule"}}</h3>
			<div>
				{{#if_eq lang "en" }}
					<ul>
					{{#each data.tour.scheduleDescription.en}}
						<li>{{this}}</li>
						{{/each}}
					</ul>
				{{else}}
					<ul>
					{{#each data.tour.scheduleDescription.es}}
						<li>{{this}}</li>
						{{/each}}
					</ul>
				{{/if_eq}}	
			</div>
			</div>
			{{/if}}


			{{#if data.tour.includesDescription.es}}
			<div id="listing-includes" class="listing-overview margin-top-30 margin-bottom-30 tour-section-includes"> <!-- Schedule description --> 
			<h3>{{i18n "includes"}}</h3>
			<div>
				{{#if_eq lang "en" }}
					<ul>
					{{#each data.tour.includesDescription.en}}
						<li><i class="fa fa-check"></i> {{this}}</li>
						{{/each}}
					</ul>
				{{else}}
					<ul>
					{{#each data.tour.includesDescription.es}}
						<li><i class="fa fa-check"></i> {{this}}</li>
						{{/each}}
					</ul>
				{{/if_eq}}	
			</div>
			</div>
			{{/if}}

			{{#if data.tour.excludesDescription.es}}
			<div class="listing-overview tour-excludes-section margin-top-30 margin-bottom-30 tour-section-excludes"> <!-- Schedule description --> 
			<h3>{{i18n "excludes"}}</h3>
			<div>
				{{#if_eq lang "en" }}
					<ul>
					{{#each data.tour.excludesDescription.en}}
						<li><i class="fa fa-ban"></i> {{this}}</li>
						{{/each}}
					</ul>
				{{else}}
					<ul>
					{{#each data.tour.excludesDescription.es}}
						<li><i class="fa fa-ban"></i> {{this}}</li>
						{{/each}}
					</ul>
				{{/if_eq}}	
			</div>
			</div>
			{{/if}}

			{{#if data.tour.foodDescription.es}}
			<div class="listing-overview margin-top-30 margin-bottom-30"> <!-- Schedule description --> 
				<h3>{{i18n "food"}}</h3>
				<div>
					{{#if_eq lang "en" }}
							<div>{{{data.tour.foodDescription.en}}}</div>
						</ul>
					{{else}}
						<div>{{{data.tour.foodDescription.es}}}</div>
					{{/if_eq}}	
				</div>
			</div>
			{{/if}}


			{{#if data.tour.instructions.es}}
			<div class="listing-overview margin-top-30 margin-bottom-30"> <!-- Schedule description --> 
				<h3>{{i18n "usage_instruction"}}</h3>
				<div>
					{{#if_eq lang "en" }}
							<div>{{{data.tour.instructions.en}}}</div>
						</ul>
					{{else}}
						<div>{{{data.tour.instructions.es}}}</div>
					{{/if_eq}}	
				</div>
			</div>
			{{/if}}

			
			{{#if data.tour.cancelationPolicy.es}}
			<div class="listing-overview margin-top-30 margin-bottom-30"> <!-- Schedule description --> 
				<h3>{{i18n "cancelation_policy"}}</h3>
				<div>
					{{#if_eq lang "en" }}
							<div>{{{data.tour.cancelationPolicy.en}}}</div>
						</ul>
					{{else}}
						<div>{{{data.tour.cancelationPolicy.es}}}</div>
					{{/if_eq}}	
				</div>
			</div>
			{{/if}}

			{{#if data.tour.importantInfo.es}}
			<div class="listing-overview margin-top-30 margin-bottom-30"> <!-- Schedule description --> 
				<h3>{{i18n "important_information"}}</h3>
				<div>
					{{#if_eq lang "en" }}
							<div>{{{data.tour.importantInfo.en}}}</div>
						</ul>
					{{else}}
						<div>{{{data.tour.importantInfo.es}}}</div>
					{{/if_eq}}	
				</div>
			</div>
			{{/if}}

			<div id="listing-location" class="listing-section">
				<h3 class="listing-desc-headline margin-top-30 margin-top-3>0 margin-bottom-10">{{i18n "departure_point"}}</h3>
				<p>{{data.tour.startingPoint}}</p>
				<div id="singleListingMap-container">
					{{#if data.tour.latitude}}
					<div id="singleListingMap" data-latitude="{{data.tour.latitude}}" data-longitude="{{data.tour.longitude}}" data-map-icon="im im-icon-Geo2"></div>
					{{else}}
					<div id="singleListingMap" data-latitude="{{data.tour.city.latitude}}" data-longitude="{{data.tour.city.longitude}}" data-map-icon="im im-icon-Geo2"></div>
					{{/if}}
					
				</div>
			</div> 
				
			{{>single/_reviews}}

			<!-- AddReview Partial %- partial("partials/single/_addReview") %> -->
		</div>

		<!-- Sidebar Partial %- partial("partials/single/_sidebar") %> -->
		{{>single/_sidebar}}
		
	</div>

</div>
<script src=""></script>
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(event) {
  	$.ajax({
	  url: "https://cdnjs.cloudflare.com/ajax/libs/fitvids/1.2.0/jquery.fitvids.min.js",
	  dataType: "script"
	}).done(function() {
  		$(".video").fitVids();
	});

	// Measure a view of product details. This example assumes the detail view occurs on pageload,
	// and also tracks a standard pageview of the details page.

	dataLayer.push({
		'event': 'productDetail',
	  'ecommerce': {
	    'detail': {
	  //    'actionField': {'list': 'Apparel Gallery'},    // 'detail' actions have an optional list property.
	      'products': [{
	        'name': "{{data.tour.name}}",         // Name or ID is required.
	        'id': "{{data.tour.tourId}}",
	        'price': {{data.tour.price}},
	        'brand': "{{data.tour.categories.[0].name}}",
	        'category': "{{data.tour.city.city}}"
	       }]
	     }
	   }
	});

  //do work    
});
  </script>

