			<section class="overflow-hidden why-us-half-image-wrapper hidden-xs">

				<div class="GridLex-grid-noGutter-equalHeight">

					<div class="GridLex-col-6_sm-12">

						<div class="why-us-half-image-content">

							<div class="section-title text-left">

								<h3>{{i18n "list_tour"}}</h3>
								<p>{{i18n "list_tour_description"}}</p>

							</div>

							<div class="featured-item">

								<h4>{{i18n "list_tour_featured"}}</h4>

								<div class="content clearfix">

									<div class="icon">
										<i class="pe-7s-clock"></i>
									</div>

									<p>{{i18n "list_tour_featured_desc"}}.</p>

								</div>
							</div>

							<div class="featured-item">

								<h4>{{i18n "home_bookingWithUs_1"}}</h4>

								<div class="content clearfix">

									<div class="icon">
										<i class="pe-7s-credit"></i>
									</div>

									<p>{{i18n "home_bookingWithUs_1_1"}}.</p>

								</div>
							</div>


							<div class="featured-item">

								<h4>{{i18n "home_bookingWithUs_2"}}</h4>
								
								<div class="content clearfix">

									<div class="icon">
										<i class="pe-7s-rocket"></i>
									</div>

									<p>{{i18n "home_bookingWithUs_2_1"}}.</p>
									

								</div>
							</div>
								<div class="text-center pt-10">
                        	<a href="/partners" class="btn btn-primary">{{i18n "apply_now"}}</a>
                      	</div>
						</div>

					</div>

					<div class="GridLex-col-6_sm-12 image-bg hidden-sm">
						<div class="image-bg" style="background-image:url('https://res.cloudinary.com/triptable/image/upload/c_fill,h_577,w_952/v1481794130/hmw698crnhe-clem-onojeghuo_ehnjlj.jpg');"></div>
					</div>

				</div>

			</section>