				<div class="container-fluid featured-tours">
					<div class="row">
						 <div class="col-md-12" style="padding-bottom:15px">
              <h1 class="text-center">Destinos Populares</h1>
             <!-- <h5 class="subtitle text-center" style="margin-top:0px;"> Estos destinos marcan tendencias en nuestros usuarios</h3>-->
            </div>
	</div>
					<div class="grid destination-grid-wrapper">
					{{#each data.cities}}
						<div id="post" class="grid-item" id="grid-item" data-colspan="5" data-rowspan="5">
							<a href="/destino/{{slug}}" class="top-destination-image-bg" style="background-image:url(https://res.cloudinary.com/triptable/image/upload/c_fill,h_450,w_450/v{{image.version}}/{{image.public_id}}.{{image.format}});">
								<div class="relative">
									<h4 class="featured-province">Tours en {{city}}</h4>
									<!--<span>Starting from $322</span> -->
								</div>
							</a>
						</div>

					{{/each}}
					</div>
				</div>