			<section class="">

				<div class="container">

					<div class="row">

						<div class="col-sm-8 col-md-6  col-sm-offset-2 col-md-offset-3">

							<div class="section-title">

								<h3>Explora nuestros destinos</h3>

							</div>

						</div>

					</div>
             <script type="text/javascript">
             var status = parseInt(0);

            </script>
					<div class="grid destination-grid-wrapper">
					{{#each data.provinces}}
						<div id="post{{@index}}" class="grid-item" id="grid-item" data-colspan="20" data-rowspan="8">
							<a href="/panama/{{slug}}" class="top-destination-image-bg" style="background-image:url(https://res.cloudinary.com/triptable/image/upload/c_fill,h_300,w_300,q_auto/v{{image.version}}/{{image.public_id}}.{{image.format}});">
								<div class="relative">
									<h4 class="featured-province">{{province}}</h4>
									<!--<span>Starting from $322</span> -->
								</div>
							</a>
						</div>
            <script type="text/javascript">

            console.log("status", status)
            if (status == 0){
              var postId = $.find('#post{{@index}}');
              $(postId).attr('data-colspan', 5);
              $(postId).attr('data-rowspan', 5);
            }
            if (status == 1){
              var postId = $.find('#post{{@index}}');
              $(postId).attr('data-colspan', 5);
              $(postId).attr('data-rowspan', 5);
            }
            if (status == 2){
              var postId = $.find('#post{{@index}}');
              $(postId).attr('data-colspan', 5);
              $(postId).attr('data-rowspan', 5);
            }
            if (status == 3){
              var postId = $.find('#post{{@index}}');
              $(postId).attr('data-colspan', 5);
              $(postId).attr('data-rowspan', 5);
            }
            status++;
            if (status >= 4){
              status = 0;
            }
            </script>

					{{/each}}


					</div>

				</div>

			</section>