<section class="bg-light">
      
        <div class="container">
        
          <div class="row">
            
            <div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
              
              <div class="section-title">
              
                <h3>Tours Especiales</h3>
                <p>Of distrusts immediate enjoyment curiosity do. Marianne numerous saw thoughts the humoured.</p>
                
              </div>
              
            </div>
          
          </div>
          
          <div class="GridLex-gap-30-wrappper package-grid-item-wrapper">
            
            <div class="GridLex-grid-noGutter-equalHeight">
            {{# each data.tours.results}}
              <div class="GridLex-col-4_sm-6_xs-12 mb-30">
                <div class="package-grid-item"> 
                  <a href="/tour/{{slug}}">
                    <div class="image">
                      <img src="https://res.cloudinary.com/triptable/image/upload/c_fill,h_240,w_360/v{{images.0.version}}/{{images.0.public_id}}.{{images.0.format}}" alt="Tour Package" />
                      <div class="absolute-in-image">
                        <div class="duration"><span>Destacado</span></div>
                      </div>
                    </div>
                    <div class="content clearfix">
                      <h5>{{name}}</h5>
                      <div class="rating-wrapper">
                        <div class="raty-wrapper">
                          <div class="star-rating-read-only" data-rating-score="3.5"></div> <span> / 7 review</span>
                        </div>
                      </div>
                      <div class="absolute-in-content">
                        <span class="btn"><i class="fa fa-heart-o"></i></span>
                        <div class="price">${{price}}</div>
                      </div>
                    </div>
                  </a>
                </div>  
              </div>
            {{/each}}
              <!-- <div class="GridLex-col-4_sm-6_xs-12 mb-30">
                <div class="package-grid-item"> 
                  <a href="detail-page.html">
                    <div class="image">
                      <img src="images/tour-package/02.jpg" alt="Tour Package" />
                      <div class="absolute-in-image">
                        <div class="duration"><span>4 days 3 nights</span></div>
                      </div>
                    </div>
                    <div class="content clearfix">
                      <h5>Classic Europe</h5>
                      <div class="rating-wrapper">
                        <div class="raty-wrapper">
                          <div class="star-rating-read-only" data-rating-score="3.5"></div> <span> / 7 review</span>
                        </div>
                      </div>
                      <div class="absolute-in-content">
                        <span class="btn"><i class="fa fa-heart-o"></i></span>
                        <div class="price">$1422</div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              
              <div class="GridLex-col-4_sm-6_xs-12 mb-30">
                <div class="package-grid-item"> 
                  <a href="detail-page.html">
                    <div class="image">
                      <img src="images/tour-package/03.jpg" alt="Tour Package" />
                      <div class="absolute-in-image">
                        <div class="duration"><span>4 days 3 nights</span></div>
                      </div>
                    </div>
                    <div class="content clearfix">
                      <h5>Best of Egypt</h5>
                      <div class="rating-wrapper">
                        <div class="raty-wrapper">
                          <div class="star-rating-read-only" data-rating-score="4.5"></div> <span> / 7 review</span>
                        </div>
                      </div>
                      <div class="absolute-in-content">
                        <span class="btn"><i class="fa fa-heart-o"></i></span>
                        <div class="price">$1422</div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              
              <div class="GridLex-col-4_sm-6_xs-12 mb-30">
                <div class="package-grid-item"> 
                  <a href="detail-page.html">
                    <div class="image">
                      <img src="images/tour-package/04.jpg" alt="Tour Package" />
                      <div class="absolute-in-image">
                        <div class="duration"><span>4 days 3 nights</span></div>
                      </div>
                    </div>
                    <div class="content clearfix">
                      <h5>Adriatic Coastal Explorer</h5>
                      <div class="rating-wrapper">
                        <div class="raty-wrapper">
                          <div class="star-rating-read-only" data-rating-score="5.0"></div> <span> / 7 review</span>
                        </div>
                      </div>
                      <div class="absolute-in-content">
                        <span class="btn"><i class="fa fa-heart-o"></i></span>
                        <div class="price">$1422</div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              
              <div class="GridLex-col-4_sm-6_xs-12 mb-30">
                <div class="package-grid-item"> 
                  <a href="detail-page.html">
                    <div class="image">
                      <img src="images/tour-package/05.jpg" alt="Tour Package" />
                      <div class="absolute-in-image">
                        <div class="duration"><span>4 days 3 nights</span></div>
                      </div>
                    </div>
                    <div class="content clearfix">
                      <h5>Athens, Mykonos &amp; Santorini</h5>
                      <div class="rating-wrapper">
                        <div class="raty-wrapper">
                          <div class="star-rating-read-only" data-rating-score="4.5"></div> <span> / 7 review</span>
                        </div>
                      </div>
                      <div class="absolute-in-content">
                        <span class="btn"><i class="fa fa-heart-o"></i></span>
                        <div class="price">$1422</div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              
              <div class="GridLex-col-4_sm-6_xs-12 mb-30">
                <div class="package-grid-item"> 
                  <a href="detail-page.html">
                    <div class="image">
                      <img src="images/tour-package/06.jpg" alt="Tour Package" />
                      <div class="absolute-in-image">
                        <div class="duration"><span>4 days 3 nights</span></div>
                      </div>
                    </div>
                    <div class="content clearfix">
                      <h5>Honeymoon Time in Maldives</h5>
                      <div class="rating-wrapper">
                        <div class="raty-wrapper">
                          <div class="star-rating-read-only" data-rating-score="4.5"></div> <span> / 7 review</span>
                        </div>
                      </div>
                      <div class="absolute-in-content">
                        <span class="btn"><i class="fa fa-heart-o"></i></span>
                        <div class="price">$1422</div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              
              <div class="GridLex-col-4_sm-6_xs-12 mb-30">
                <div class="package-grid-item"> 
                  <a href="detail-page.html">
                    <div class="image">
                      <img src="images/tour-package/07.jpg" alt="Tour Package" />
                      <div class="absolute-in-image">
                        <div class="duration"><span>4 days 3 nights</span></div>
                      </div>
                    </div>
                    <div class="content clearfix">
                      <h5>Scandinavia Attractions</h5>
                      <div class="rating-wrapper">
                        <div class="raty-wrapper">
                          <div class="star-rating-read-only" data-rating-score="5.0"></div> <span> / 7 review</span>
                        </div>
                      </div>
                      <div class="absolute-in-content">
                        <span class="btn"><i class="fa fa-heart-o"></i></span>
                        <div class="price">$1422</div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              
              <div class="GridLex-col-4_sm-6_xs-12 mb-30">
                <div class="package-grid-item"> 
                  <a href="detail-page.html">
                    <div class="image">
                      <img src="images/tour-package/08.jpg" alt="Tour Package" />
                      <div class="absolute-in-image">
                        <div class="duration"><span>4 days 3 nights</span></div>
                      </div>
                    </div>
                    <div class="content clearfix">
                      <h5>Monaco in Love</h5>
                      <div class="rating-wrapper">
                        <div class="raty-wrapper">
                          <div class="star-rating-read-only" data-rating-score="4.0"></div> <span> / 7 review</span>
                        </div>
                      </div>
                      <div class="absolute-in-content">
                        <span class="btn"><i class="fa fa-heart-o"></i></span>
                        <div class="price">$1422</div>
                      </div>
                    </div>
                  </a>
                </div>
              </div> 
              
              <div class="GridLex-col-4_sm-6_xs-12 mb-30">
                <div class="package-grid-item"> 
                  <a href="detail-page.html">
                    <div class="image">
                      <img src="images/tour-package/09.jpg" alt="Tour Package" />
                      <div class="absolute-in-image">
                        <div class="duration"><span>4 days 3 nights</span></div>
                      </div>
                    </div>
                    <div class="content clearfix">
                      <h5>Highlights of Italy</h5>
                      <div class="rating-wrapper">
                        <div class="raty-wrapper">
                          <div class="star-rating-read-only" data-rating-score="4.5"></div> <span> / 7 review</span>
                        </div>
                      </div>
                      <div class="absolute-in-content">
                        <span class="btn"><i class="fa fa-heart-o"></i></span>
                        <div class="price">$1422</div>
                      </div>
                    </div>
                  </a>
                </div>
              </div> -->
              
            </div>
          
          </div>
          
        </div>
        
      </section>





<!--<div class="vc_row wpb_row vc_row-fluid vc_custom_1444213872221 wpestate_row vc_row">
  <div class="wpb_column vc_column_container vc_col-sm-12 vc_column">
    <div class="wpb_wrapper">
      <div class="wpb_text_column wpb_content_element  vc_custom_1443689357048 frontheading vc_column_text">
        <div class="wpb_wrapper">
          <h1 style="text-align: center; margin-bottom: 10px;">Tours en Panamá</h1>
          <div class="subheading">Estos son los mejores tours en Panamá</div>
        </div>
      </div>
      <div class=" bottom-estate_property nobutton ">
        <div class="items_shortcode_wrapper">  
          {{# each data.tours.results}}
          <div class="listing_wrapper col-md-3 shortcode-col property_unit_v2 property_flex " data-listid="115"> 
            <div class="property_listing " data-link="/tour/{{slug}}">
              <div class="listing-unit-img-wrapper">
                <a href="/tour/{{slug}}">
               
                <div id="img-container"style="position: relative; height: 225px;">
                    <div style="background-image: url(https://res.cloudinary.com/triptable/image/upload/c_scale,h_300/v{{images.0.version}}/{{images.0.public_id}}.{{images.0.format}}); background-color: transparent; background-size: cover; background-position: center; height: 100%; width: auto;">
                    </div> 
                    </div> 
                </a> 
              </div>
              <div class="featured_div">Destacado</div>          
              <div class="title-container">
                <div class="price_unit_wrapper">
                  <div class="price_unit">$ {{price}} </div> 
                </div>
                <a href="http://triptableapp.com/owners/janetdemo/" class="owner_thumb" style="background-image: url('/styles/framework/css/css-images/profile.jpg')"></a>
                <div class="category_name">
                  <a href="/tour/{{slug}}" class="listing_title_unit">
                    {{name}}</a>
                  <div class="category_tagline">
                    <img src="/styles/framework/css/css-images/unit_pin.png" alt="location">
                    <a href="http://triptableapp.com/area/mattapan/" rel="tag">{{province.province}}</a>, <a href="/tour/{{slug}}" rel="tag">{{country.country}}</a>
                  </div>
                  </div>
                  <div class="property_unit_action">
                    <span class="icon-fav icon-fav-off" data-original-title="add to favorites" data-postid="115"><i class="fa fa-heart"></i></span>
                  </div>
                </div>
              </div>          
            </div>
            {{/each}}
          </div>
        </div>
      <div class="spacer" style="height:15px;"></div>
    </div>
  </div>
</div> -->
