<section class="bg-light">

        <div class="container-fluid featured-tours">
          <div class="row" >
            <div class="col-md-12" >
              <h1 style="margin:10px 0px;" class="tourTitle">Tours {{i18n "in"}} {{i18n "panama"}} <a href="/panama" class="tourlink"> ({{i18n "see_all"}})</a></h1>
            </div>
          </div>

          <div class="GridLex-gap-30-wrappper package-grid-item-wrapper">
            <div class="GridLex-grid-noGutter-equalHeight tour-row" id="panamaTours">
              
             {{#each_upto toursPanama.results 12}}
              {{>home/tours/homeTour}}
              {{/each_upto}}
           
            </div>
          </div>
          </div>

        <div class="container-fluid featured-tours">

          <div class="row">
            <div class="col-md-12">
              <h1 class="tourTitle" >Tours {{i18n "in"}} Colombia <a href="/colombia" class="tourlink"> ({{i18n "see_all"}})</a></h1><br>
            </div>
          </div>
          <div class="GridLex-gap-30-wrappper package-grid-item-wrapper">
            <div class="GridLex-grid-noGutter-equalHeight tour-row" id="colombiaTours">
             {{#each_upto toursColombia.results 8}}
              {{>home/tours/homeTour}}
              {{/each_upto}}

            </div>
          </div>
        </div>

        <div class="container-fluid featured-tours">

          <div class="row">
            <div class="col-md-12">
              <h1 class="tourTitle" >Tours {{i18n "in"}} {{i18n "mexico"}} <a href="/mexico" class="tourlink">({{i18n "see_all"}})</a></h1><br>
            </div>
          </div>
          <div class="GridLex-gap-30-wrappper package-grid-item-wrapper">
            <div class="GridLex-grid-noGutter-equalHeight" id="mexicoTours">
             {{#each_upto toursMexico.results 8}}
              {{>home/tours/homeTour}}
              {{/each_upto}}
            </div>
          </div>
        </div>


        {{>home/destinos}}

      </section>
         <script type="text/javascript">
         var responsiveSettings = [
                  {
      breakpoint: 1024,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 1,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 768,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    },
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ];
         var settings = {
                  infinite: true,
                  slidesToShow: 4,
                  slidesToScroll: 1,
                  arrows:true,
                  responsive: responsiveSettings,
                  autoplay: true
                };
              $(document).ready(function(){
                $('#panamaTours').slick(settings);
                $('#colombiaTours').slick(settings);
                $('#mexicoTours').slick(settings);
            //    $('#latestsTours').slick(settings);
              });
              </script>