<div class="vc_row wpb_row vc_row-fluid vc_custom_1444213872221 wpestate_row vc_row">
  <div class="wpb_column vc_column_container vc_col-sm-12 vc_column">
    <div class="wpb_wrapper">
      <div class="wpb_text_column wpb_content_element  vc_custom_1443689357048 frontheading vc_column_text">
        <div class="wpb_wrapper">
          <h1 style="text-align: center; margin-bottom: 10px;">Tours en Panamá</h1>
          <div class="subheading">Estos son los mejores tours en Panamá</div>
        </div>
      </div>
      <div class=" bottom-estate_property nobutton ">
        <div class="items_shortcode_wrapper">  
          {{# each data.tours.results}}
          <div class="listing_wrapper col-md-3 shortcode-col property_unit_v2 property_flex " data-listid="115"> 
            <div class="property_listing " data-link="/tour/{{slug}}">
              <div class="listing-unit-img-wrapper">
                <a href="/tour/{{slug}}">
                <div id="img-container"style="position: relative; height: 225px;">
                    <div style="background-image: url({{images.0.url}}); background-color: transparent; background-size: cover; background-position: center; height: 100%; width: auto;">
                    </div> 
                    </div> 
                </a> 
              </div>
              <div class="featured_div">featured</div>          
              <div class="title-container">
                <div class="price_unit_wrapper">
                  <div class="price_unit">$ {{price}} </div> 
                </div>
                <a href="http://triptableapp.com/owners/janetdemo/" class="owner_thumb" style="background-image: url('/styles/framework/css/css-images/profile.jpg')"></a>
                <div class="category_name">
                  <a href="/tour/{{slug}}" class="listing_title_unit">
                    {{name}}</a>
                  <div class="category_tagline">
                    <img src="/styles/framework/css/css-images/unit_pin.png" alt="location">
                    <a href="http://triptableapp.com/area/mattapan/" rel="tag">{{location.city}}</a>, <a href="/tour/{{slug}}" rel="tag">{{location.country}}</a>
                  </div>
                  </div>
                  <div class="property_unit_action">
                    <span class="icon-fav icon-fav-off" data-original-title="add to favorites" data-postid="115"><i class="fa fa-heart"></i></span>
                  </div>
                </div>
              </div>          
            </div>
            {{/each}}
          </div>
        </div>
      <div class="spacer" style="height:15px;"></div>
    </div>
  </div>
</div>
