<section class="bg-light">

        <div class="container">

          <div class="row">

            <div class="col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">

              <div class="section-title">

                <h3>Tours Destacados</h3>
                <p>Estos tours han marcado tendencias en nuestros usuarios</p>

              </div>

            </div>

          </div>
          <div class="GridLex-gap-30-wrappper package-grid-item-wrapper">

            <div class="GridLex-grid-noGutter-equalHeight">
             {{#each_upto data.tours.results 6}}
              <div class="GridLex-col-4_sm-6_xs-12 mb-30">
                <div class="package-grid-item">
                  <a href="/tour/{{slug}}">
                    <div class="image">
                      {{#if heroImage.secure_url}}
                      <img src="https://res.cloudinary.com/triptable/image/upload/c_fill,h_400,w_600,q_auto/v{{heroImage.version}}/{{heroImage.public_id}}.{{heroImage.format}}" alt="{{name}}" />
                      {{else}}
                      <img src="https://res.cloudinary.com/triptable/image/upload/c_fill,h_400,w_600,q_auto/v{{images.0.version}}/{{images.0.public_id}}.{{images.0.format}}" alt="{{name}}" />
                      {{/if}}
                      {{#if featured}}
                      <div class="absolute-in-image">
                        <div class="duration"><span>{{categories.[0].name}}</span></div>
                        {{#if multiPrice}}
                        <div class="ribbon-wrapper-green"><div class="ribbon-green">OFERTA</div></div>
                        {{/if}}
                      </div>
                      {{/if}}
                    </div>
                    <div class="content clearfix">
                      <h5>{{name}}</h5>
                      <div class="rating-wrapper">
                        <div class="raty-wrapper">
                          <div class="star-rating-read-only" data-rating-score="{{nOfStars}}"></div> <span> /
                            {{nOfReviews}} reviews</span>
                        </div>
                      </div>
                      <div class="absolute-in-content">
                        <div class="price">${{price}}</div>
                        <div class="booking"><a href="/tour/{{slug}}" class="btn-xs btn-danger booking-cta">Reservar</a></div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              {{/each_upto}}

            </div>
            <div class="text-center pt-10">
            <a href="/panama" class="btn btn-primary">Ver Todos </a>
            </div>
          </div>

        </div>

      </section>
