<section class="bg-light">

        <div class="container-fluid featured-tours">

          <div class="row" >
            <div class="col-md-12" >
              <h1 style="margin:10px 0px;" class="tourTitle">Tours {{i18n "in"}} {{i18n "panama"}} <a href="/panama" class="tourlink"> ({{i18n "see_all"}})</a></h1>
            </div>
          </div>
          <div class="GridLex-gap-30-wrappper package-grid-item-wrapper">
            <div class="GridLex-grid-noGutter-equalHeight">
             {{#each_upto toursPanama.results 8}}
              {{>home/tours/homeTour}}
              {{/each_upto}}

            </div>
          </div>
        </div>

        <div class="container-fluid featured-tours">

          <div class="row">
            <div class="col-md-12">
              <h1 class="tourTitle" >{{i18n "excursions"}} {{i18n "in"}} Colombia <a href="/colombia" class="tourlink"> ({{i18n "see_all"}})</a></h1><br>
            </div>
          </div>
          <div class="GridLex-gap-30-wrappper package-grid-item-wrapper">
            <div class="GridLex-grid-noGutter-equalHeight">
             {{#each_upto toursColombia.results 8}}
              {{>home/tours/homeTour}}
              {{/each_upto}}

            </div>
          </div>
        </div>

        <div class="container-fluid featured-tours">

          <div class="row">
            <div class="col-md-12">
              <h1 class="tourTitle" >{{i18n "things_to_do"}} {{i18n "in"}} {{i18n "mexico"}} <a href="/mexico" class="tourlink">({{i18n "see_all"}})</a></h1><br>
            </div>
          </div>
          <div class="GridLex-gap-30-wrappper package-grid-item-wrapper">
            <div class="GridLex-grid-noGutter-equalHeight">
             {{#each_upto toursMexico.results 8}}
              {{>home/tours/homeTour}}
              {{/each_upto}}
            </div>
          </div>
        </div>

        {{>home/destinos}}

      </section>

    