

<script>
    $(function() {
        console.log( "ready!" );
        var ctx = document.getElementById("myChart");
        var months = [];
        var bookings = [];
        var revenue = [];
        var monthNames = ["0", "January", "February", "March", "April", "May", "June",
        "July", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
        ];
        {{#each data.results}}
         //<li>Month: {{this._id.month}}, Count: {{this.count}}, Total: {{this.total}}</li>
         months.push(monthNames[{{this._id.month}}]);
         bookings.push({{this.count}});
         revenue.push({{this.total}})
         {{/each}}
    var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: months,
        datasets: [{
            label: '# of Bookings',
            data: revenue,
            backgroundColor: [
                'rgba(54, 162, 235, 0.2)',
            ],
            borderColor: [
                'rgba(255,99,132,1)',
            ],
            borderWidth: 2
        },]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
    });
    });
    
</script>

Canvas Bellow: count: 

 
<div class="container">
<canvas id="myChart" width="200" height="200"></canvas>
</div>
