<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
<div class="container">
  <div class="row">
    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tour Reservado</th>
                <th>Fecha Reservada</th>
                <th>Cantidad</th>
                <th>Precio Pagado</th>
                <th>Estado</th>
                <th>Ver Reserva</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>ID</th>
                <th>Tour Reservado</th>
                <th>Fecha Reservada</th>
                <th>Cantidad</th>
                <th>Precio Pagado</th>
                <th>Estado</th>
                <th>Ver Reserva</th>
            </tr>
        </tfoot>
        <tbody>
          {{#each data.bookings}}
            <tr>
                <td class="id"><a href="/admin/booking/{{friendlyId}}"><i class="fa fa-arrow-right"></i> {{friendlyId}}</a></td>
                <td><a href="/admin/booking/{{friendlyId}}">{{tourName}}</a></td>
                <td>{{datePretty}}</td>
                <td class="center">{{people}}</td>
                <td class="center">{{bookingFlatPrice}}$</td>
                <td><span id="status{{friendlyId}}" class="badge"></span></td>
                <td class="center"><a href="/admin/booking/{{friendlyId}}"><i class="fa fa-eye" style="color:black;"></i></a></td>
            </tr>
          <script type="text/javascript">
           var status = {{bookingStatus}};
           var elem = $('#status{{friendlyId}}');
           console.log(status);
           if (status == 0) {
             elem.addClass("pending");
             elem.append("Pendiente");
           }
           if (status == 1) {
             elem.addClass("confirm");
             elem.append("Confirmada");

           }
           if (status == 2) {
             elem.addClass("declined");
             elem.append("Declinada");

           }
           </script>
          {{/each}}
      </tbody>
    </table>
  </div>
</div>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    $('#example').DataTable({
      "paging":   false,
       "ordering": false,
      // "info": false,
       "language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
        }
    });
});
</script>