<style>
  .submit_search_cont{
    margin-top:25px;
  }
</style>


<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">

<div id="search_container_2" class="mt-2">
<div id="search_2">
  <ul class="nav nav-tabs">
    <li><a href="#tours" data-toggle="tab" class="active show" id="tab_bt_1"><span>Tours</span></a></li>
    <!--  <li><a href="#hotels" data-toggle="tab" id="tab_bt_2"><span>Hotels</a></li>
      <li><a href="#restaurants" data-toggle="tab" id="tab_bt_3"><span>Restaurants</span></a></li> -->
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade active show" id="tours">
      <form id="tour-search-form" action="/search">
        <div class="row no-gutters custom-search-input-2">
          <div class="col-lg-6">
            <div class="form-group">
              <input class="form-control" type="text" placeholder="{{i18n "search_message"}}." id="autocomplete">
              <i class="icon_pin_alt"></i>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="form-group">
              <input class="form-control date-pick" type="text" name="dates" placeholder="When..">
              <i class="icon_calendar"></i>
            </div>
          </div>
          <div class="col-lg-2">
            <input type="submit" class="btn_search" value="Search">
          </div>
        </div>
        <!-- /row -->
      </form id="tour-search-form">
    </div>
    <!-- End tab -->
    <div class="tab-pane fade" id="hotels">
      <form>
        <div class="row no-gutters custom-search-input-2">
          <div class="col-lg-4">
            <div class="form-group">
              <input class="form-control" type="text" name="location" placeholder="Hotel Name, City...">
              <i class="icon_pin_alt"></i>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <input class="form-control date-pick" type="text" name="date" placeholder="When..">
              <i class="icon_calendar"></i>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="panel-dropdown">
              <a href="#">Guests <span class="qtyTotal hotels">1</span></a>
              <div class="panel-dropdown-content">
                <!-- Quantity Buttons -->
                <div class="qtyButtons hotels">
                  <label>Adults</label>
                  <input type="text" name="qtyInput_hotels" value="1">
                </div>
                <div class="qtyButtons hotels">
                  <label>Childrens</label>
                  <input type="text" name="qtyInput_hotels" value="0">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-2">
            <input type="submit" class="btn_search" value="Search">
          </div>
        </div>
        <!-- /row -->
      </form>
    </div>
    <!-- End tab -->
    <div class="tab-pane" id="restaurants">
      <form>
        <div class="row no-gutters custom-search-input-2">
          <div class="col-lg-4">
            <div class="form-group">
              <input class="form-control" type="text" placeholder="Restaurant Name, City...">
              <i class="icon_pin_alt"></i>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <input class="form-control date-pick" type="text" name="dates" placeholder="When..">
              <i class="icon_calendar"></i>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="panel-dropdown">
              <a href="#">Guests <span class="qtyTotal restaurants">1</span></a>
              <div class="panel-dropdown-content">
                <!-- Quantity Buttons -->
                <div class="qtyButtons restaurants">
                  <label>Adults</label>
                  <input type="text" name="qtyInput_restaurants" value="1">
                </div>
                <div class="qtyButtons restaurants">
                  <label>Childrens</label>
                  <input type="text" name="qtyInput_restaurants" value="0">
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-2">
            <input type="submit" class="btn_search" value="Search">
          </div>
        </div>
        <!-- /row -->
      </form>
    </div>
    <!-- End tab -->
  </div>
</div>
<!-- End search_container_2 -->
</div>
 

<main>
  <div class="container margin_30">

    <div class="main_title">
      <h2>Top<span> {{i18n "destinations"}}</span></h2>
    </div>

    <div class="row">

      {{#each data.cities}}
      <div class="col-lg-3 col-xl-3 col-md-4 col-6">
        <a href="#">
        <div class="tour_container">
          <!--<div class="ribbon_3"><span>Popular</span></div>-->
          <div style="height: 150px;" class="img_container">
            <a href="/destino/{{slug}}">
              <img style="height: 150px;" data-src="https://res.cloudinary.com/triptable/image/upload/c_fill,h_500,w_auto,g_center,q_90/{{image.public_id}}.{{image.format}}" width="800" height="533" class="img-fluid lazyload" alt="{{city}}">
              <!-- <div class="badge_save">Save<strong>30%</strong></div> -->
            </a>
          </div>
          <a href="/destino/{{slug}}">
          <div class="tour_title">
            <h2>{{city}}</h2>
          </div>
          </a>
        </div><!-- End box tour -->
        </a>
      </div><!-- End col -->
      {{/each}}

    </div><!-- End row -->

    <!--<p class="text-center nopadding d-block d-lg-block">
      <a href="/search" class="btn_1 medium"><i class="icon-eye-7"></i>View all tours (144) </a>
    </p>-->
  </div><!-- End container -->


<div class="container-fluid margin_30 white-bg">

  <div class="main_title">
    <h2>Top<span> {{i18n "tours"}}</span></h2>
  </div>

  <div class="row">

  {{#each toursPanama}}
    <div class="col-lg-3 col-xl-3 col-md-3 col-6">
      <a href="/tour/{{slug}}">
        <div class="tour_container">
         <!-- <div class="ribbon_3 popular">
            <span>Popular</span>
          </div> -->
          <div class="img_container">
            <a href="/tour/{{slug}}">
              <img async data-src="https://res.cloudinary.com/triptable/image/upload/c_fill,f_auto,q_auto,h_400/v{{heroImage.version}}/{{heroImage.public_id}}.{{heroImage.format}}"class="img-fluid lazyload" alt="{{name}}">
              <div class="short_info">
              <span class="price"><sup>{{currency}}</sup>{{getPriceInCurrency price ../toursPanama.currency}} {{../toursPanama.currency}}</span>
              </div>
            </a>
          </div>
          <div class="tour_title">
            <h3>{{name}}</h3>
            <p>{{city.city}}</p>
            <div class="rating">
              <i class="icon-smile voted"></i><i class="icon-smile voted"></i><i class="icon-smile voted"></i><i
                class="icon-smile voted"></i><i class="icon-smile"></i><small>(75)</small>
            </div>
            <!-- end rating -->
        
            <!-- End wish list-->
          </div>
        </div>
        <!-- End box tour -->
      </a>
    </div><!-- End col -->
    {{/each}}

  </div><!-- End row -->

</div><!-- End container -->


     

  <div class="container margin_60 d-none d-md-block">
  
    <div class="main_title">
      <h2>Some <span>good</span> reasons</h2>
      <p>
        Quisque at tortor a libero posuere laoreet vitae sed arcu. Curabitur consequat.
      </p>
    </div>
  
    <div class="row">
  
      <div class="col-6 col-lg-3">
        <div class="feature_home">
          <i class="icon_set_1_icon-41"></i>
          <h3><span>+120</span> Premium tours</h3>
          <p>
            Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet
            deterruisset.
          </p>
          <a href="about.html" class="btn_1 outline">Read more</a>
        </div>
      </div>
  
      <div class="col-6 col-lg-3">
        <div class="feature_home">
          <i class="icon_set_1_icon-30"></i>
          <h3><span>+1000</span> Customers</h3>
          <p>
            Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet
            deterruisset.
          </p>
          <a href="about.html" class="btn_1 outline">Read more</a>
        </div>
      </div>

      <div class="col-6 col-lg-3">
        <div class="feature_home">
          <i class="icon_set_1_icon-30"></i>
          <h3><span>+1000</span> Customers</h3>
          <p>
            Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet
            deterruisset.
          </p>
          <a href="about.html" class="btn_1 outline">Read more</a>
        </div>
      </div>
  
      <div class="col-6 col-lg-3">
        <div class="feature_home">
          <i class="icon_set_1_icon-57"></i>
          <h3><span>H24 </span> Support</h3>
          <p>
            Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet
            deterruisset.
          </p>
          <a href="about.html" class="btn_1 outline">Read more</a>
        </div>
      </div>
  
    </div>
    <!--End row -->
  
    <hr>
  
    <div class="row">
      <div class="col-md-6">
        <img src="img/laptop.png" alt="Laptop" class="img-fluid laptop">
      </div>
      <div class="col-md-6">
        <h3><span>Get started</span> with CityTours</h3>
        <p>
          Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet
          deterruisset.
        </p>
        <ul class="list_order">
          <li><span>1</span>Select your preferred tours</li>
          <li><span>2</span>Purchase tickets and options</li>
          <li><span>3</span>Pick them directly from your office</li>
        </ul>
        <a href="all_tour_list.html" class="btn_1">Start now</a>
      </div>
    </div>
    <!-- End row -->
  
  </div>
  <!-- End container -->



<!-- end main -->  
</main> 



<script>
  window.addEventListener('load', (event) => {
    $('input.date-pick').datepicker('setDate', 'today');
    $('input.time-pick').timepicker({
      minuteStep: 15,
      showInpunts: false
    })

    $('input').iCheck({
      checkboxClass: 'icheckbox_square-grey',
      radioClass: 'iradio_square-grey'
    });
  });

</script>

<script>
  window.addEventListener('load', (event) => {
    var mySwiper = new Swiper('.swiper-container', {
      slidesPerView: 4,
      spaceBetween: 20,
       autoplay: {
        delay: 3000,
      },
      loop: true,
      
      // Responsive breakpoints
     
    });

      $("select.ddslick").each(function () {
        $(this).ddslick({
          showSelectedHTML: true,
          onSelected: function (data) {
            console.log(data.selectedData.value);
            $('#searchForm').attr("action", data.selectedData.value)
          }
        });
        
      });
    });
</script>

<!-- Check box and radio style iCheck -->
