<style>
  #logo_home{
    margin-bottom:10px;
  }
</style>
<section style="" class="parallax-window mobile-parallax-window" data-parallax="scroll" data-image-src="https://res.cloudinary.com/triptable/image/upload/c_fill,h_600,g_center,q_90/{{data.tour.heroImage.public_id}}.{{data.tour.heroImage.format}}">
  <div class="parallax-content-2">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1 class="tour-title">{{{getInLocale data.tour.name data.tour.name_eng false}}}</h1>
          <span>{{data.tour.city.city}}· <i class="icon-user"></i> {{i18n "from"}} {{data.tour.minPerson}} - {{data.tour.maxPerson}} {{i18n "people"}}</span>
          {{#if data.tour.reviews}}
          <span class="rating">
            {{{ calcReview data.tour.nOfStars}}}
            <small>({{data.tour.nOfReviews}} {{i18n "reviews"}})</small></span>
            {{else}}
            <span class="rating">{{i18n "not_reviews_yet"}}</span>{{/if}}
        </div>
        <div class="col-md-4">
          <div id="price_single_main">
            {{i18n "from"}} {{session.userCurrency.value}}<span>{{getPriceInCurrency data.tour.price data.tour.currency}}</span> {{i18n "per_person"}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End section -->
<main>
  <div id="position" class="mt-0">
    <div class="container">
      <ul>
        <li><a href="/">{{i18n "home"}}</a>
        </li>
        <li><a href="/{{data.tour.country.slug}}">{{data.tour.country.country}}</a>
        </li>
       <!-- <li><a href="/{{data.tour.country.slug}}/{{data.tour.province.slug}}">{{data.tour.province.province}}</a>
        </li> -->
        <li> <a href="/destino/{{data.tour.city.slug}}">{{data.tour.city.city}}</a></li>
      </ul>
    </div>
  </div>
  <!-- End Position -->


  <!-- End Map -->

  <div class="container margin_60">
    <div class="row">
      <div class="col-lg-8" id="single_tour_desc">
        <div id="single_tour_feat">
          <ul>
            <li><i class=" icon_set_1_icon-63"></i>{{i18n "mobile_voucher_accepted"}}</li>
            <li><i class="icon_set_1_icon-83"></i>{{#if data.tour.isMultiDay}} {{data.tour.duration}} {{i18n "days"}} {{else}} {{data.tour.duration}} {{i18n "hours"}}{{/if}}</li>
            <li><i class="icon_set_1_icon-89"></i>{{i18n "24_hour_support"}}</li>
            {{#if data.tour.tourGuide}}<li><i class="icon_set_1_icon-29"></i>{{i18n "verified_operator"}}</li>{{/if}}
            {{#if data.tour.transportation}}<li><i class="icon_set_1_icon-26"></i>{{i18n "transportation_included"}}</li>{{/if}}

          </ul>
        </div>
        <div id="booking-container" class="container pr-0 pl-0">
          <div class="collapse" id="collapseMap">
            <!--booking form --> 
            <div>
            {{>v3/tour/_bookingFormPartial}}
            </div>
            <!-- end booking form -->
          </div>
        </div>

        <p class="d-block d-lg-none mb-2"><a class="btn_map" id="open_booking_form" data-toggle="collapse" href="#collapseMap"
            aria-expanded="false" aria-controls="collapseMap" data-text-swap="{{i18n "check_availability"}}"
            data-text-original="{{i18n "check_availability"}}">{{i18n "check_availability"}}</a></p>
        <!-- Map button for tablets/mobiles -->

        <div id="Img_carousel" class="slider-pro">
          <div class="sp-slides">
            {{#each data.tour.images}}
            <div class="sp-slide">
              <img async alt="{{{getInLocale data.tour.name data.tour.name_eng false}}}" class="sp-image" src="https://res.cloudinary.com/triptable/image/upload/c_fill,h_400,g_center,q_90/{{public_id}}.{{format}}"
                data-src="https://res.cloudinary.com/triptable/image/upload/c_fill,h_400,g_center,q_90/{{public_id}}.{{format}}" data-small="https://res.cloudinary.com/triptable/image/upload/c_fill,h_400,g_center,q_90/{{public_id}}.{{format}}"
                data-medium="https://res.cloudinary.com/triptable/image/upload/c_fill,h_400,g_center,q_90/{{public_id}}.{{format}}" data-large="https://res.cloudinary.com/triptable/image/upload/c_fill,h_400,g_center,q_90/{{public_id}}.{{format}}"
                data-retina="https://res.cloudinary.com/triptable/image/upload/c_fill,h_400,g_center,q_90/{{public_id}}.{{format}}">
            </div>
            {{/each}}
          </div>
          <div class="sp-thumbnails">
            {{#each data.tour.images}}
              <img alt="Image" class="sp-thumbnail" src="https://res.cloudinary.com/triptable/image/upload/c_fill,h_400,g_center,q_90/{{public_id}}.{{format}}">
            {{/each}}
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-lg-3">
            <h3>{{i18n "description"}}</h3>
          </div>
          <div class="col-lg-9 tour-description">
            <p class="tour-description">
             {{{getInLocale data.tour.description.extended data.tour.description_eng.extended false}}}
            </p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-lg-3">
              <h4>{{i18n "whats_included"}}</h4>
          </div>
          <div class="col-lg-9">            
            <div class="row">
              <div class="col-md-6">
                <ul class="list_ok">
                  {{#if data.tour.hotelPickup}}
                  <li>{{i18n "hotel_pickup"}}</li>
                  {{/if}}
                  {{#if data.tour.transportation}}
                  <li>{{i18n "ground_transportation"}}</li>
                  {{/if}}
                  {{#if data.tour.food}}
                  <li>{{i18n "food"}}</li>
                  {{/if}}
                  {{#if data.tour.drinks}}
                  <li>{{i18n "drinks"}}</li>
                  {{/if}}
                  {{#if data.tour.insurance}}
                  <li>{{i18n "insurance"}}</li>
                  {{/if}}
                  {{#if data.tour.taxes}}
                  <li>{{i18n "taxes"}}</li>
                  {{/if}}
                  {{#if data.tour.tickets}}
                  <li>{{i18n "tickets"}}</li>
                  {{/if}}
                  {{#if data.tour.maritimeTransportation}}
                  <li>{{i18n "maritime_transportation"}}</li>
                  {{/if}}
                  {{#if data.tour.snacks}}
                  <li>{{i18n "snacks"}}</li>
                  {{/if}}
                  {{#if data.tour.tourGuide}}
                  <li>{{i18n "tour_guide"}}</li>
                  {{/if}}
                  {{#if data.tour.privateCabin}}
                  <li>{{i18n "private_lodging"}}</li>
                  {{/if}}
                  {{#if data.tour.sharedCabin}}
                  <li>{{i18n "shared_lodging"}}</li>
                  {{/if}}
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="list_ok disabled">
                  {{#if_eq data.tour.hotelPickup false}}
                  <li>{{i18n "hotel_pickup"}}</li>
                  {{/if_eq}}
                  {{#if_eq data.tour.transportation false}}
                  <li>{{i18n "ground_transportation"}}</li>
                  {{/if_eq}}
                  {{#if_eq data.tour.food false}}
                  <li>{{i18n "food"}}</li>
                  {{/if_eq}}
                  {{#if_eq data.tour.drinks false}}
                  <li>{{i18n "drinks"}}</li>
                  {{/if_eq}}
                  {{#if_eq data.tour.insurance false}}
                  <li>{{i18n "insurance"}}</li>
                  {{/if_eq}}
                  <li>{{i18n "tips"}}</li>
                  {{#if_eq data.tour.tourGuide false}}
                  <li>{{i18n "tour_guide"}}</li>
                  {{/if_eq}}
                  <!--
                              {{#if_eq data.tour.privateCabin false}}
                              <li>{{i18n "private_lodging"}}</li>
                              {{/if_eq}}
                              {{#if_eq data.tour.sharedCabin false}}
                              <li>{{i18n "shared_lodging"}}</li>
                              {{/if_eq}}
                              -->
                </ul>
              </div>
            </div>
            <!-- End row  -->
          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-lg-3">
            <h3>{{i18n "usage_instruction"}}</h3>
          </div>
          <div class="col-lg-9 tour-description">
            <p class="tour-description">
              {{{getInLocale data.tour.instructions.es data.tour.instructions.en false}}}
            </p>
          </div>
        </div>    
        <hr>

        {{#if data.tour.cancelationPolicy}}
        <div class="row">
          <div class="col-lg-3">
            <h3>{{i18n "cancelation_policy"}}</h3>
          </div>
          <div class="col-lg-9 tour-description">
            <p class="tour-description">
              {{{getInLocale data.tour.cancelationPolicy.es data.tour.cancelationPolicy.en false}}}
            </p>
          </div>
        </div>
        <hr>
        {{/if}}
        {{#if data.tour.importantInfo.es}}
        <div class="row">
          <div class="col-lg-3">
            <h3>{{i18n "important_information"}}</h3>
          </div>
          <div class="col-lg-9 tour-description">
            <p class="tour-description">
              {{{getInLocale data.tour.importantInfo.es data.tour.importantInfo.en false}}}
            </p>
          </div>
        </div>
        <hr>
        {{/if}}

        <div class="row">
          <div class="col-lg-3">
            <h3>{{i18n "reviews"}} </h3>
            <a href="/signin" class="btn_1 add_bottom_30">{{i18n "leave_review"}}</a>
          </div>
          <div class="col-lg-9">

            <div id="general_rating">
              {{#if data.reviews.length}}
              {{data.reviews.length}} {{i18n "reviews"}}
              <div class="rating">
                {{{ calcReview data.tour.nOfStars}}}
              </div>
              {{else}}
              <div>{{i18n "not_reviews_yet"}}</div>
              {{/if}}
            </div>

            <!-- End general_rating -->
            
            {{#if data.reviews.length}}
            <hr>
            {{#each data.reviews}}
            <div class="review_strip_single rating">
              <img src="../v3/img/avatartt.png" alt="Image" class="rounded-circle">
              
              <h4>{{author.name.full}}</h4>
              <p>
                {{message}}
              </p>
              {{{ calcReview score}}}
            </div>
            {{/each}}
            <!-- End review strip -->
            {{/if}}

          </div>
        </div>
      </div>
      <!--End  single_tour_desc-->

      <aside class="col-lg-4" id="sidebar">
        <div class="theiaStickySidebar">
          <!--booking form -->
        <p>
          <a id="open_booking_form_sidebar" class="btn_map" data-toggle="collapse" href="#collapseMap" aria-expanded="false" aria-controls="collapseMap"
            data-text-swap="{{i18n "check_availability"}}" data-text-original="{{i18n "check_availability"}}">{{i18n "check_availability"}}</a>
        </p>
         <p><a class="btn_full_outline" target="_blank" href="https://api.whatsapp.com/send?phone=50761005609&text=Tour: {{data.tour.name}} - Precio / Price: {{getCurrency}} {{data.tour.price}} - Url https://www.triptable.com/tour/{{data.tour.slug}}"><i class="icon-whats-app"></i> {{i18n "send__whatsapp_message"}}</a></p>
        <div class="box_style_2 d-none d-md-block">
          <i class="icon_set_1_icon-57"></i>
          <h4>{{i18n "need"}} <span>{{i18n "help"}}?</span></h4>
          <a href="https://api.whatsapp.com/send?phone=50761005609&text=Tour: {{data.tour.name}} - Precio / Price: {{getCurrency}} {{data.tour.price}} - Url https://www.triptable.com/tour/{{data.tour.slug}}" class="phone">+507 6100 5609</a>
          <P class="mb-0">{{i18n "support_message"}}</P>
          <small>{{i18n "support_schedule"}}</small>
        </div>
          <!-- end booking form -->
          <!-- booking bar goes here -->
        </div>
        <!--/sticky -->

      </aside>
    </div>
    <!--End row -->
  </div>
  <!--End container -->

  <div id="overlay"></div>
  <!-- Mask on input focus -->

</main>
<!-- End main -->

  <script type="text/javascript">
  document.addEventListener("DOMContentLoaded", () => {
    $('#Img_carousel').sliderPro({
      width: 960,
      height: 500,
      fade: true,
      arrows: true,
      buttons: false,
      fullScreen: false,
      smallSize: 500,
      startSlide: 0,
      mediumSize: 1000,
      largeSize: 3000,
      thumbnailArrows: true,
      autoplay: false
    });

   // $('input.date-pick');
    $('input.time-pick').timepicker({
      minuteStep: 15,
      showInpunts: false
    })
    $('#sidebar').theiaStickySidebar({
      additionalMarginTop: 80
    });
  });
      
  </script>
  
  <!-- Date and time pickers -->
    <!-- Fixed sidebar -->
<script>
  function getDayOfTheWeek(day) {
      var disabledDays = "{{data.tour.daysDisabled}}";
      return disabledDays.includes(day);     // true
    }

    document.addEventListener("DOMContentLoaded", function () {
      $(".sp-image-container").removeAttr("style");
      //	var date = new Date();
      var date = moment();
      var minDaysForBooking = {{ data.tour.skipDays }}; //min days for booking
      var isInvalid = true;
      var minDate = date.add(minDaysForBooking, 'days');
      while (isInvalid) {
        var dow = minDate.day();
        isInvalid = getDayOfTheWeek(dow);
        if (isInvalid) {
          minDate = date.add(1, 'days');
        } else {
          isInvalid = false;
        }
      }
    var daysDisabled = "{{data.tour.daysDisabled}}";
    var disabledDates = "{{data.tour.disabledDates}}";
    $(".datepicker").datepicker({
      format: 'yyyy-MM-DD',
      daysOfWeekDisabled: [1, 2],
      daysOfWeekHighlighted:[4],
      language:	'es',
      beforeShowDay : (date) => {
      },
    });
    //$("#datepicker").datepicker('setDate', 'today');
    var date2 = new Date();
    date2.setDate(date2.getDate() - 0);
      $('#datepicker').datepicker({
        startDate: date2
      });
    //.datepicker('daysOfWeekDisabled', '[1,2]');
    

      /*beforeShowDay: function (date) {
        debugger;
        var string = $.datepicker.formatDate('yy-mm-dd', date);
        var day = date.getDay();
        var isDayDisabled = daysDisabled.includes(day);
        var isDateDisabled = disabledDates.includes(string);
        var isValid = false;
        if (isDayDisabled) {
          isValid = isDayDisabled;
        }
        return [!isValid, ""];
      }, 
      minDate: date._d,
    });*/
			});

  document.getElementById("open_booking_form").addEventListener("click", function (e){
      $(window).scrollTop($('#booking-container').offset().top - 25)
  })
   document.getElementById("open_booking_form_sidebar").addEventListener("click", function (e) {
      $(window).scrollTop($('#booking-container').offset().top - 25)
    })

    document.addEventListener("DOMContentLoaded", function () {
      document.getElementById("bookingForm").addEventListener("click", function (e) {
        let adults = parseInt($("#adults").val());
        let maxAdults = parseInt("{{data.tour.maxPerson}}");
        let minAdults = parseInt("{{data.tour.minPerson}}");
        if (adults > maxAdults) {
          alert("maximo de adultos: " + maxAdults);
          return $("#adults").val(maxAdults);
        } 
        else if (adults < minAdults) {
          alert("mínimo de adultos: " + minAdults);
          return $("#adults").val(minAdults);
        }
        else {
          return false;
        }
      });

      $("#bookingForm").on('submit', function(e){
        let isoDate = $("#datepicker").datepicker('getDate');
        let dateString = isoDate.toISOString();
        let splitDate = dateString.split('T'); 
        let fullDate = splitDate[0];
        $('#hiddenDate').val(fullDate);
//                e.preventDefault();
      })
    });
      
</script>