<div class="GridLex-col-3_md-6_xs-12 mb-20">
                <div class="package-grid-item">
                  <a href="/tour/{{slug}}">
                    <div class="image">
                      {{#if heroImage.secure_url}}
                      <img src="https://res.cloudinary.com/triptable/image/upload/c_fill,h_400,w_600,q_auto/v{{heroImage.version}}/{{heroImage.public_id}}.{{heroImage.format}}" alt="{{name}}" />
                      {{else}}
                      <img src="https://res.cloudinary.com/triptable/image/upload/c_fill,h_400,w_600,q_auto/v{{images.0.version}}/{{images.0.public_id}}.{{images.0.format}}" alt="{{name}}" />
                      {{/if}}
                      <div class="absolute-in-image">
                        <div class="price"><span>US ${{price}}</span></div>
      
                        <!--<div class="ribbon-wrapper-green"><div class="ribbon-green">{{i18n "sale"}}</div></div>-->
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="col-xs-6 duration">
                          <span>{{categories.[0].name}}</span>
                        </div>
                        <div class="col-xs-6 duration">
                          <span class="pax"><i class="fa fa-users"></i> {{minPerson}} - {{maxPerson}} Pax </span>
                        </div>
                        <div class="col-xs-12" style="padding:0px 15px;">
                          <h5>{{getTourLocName name name_eng }}</h5>
                            <div class="tour-details">
                                <div class="col-xs-12" style="margin-bottom: 5px;">
                                  <i class="fa fa-clock-o"></i> <span>{{duration}} {{#if isMultiDay}} {{i18n "days"}} {{else}} {{i18n "hours"}}{{/if}}</span>
                                </div>
                                 <!--<div class="col-xs-12" ">
                                  <i class="fa fa-clock-o"></i> <span>{{duration}} {{#if isMultiDay}} Días {{else}} Horas {{/if}}</span>
                                  </div>-->
                            </div>
                        </div><!--end tour details div -->
                      </div>
                    
                    </div>
                  </a>
                </div>
              </div>