<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 no-padding">
                <a href="/destino/{{slug}}">
                  <div class="img_container city-container" style="background: linear-gradient( rgba(20,20,20, .3), rgba(20,20,20, .3)),url('https://res.cloudinary.com/triptable/image/upload/c_fill,h_450,w_450/v{{image.version}}/{{image.public_id}}.{{image.format}}'); background-position: 50%; background-size: cover;">
                        <h2 class="destination-name no-margin">Tours {{i18n "in"}} {{city}}</h2>
                    </div>  </a>
                </div>