<!-- Content
	================================================== -->

		<!-- Titlebar -->
		<div id="titlebar">
			<div class="row">
				<div class="col-md-12">
					<h2>{{i18n "edit_activity"}}</h2>
					<!-- Breadcrumbs -->
					<nav id="breadcrumbs">
						<ul>
							<li><a href="#">{{i18n "home"}}</a></li>
							<li><a href="#">{{i18n "dashboard"}}</a></li>
							<li>{{i18n "edit_activitys"}}</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	{{#if data.validationErrors}}
	<p>error: {{data.validationErrors.name.message}}</p>
	<p>error: {{data.validationErrors.duration.message}}</p>
	{{/if}}

	{{#if messages.success}}
		<div class="notification success closeable">
			<p><span>{{i18n "sucesss"}}!</span> {{i18n "activity_update_message_success"}}</p>
			<a class="close"></a>
		</div>
		
	{{/if}}
	
	

		<div class="row">
			<div class="col-lg-12">
        <form method="POST" action="/admin/tour/edit/{{data.tour.tourId}}" enctype="multipart/form-data">
				<div id="add-listing">

					<!-- Section -->
					<div class="add-listing-section">

						<!-- Headline -->
						<div class="add-listing-headline">
							<h3><i class="sl sl-icon-doc"></i> {{i18n "tour_information"}}</h3>
						</div>

						<!-- Title -->
       
						<div class="row with-forms">
							<div class="col-md-12">
								<h5>{{i18n "tour_title"}} <i class="tip" data-tip-content="{{i18n "tour_title_tip"}}"></i></h5>
								<input class="search-field" name="name" type="text" value="{{data.tour.name}}"/>
							</div>
						</div>
            <div class="row">
							<div class="col-md-12">
                <div class="form">
                  <h5>{{i18n "description"}} <i class="tip" data-tip-content="{{i18n "description_tip"}}"></i></h5>
										<textarea id="summernote" name="description.extended">{{data.tour.description.extended}}</textarea>
                </div>
						  </div>
						</div>

						<!-- Row -->
						<div class="row with-forms">
							<div class="col-md-6">
								<h5>{{i18n "activity_type"}}</h5>
								<div>
									<select name="tourType" id="tourTypeSelect">
										<option value="private tour">private tour</option>
										<option value="group tour">group tour</option>
									</select>
								</div>
							</div>
							<!-- Status -->
							<div class="col-md-6">
								<h5>{{i18n "min_person"}}</h5>
								<select name="minPerson" id="minPersonSelect">
                  <option value="1">1</option>
									<option value="2">1</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
									<option value="11">11</option>
									<option value="12">12</option>
									<option value="13">13</option>
									<option value="14">14</option>
									<option value="15">15</option>
									<option value="16">16</option>
									<option value="17">17</option>
									<option value="18">18</option>
									<option value="19">19</option>
									<option value="20">20</option>
									<option value="21">21</option>
									<option value="22">22</option>
									<option value="23">23</option>
									<option value="24">24</option>
									<option value="25">25</option>
									<option value="26">26</option>
									<option value="27">27</option>
									<option value="28">28</option>
									<option value="29">29</option>
									<option value="30">30</option>
								</select>
							</div>

							<!-- Type -->
							<div class="col-md-6">
								<h5>{{i18n "max_person"}} <i class="tip" data-tip-content=""></i></h5>
								<select id="maxPersonSelect" name="maxPerson">
									<option value="1">1</option>
									<option value="2">1</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
									<option value="6">6</option>
									<option value="7">7</option>
									<option value="8">8</option>
									<option value="9">9</option>
									<option value="10">10</option>
									<option value="11">11</option>
									<option value="12">12</option>
									<option value="13">13</option>
									<option value="14">14</option>
									<option value="15">15</option>
									<option value="16">16</option>
									<option value="17">17</option>
									<option value="18">18</option>
									<option value="19">19</option>
									<option value="20">20</option>
									<option value="21">21</option>
									<option value="22">22</option>
									<option value="23">23</option>
									<option value="24">24</option>
									<option value="25">25</option>
									<option value="26">26</option>
									<option value="27">27</option>
									<option value="28">28</option>
									<option value="29">29</option>
									<option value="30">30</option>
								</select>
							</div>

						</div>
						<!-- Row / End -->

            <!-- Row -->
						<div class="row with-forms">

							<!-- Status -->
							<div class="col-md-6">
								<h5>{{i18n "activity_duration"}}</h5>
                  <input name="duration" value="{{data.tour.duration}}" type="number">
									<select id="isMultiDaySelect" name="isMultiDay">
									<option value="false" >{{i18n "hours"}}</option>
									<option value="true" >{{i18n "days"}}</option>
								</select>
		
			
							</div>
							

							<!-- Type -->
							<div class="col-md-6">
								<h5>{{i18n "youtube_link"}} <i class="tip" data-tip-content="{{i18n "youtube_link_tip"}}"></i></h5>
								<input class="search-field" name="youtube" type="url" value="{{data.tour.videoId}}"/>
							</div>

						</div>
						<!-- Row / End -->
					<div class="row with-forms">
						<div class="col-md-12">
							<h5 class=" margin-top-30 margin-bottom-10">{{i18n "includes"}} <span>({{i18n "optional"}})</span></h5>
					<div class="col-md-12">
						<div class="checkboxes in-row margin-bottom-20">
					
							<input id="hotel_pickup" type="checkbox" name="hotelPickup">
							<label for="hotel_pickup">{{i18n "hotel_pickup"}}</label>

							<input id="ground_transportation" type="checkbox" name="transportation">
							<label for="ground_transportation">{{i18n "ground_transportation"}}</label>

							<input id="maritime_transportation" type="checkbox" name="maritimeTransportation">
							<label for="maritime_transportation">{{i18n "maritime_transportation"}}</label>

							<input id="food" type="checkbox" name="food">
							<label for="food">{{i18n "food"}}</label>

							<input id="drinks" type="checkbox" name="drinks">
							<label for="drinks">{{i18n "drinks"}}</label>

							<input id="snacks" type="checkbox" name="snacks">
							<label for="snacks">{{i18n "snacks"}}</label>

							<input id="insurance" type="checkbox" name="insurance">
							<label for="insurance">{{i18n "insurance"}}</label>	

					
						</div>
					</div>	
				</div>
				</div>

				

					</div>

							<div class="add-listing-section margin-top-45">
								<div class="add-listing-headline">
									<h3><i class="sl sl-icon-picture"></i> {{i18n "calendar"}}</h3>
								</div>
								<div class="row with-forms">
						<div class="col-md-12">
							<h5 class=" margin-top-30 margin-bottom-10">{{i18n "days_available"}} <span></span></h5>
								<div class="col-md-12">
									<div class="checkboxes in-row margin-bottom-20">
										<fieldset id="checkArray">
								
											<input id="monday" type="checkbox" name="monday">
											<label for="monday">{{i18n "monday"}}</label>

											<input id="tuesday" type="checkbox" name="tuesday">
											<label for="tuesday">{{i18n "tuesday"}}</label>

											<input id="wednesday" type="checkbox" name="wednesday">
											<label for="wednesday">{{i18n "wednesday"}}</label>

											<input id="thursday" type="checkbox" name="thursday">
											<label for="thursday">{{i18n "thursday"}}</label>

											<input id="friday" type="checkbox" name="friday">
											<label for="friday">{{i18n "friday"}}</label>

											<input id="saturday" type="checkbox" name="saturday">
											<label for="saturday">{{i18n "saturday"}}</label>

											<input id="sunday" type="checkbox" name="sunday">
											<label for="sunday">{{i18n "sunday"}}</label>	
										</fieldset>
										

								
											</div>
										</div>	
									</div>
								</div>
								<div class="row with-forms">

									<div class="col-md-4">
										<h5>{{i18n "days_before_booking"}} <i class="tip" data-tip-content="{{i18n "days_before_booking_tip"}}"></i></h5>
										<input class="search-field" name="skipDays" type="number" min="0" max="30" value="{{data.tour.skipDays}}"/>
									</div>

									<div class="col-md-4">
										<h5>{{i18n "tour_departure_time"}} <i class="tip" data-tip-content="{{i18n "tour_departure_time_tip"}}"></i></h5>
										<input class="search-field" name="departureTime" type="time" value="{{data.tour.departureTime}}"/>
									</div>

									<div class="col-md-4">
										<h5>{{i18n "tour_arrival_time"}} <i class="tip" data-tip-content="{{i18n "tour_arrival_time_tip"}}"></i></h5>
										<input class="search-field" name="arrivalTime" type="time" value="{{data.tour.arrivalTime}}"/>
									</div>

								</div>
							</div>
					

					<div class="add-listing-section margin-top-45">

						<!-- Headline -->
						<div class="add-listing-headline">
							<h3><i class="sl sl-icon-picture"></i> {{i18n "activity_main_photo"}}</h3>
						</div>

						<!-- Dropzone -->
						{{#if data.tour.heroImage.secure_url}}
						<img class="featured" async width="250" src="{{data.tour.heroImage.secure_url}}" />
						<input type="file" name="heroImage" accept="image/*">
						{{else}}
						<input type="file" name="heroImage" accept="image/*">
						{{/if}}


					</div>
		
					<button type="submit" class="button preview">{{i18n "save"}} <i class="fa fa-arrow-circle-right"></i></button>

				</div>
        </form> 
				
	
				</div>
				</div>
				
						<!-- Section 
					<div class="add-listing-section margin-top-45">

						<!-- Headline 
						<div class="add-listing-headline">
							<h3><i class="sl sl-icon-picture"></i> Gallery</h3>
						</div>

						<div class="submit-section" >
							<form class="dropzone" action="/admin/tour/addImages" enctype="multipart/form-data"></form>
						</div>

					</div>
				

			</div>
			</div>
		
<!-- Opening hours added via JS (this is only for demo purpose) -->
<script>

	$(document).ready(function(){

		$('#minPersonSelect').val({{data.tour.minPerson}});
		$('#maxPersonSelect').val({{data.tour.maxPerson}});
		$('#tourTypeSelect').val("{{data.tour.tourType}}");
		
		// Checks
		
		if ({{data.tour.hotelPickup}}) $('#hotel_pickup').attr("checked", "checked"); 
		if ({{data.tour.transportation}}) $('#ground_transportation').attr("checked", "checked"); 
		if ({{data.tour.maritimeTransportation}}) $('#maritime_transportation').attr("checked", "checked"); 
		if ({{data.tour.food}}) $('#food').attr("checked", "checked"); 
		if ({{data.tour.drinks}}) $('#drinks').attr("checked", "checked"); 
		if ({{data.tour.snacks}}) $('#snacks').attr("checked", "checked"); 
		if ({{data.tour.insurance}}) $('#insurance').attr("checked", "checked"); 

		var daysArray = "{{data.tour.daysDisabled}}";

		if (!daysArray.includes(0)) $('#sunday').attr("checked", "checked"); 
		if (!daysArray.includes(1)) $('#monday').attr("checked", "checked"); 
		if (!daysArray.includes(2)) $('#tuesday').attr("checked", "checked"); 
		if (!daysArray.includes(3)) $('#wednesday').attr("checked", "checked"); 
		if (!daysArray.includes(4)) $('#thursday').attr("checked", "checked"); 
		if (!daysArray.includes(5)) $('#friday').attr("checked", "checked"); 
		if (!daysArray.includes(6)) $('#saturday').attr("checked", "checked"); 
 
		if ({{data.tour.isMultiDay}}) $('#isMultiDaySelect').val("{{data.tour.isMultiDay}}");
		
	});


	$(document).ready(function() {
  	$('#tourList').addClass("active");
		
  $('#summernote').summernote({
		 height: 300,
		 toolbar: [
    // [groupName, [list of button]]
    ['style', ['bold', 'italic', 'underline', 'clear']],
    ['font', ['strikethrough', 'superscript', 'subscript']],
    ['fontsize', ['fontsize']],
    ['color', ['color']],
    ['para', ['ul', 'ol', 'paragraph']],
    ['height', ['height']]
  ]
	});
});
  document.addEventListener("DOMContentLoaded", function() {


    $(".opening-day.js-demo-hours .chosen-select").each(function() {
	$(this).append(''+
        '<option></option>'+
        '<option>Closed</option>'+
        '<option>1 AM</option>'+
        '<option>2 AM</option>'+
        '<option>3 AM</option>'+
        '<option>4 AM</option>'+
        '<option>5 AM</option>'+
        '<option>6 AM</option>'+
        '<option>7 AM</option>'+
        '<option>8 AM</option>'+
        '<option>9 AM</option>'+
        '<option>10 AM</option>'+
        '<option>11 AM</option>'+
        '<option>12 AM</option>'+
        '<option>1 PM</option>'+
        '<option>2 PM</option>'+
        '<option>3 PM</option>'+
        '<option>4 PM</option>'+
        '<option>5 PM</option>'+
        '<option>6 PM</option>'+
        '<option>7 PM</option>'+
        '<option>8 PM</option>'+
        '<option>9 PM</option>'+
        '<option>10 PM</option>'+
        '<option>11 PM</option>'+
        '<option>12 PM</option>');
});
  // code...
});
	var daysAv = [];
	$( "form" ).submit(function() {
		if (!$('#monday').is(":checked")) {
			daysAv.push(1);
		}
		if (!$('#tuesday').is(":checked")) {
			daysAv.push(2);
		}
		if (!$('#wednesday').is(":checked")) {
			daysAv.push(3);
		}
		if (!$('#thursday').is(":checked")) {
			daysAv.push(4);
		}
		if (!$('#friday').is(":checked")) {
			daysAv.push(5);
		}
		if (!$('#saturday').is(":checked")) {
			daysAv.push(6);
		}
		if (!$('#sunday').is(":checked")) {
			daysAv.push(0);
		}

		$('<input />').attr('type', 'hidden')
		.attr('name', "daysDisabled")
		.attr('value', daysAv)
		.appendTo('form');
  	return true 
	});
</script>