<!-- Content
	================================================== -->

		<!-- Titlebar -->
		<div id="titlebar">
			<div class="row">
				<div class="col-md-12">
					<h2>{{i18n "add_new_tour"}}</h2>
					<!-- Breadcrumbs -->
					<nav id="breadcrumbs">
						<ul>
							<li><a href="#">{{i18n "home"}}</a></li>
							<li><a href="#">{{i18n "dashboard"}}</a></li>
							<li>{{i18n "add_new_tour"}}</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	{{#if data.validationErrors}}
	<p>error: {{data.validationErrors.name.message}}</p>
	<p>error: {{data.validationErrors.duration.message}}</p>
	{{/if}}
		<div class="row">
			<div class="col-lg-12">
        <form method="POST" action="/admin/tour/add" enctype="multipart/form-data">
				<div id="add-listing">

					<!-- Section -->
					<div class="add-listing-section">

						<!-- Headline -->
						<div class="add-listing-headline">
							<h3><i class="sl sl-icon-doc"></i> {{i18n "tour_information"}}</h3>
						</div>

						<!-- Title -->
       
						<div class="row with-forms">
							<div class="col-md-12">
								<h5>{{i18n "tour_title"}} <i class="tip" data-tip-content="{{i18n "tour_title_tip"}}"></i></h5>
								<input class="search-field" name="name" type="text" value=""/>
							</div>
						</div>
            <div class="row">
							<div class="col-md-12">
                <div class="form">
                  <h5>{{i18n "description"}} <i class="tip" data-tip-content="{{i18n "description_tip"}}"></i></h5>
                  <textarea class="WYSIWYG" name="description_extended" cols="40" rows="3" id="summary" spellcheck="true"></textarea>
                </div>
						  </div>
						</div>

						<!-- Row -->
						<div class="row with-forms">
							<div class="col-md-6">
								<h5>Tour type</h5>
								<div>
								<input type="radio" id="1" name="tourType"  checked="checked" value="group tour">
								<label for="1">Group Tour</label>
								<input type="radio" id="2" name="tourType" value="private tour">
								<label for="2">Private tour</label>
							
									</div>
							</div>

							<!-- Status -->
							<div class="col-md-6">
								<h5>Min Person</h5>
								<select name="minPerson">
                  {{#each data.minPerson}}
									<option>{{this}}</option>
									{{/each}}
								</select>
							</div>

							<!-- Type -->
							<div class="col-md-6">
								<h5>Max Person <i class="tip" data-tip-content="Maximum of 15 keywords related with your business"></i></h5>
								<select name="maxPerson">
								  {{#each data.minPerson}}
									<option>{{this}}</option>
									{{/each}}
								</select>
							</div>

						</div>
						<!-- Row / End -->

            <!-- Row -->
						<div class="row with-forms">

							<!-- Status -->
							<div class="col-md-6">
								<h5>Tour Duration</h5>
							
                  <input name="duration" type="number">
		
			
							</div>

							<!-- Type -->
							<div class="col-md-6">
								<h5>{{i18n "youtube_link"}} <i class="tip" data-tip-content="{{i18n "youtube_link_tip"}}"></i></h5>
								<input class="search-field" name="youtube" type="url" value=""/>
							</div>

						</div>
						<!-- Row / End -->
					<div class="row with-forms">
						<div class="col-md-12">
							<h5 class=" margin-top-30 margin-bottom-10">{{i18n "includes"}} <span>(optional)</span></h5>
					<div class="col-md-12">
						<div class="checkboxes in-row margin-bottom-20">
					
							<input id="check-a" type="checkbox" name="check">
							<label for="check-a">{{i18n "hotel_pickup"}}</label>

							<input id="check-b" type="checkbox" name="check">
							<label for="check-b">{{i18n "ground_transportation"}}</label>

							<input id="check-c" type="checkbox" name="check">
							<label for="check-c">>{{i18n "maritime_transportation"}}</label>

							<input id="check-d" type="checkbox" name="check">
							<label for="check-d">{{i18n "food"}}</label>

							<input id="check-e" type="checkbox" name="check">
							<label for="check-e">{{i18n "drinks"}}</label>

							<input id="check-f" type="checkbox" name="check">
							<label for="check-f">{{i18n "snacks"}}</label>

							<input id="check-g" type="checkbox" name="check">
							<label for="check-g">{{i18n "insurance"}}</label>	

					
						</div>
					</div>	
				</div>
				</div>

				

					</div>

							<div class="add-listing-section margin-top-45">
								<div class="add-listing-headline">
									<h3><i class="sl sl-icon-picture"></i> {{i18n "calendar"}}</h3>
								</div>
								<div class="row with-forms">
						<div class="col-md-12">
							<h5 class=" margin-top-30 margin-bottom-10">{{i18n "days_available"}} <span></span></h5>
								<div class="col-md-12">
									<div class="checkboxes in-row margin-bottom-20">
								
										<input id="monday" type="checkbox" name="monday">
										<label for="monday">{{i18n "monday"}}</label>

										<input id="tuesday" type="checkbox" name="tuesday">
										<label for="tuesday">{{i18n "tuesday"}}</label>

										<input id="wednesday" type="checkbox" name="wednesday">
										<label for="wednesday">>{{i18n "wednesday"}}</label>

										<input id="thursday" type="checkbox" name="thursday">
										<label for="thursday">{{i18n "thursday"}}</label>

										<input id="friday" type="checkbox" name="friday">
										<label for="friday">{{i18n "friday"}}</label>

										<input id="saturday" type="checkbox" name="saturday">
										<label for="saturday">{{i18n "saturday"}}</label>

										<input id="sunday" type="checkbox" name="sunday">
										<label for="sunday">{{i18n "sunday"}}</label>	

								
											</div>
										</div>	
									</div>
								</div>
								<div class="row with-forms">

									<div class="col-md-4">
										<h5>{{i18n "days_before_booking"}} <i class="tip" data-tip-content="{{i18n "days_before_booking_tip"}}"></i></h5>
										<input class="search-field" name="skipDays" type="number" min="0" max="30" value=""/>
									</div>

									<div class="col-md-4">
										<h5>{{i18n "tour_departure_time"}} <i class="tip" data-tip-content="{{i18n "tour_departure_time_tip"}}"></i></h5>
										<input class="search-field" name="departureTime" type="time" value=""/>
									</div>

									<div class="col-md-4">
										<h5>{{i18n "tour_arrival_time"}} <i class="tip" data-tip-content="{{i18n "tour_arrival_time_tip"}}"></i></h5>
										<input class="search-field" name="arrivalTime" type="time" value=""/>
									</div>

								</div>
							</div>
					

					<div class="add-listing-section margin-top-45">

						<!-- Headline -->
						<div class="add-listing-headline">
							<h3><i class="sl sl-icon-picture"></i> </h3>
						</div>

						<!-- Dropzone -->
						<input type="file" name="heroImage" accept="image/*">


					</div>
		
					<button type="submit" class="button preview">Guardar <i class="fa fa-arrow-circle-right"></i></button>

				</div>
        </form> 
				
	
				</div>
				</div>
				
						<!-- Section 
					<div class="add-listing-section margin-top-45">

						<!-- Headline 
						<div class="add-listing-headline">
							<h3><i class="sl sl-icon-picture"></i> Gallery</h3>
						</div>

						<div class="submit-section" >
							<form class="dropzone" action="/admin/tour/addImages" enctype="multipart/form-data"></form>
						</div>

					</div>
				

			</div>
			</div>
		
<!-- Opening hours added via JS (this is only for demo purpose) -->
<script>

  document.addEventListener("DOMContentLoaded", function() {
    $(".opening-day.js-demo-hours .chosen-select").each(function() {
	$(this).append(''+
        '<option></option>'+
        '<option>Closed</option>'+
        '<option>1 AM</option>'+
        '<option>2 AM</option>'+
        '<option>3 AM</option>'+
        '<option>4 AM</option>'+
        '<option>5 AM</option>'+
        '<option>6 AM</option>'+
        '<option>7 AM</option>'+
        '<option>8 AM</option>'+
        '<option>9 AM</option>'+
        '<option>10 AM</option>'+
        '<option>11 AM</option>'+
        '<option>12 AM</option>'+
        '<option>1 PM</option>'+
        '<option>2 PM</option>'+
        '<option>3 PM</option>'+
        '<option>4 PM</option>'+
        '<option>5 PM</option>'+
        '<option>6 PM</option>'+
        '<option>7 PM</option>'+
        '<option>8 PM</option>'+
        '<option>9 PM</option>'+
        '<option>10 PM</option>'+
        '<option>11 PM</option>'+
        '<option>12 PM</option>');
});
  // code...
});
</script>