<!-- Listing Item -->
<div class="col-md-4 col-sm-6">
	<a href="/tour/{{slug}}" class="listing-item-container compact">
		<div class="listing-item">
			{{#if heroImage.secure_url}} <!-- fall back -->
			<img src="https://res.cloudinary.com/triptable/image/upload/w_600/v{{heroImage.version}}/{{heroImage.public_id}}.{{heroImage.format}}" alt="">
			{{else}}
			<img src="https://res.cloudinary.com/triptable/image/upload/c_fill,h_400,w_600,q_auto/v{{images.0.version}}/{{images.0.public_id}}.{{images.0.format}}" alt="{{name}}" />
			{{/if}}
			<div class="listing-badge now-open"><strong>{{getPriceInCurrency price}} {{getCurrency}}</strong></div>
			<div class="listing-item-content">
				<!--<div class="numerical-rating" data-rating="">-10%</div>  -->
				<div class="star-rating" data-rating="4.5"><div class="rating-counter">(12 reviews)</div></div>
				<h3>{{name}}</h3>
				<span>{{city.city}} {{country.name}}</span>
			</div>
			<span class="like-icon"></span>
		</div>
	</a>
</div>
<!-- Listing Item / End -->


			