

<div id="listing_sidebar_date_2" class="widget">
                    <h3 class="widget_sidebar_title" style="text-align: center;"> Make an Online Reservation</h3>
                    <div class="wc-bookings-booking-form">
                      <p class="form-field form-field-wide wc_bookings_field_persons">
                        <label for="wc_bookings_field_persons">Persons:</label>
                        <input type="number" value="{{data.tour.minPerson}}" step="1" min="{{data.tour.minPerson}}" max="{{data.tour.maxPerson}}" name="wc_bookings_field_persons" id="wc_bookings_field_persons" /></p>
                      <p class="form-field form-field-wide wc_booking_field_ wc_bookings_field_resource">
                        <label for="wc_bookings_field_resource">Type:</label>
                        <select name="wc_bookings_field_resource" id="wc_bookings_field_resource">
                          <option value="1847">Standar Package (+<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>0.00</span> per person)</option>
                          <option value="1848">Add Tour (+<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>20.00</span> per person)</option>
                          <option value="1851">Two-Double Suite (+<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#36;</span>238.00</span> per day)</option>
                        </select>
                      </p>
                    </div>
                    <script src="//code.jquery.com/jquery-1.8.2.js"></script>
                    <script src="//code.jquery.com/ui/1.8.24/jquery-ui.js"></script>
                    <fieldset class="wc-bookings-date-picker wc-bookings-date-picker-booking wc_bookings_field_start_date">
                      <div class="picker hasDatepicker">
                        <div id="datepicker" style="margin-bottom: 10px;"></div>
                      </div>
                    </fieldset>
                      
                      <div class="wc-bookings-booking-cost" style="position: relative; zoom: 1;">
                        Price per Person: <strong><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>{{data.tour.price}}</span></strong></div>
                        <button type="submit" class="wc-bookings-booking-form-button single_add_to_cart_button button alt">Book now</button>
                    </div>

<script>
$(function() {
                      function calcTime(offset) {
                            // create Date <o></o>bject for current location
                            var date = new Date();
                            var utc = date.getTime() + (date.getTimezoneOffset() * 60000);
                            var newDate = new Date(utc + (3600000 * offset));
                            return newDate;
                        };
                        var localT = calcTime("-5");
                        var timeOfBooking = moment(localT);
                        timeOfBooking = timeOfBooking._i.getHours();

                      Date.prototype.addDays = function(days)
                        {
                          var dat = new Date(this.valueOf());
                          dat.setDate(dat.getDate() + days);
                          
                          return dat;
                      }
                      var numberOfDaysToAdd = {{data.tour.skipDays}};
                   
                      if (timeOfBooking > 18 && {{data.tour.skipDays}} < 2) {
                            numberOfDaysToAdd = numberOfDaysToAdd + 1 ;
                        }

                        console.log("days t add", numberOfDaysToAdd);
                        console.log("time", timeOfBooking);
                      var today = new Date();
                      today = today.addDays(numberOfDaysToAdd); //cantidad de dias minimos para el booking

                      var disableddates = [{{#each data.tour.disabledDates}}"{{this}}", {{/each}}];
                      var disabledDays = [{{data.tour.daysDisabled}}]; //dias desactivados

                      var datepicker = $.datepicker;

                      function DisableSpecificDates(date) {
                        var day = date.getDay();
                        for (var i=0; i<disabledDays.length;i++){
                          if (day == disabledDays[i]) {
                            return [false]; 
                         } 
                        }

                        var string = datepicker.formatDate('yy-mm-dd', date);
                        return [disableddates.indexOf(string) == -1];
                      }

                     

                      $( "#datepicker").datepicker({ 
                        minDate: today, 
                        beforeShowDay: DisableSpecificDates});
          });


                       </script>