<div id="listing_tags-4" class="widget  widget_listing_tags">
  <ul class="listing-tag-list perks">
    {{#if data.tour.transportation}}
      <li>
        <span class="tag__icon fa fa-bus"></span> <span class="tag__text">{{i18n "transportation"}}</span>
        <span class="fa fa-check-circle blue"></span>
      </li>
      {{else}}
      <li>
          <span class="tag__icon fa fa-bus"></span> <span class="tag__text not-included">{{i18n "transportation"}}</span>
          <span class="fa fa-times-circle red"></span>
      </li>
      {{/if}}
      {{#if data.tour.maritimeTransportation}}
      <li>
          <span class="tag__icon fa fa-ship"></span> <span class="tag__text">Maritime Transportation</span>
          <span class="fa fa-check-circle blue"></span>
      </li>
      {{else}}
      <li>
         <span class="tag__icon fa fa-ship not-included"></span> <span class="tag__text not-included">Maritime Transportation </span>
         <span class="fa fa-times-circle red"></span>
      </li>
      {{/if}}
      {{#if data.tour.tourGuide}}
      <li>
          <span class="tag__icon fa fa-blind"></span> <span class="tag__text">Tour Guide</span>
          <span class="fa fa-check-circle blue"></span>
      </li>
      {{else}}
      <li>
          <span class="tag__icon fa fa-blind not-included"></span> <span class="tag__text not-included">Tour Guide</span> <span class="fa fa-times-circle red"></span>
      </li>
      {{/if}}
      {{#if data.tour.hotelPickup}}
      <li>
          <span class="tag__icon fa fa-building"></span> <span class="tag__text">{{i18n "hotel_pickup"}} </span> <span class="fa fa-check-circle blue"></span>
      </li>
      {{else}}
      <li>
          <span class="tag__icon fa fa-building"></span> <span class="tag__text not-included">{{i18n "hotel_pickup"}}</span> <span class="fa fa-times-circle red"></span>
      </li>
      {{/if}}
      {{#if data.tour.food}}
      <li>
         <span class="tag__icon fa fa-cutlery"></span> <span class="tag__text">{{i18n "food"}}</span>
         <span class="fa fa-check-circle blue"></span>
      </li>
      {{else}}
      <li>
          <span class="tag__icon fa fa-cutlery"></span> <span class="tag__text not-included">{{i18n "food"}}</span> <span class="fa fa-times-circle red"></span>
      </li>
      {{/if}}
      {{#if data.tour.snacks}}
      <li>
          <span class="tag__icon fa fa-shopping-basket"></span> <span class="tag__text">Snacks</span>
          <span class="fa fa-check-circle blue"></span>
      </li>
      {{else}}
      <li>
          <span class="tag__icon fa fa-shopping-basket"></span> <span class="tag__text not-included">Snacks</span>
          <span class="fa fa-times-circle red"></span>
          
      </li>
      {{/if}}
      {{#if data.tour.drinks}}
      <li>
         <span class="tag__icon fa fa-coffee"></span> <span class="tag__text">{{i18n "drinks"}}</span>
         <span class="fa fa-check-circle blue"></span>
      </li>
      {{else}}
      <li>
          <span class="tag__icon fa fa-coffee"></span> <span class="tag__text not-included">{{i18n "drinks"}}</span>
          <span class="fa fa-times-circle red"></span>
      </li>
      {{/if}}
      {{#if data.tour.alcoholicDrinks}}
      <li>
          <span class="tag__icon fa fa-beer"></span> <span class="tag__text">Bebidas Alcoholicas</span>
          <span class="fa fa-check-circle blue"></span>
      </li>
      {{else}}
      <li>
          <span class="tag__icon fa fa-beer"></span> <span class="tag__text not-included">Bebidas Alcoholicas</span>
          <span class="fa fa-times-circle red"></span>
      </li>
      {{/if}}
      {{#if data.tour.lodging}}
      <li>
          <span class="tag__icon fa fa-hotel"></span> <span class="tag__text">Hospedaje </span> 
          <span class="fa fa-check-circle blue"></span>
      </li>
      {{else}}
      <li>
         <span class="tag__icon fa fa-hotel"></span> <span class="tag__text not-included">Hospedaje</span>
          <span class="fa fa-times-circle red"></span>
      </li>
      {{/if}}
      {{#if data.tour.insurance}}
      <li>
          <span class="tag__icon fa fa-shield"></span> <span class="tag__text">{{i18n "insurance"}}</span>
          <span class="fa fa-check-circle blue"></span>
      </li>
      {{else}}
      <li>
          <span class="tag__icon fa fa-shield"></span> <span class="tag__text not-included">{{i18n "insurance"}}</span> <span class="fa fa-times-circle red"></span>
      </li>
      {{/if}}
       {{#if data.tour.hasTaxes}}
            {{#if data.tour.taxes}}
            <li>
                <span class="tag__icon fa fa-usd"></span> <span class="tag__text">{{i18n "taxes"}}</span>
                <span class="fa fa-check-circle blue"></span>
            </li>
            {{else}}
            <li>
                <span class="tag__icon fa fa-usd"></span> <span class="tag__text not-included">{{i18n "taxes"}}</span>
                <span class="fa fa-times-circle red"></span>
            </li>
            {{/if}}
      {{/if}}
      {{#if data.tour.hasTickets}}
       {{#if data.tour.tickets}}
        <li>
            <span class="tag__icon fa fa-ticket"></span> <span class="tag__text">{{i18n "entrance_tickets"}}</span>
            <span class="fa fa-check-circle blue"></span>
        </li>
        
        {{else}}
        <li>
           <span class="tag__icon fa fa-ticket"></span> <span class="tag__text not-included">{{i18n "entrance_tickets"}}</span> 
        </li>
        {{/if}}
        
      {{/if}}
  </ul>
</div>